[2021-06-28 13:45] shuchi03 opened #4014 "Overwrite a file with the modification using spoon"
I have updated a statement in the file and wanted to save the modifications in the same file instead of creating a new one. Can this be done using spoon? I noticed that using the following piece of code -

[code]
It saves all the files in a default output directory.

[2021-06-28 19:40] algomaster99 commented on #3884
We would also need an API - `addCaseExpressionAt`. Agree?

[2021-06-29 08:26] andrewbwogi commented on #4002
The change that causes your problem is in f2ecd5def520d0e8fb5f7c43a8889affd1347aa2. Since then, annotations of exception types are no longer attached to `CtCatch`, but `CtCatchVariable` instead. Are you looking for these annotations in `CtCatch` objects?

[2021-06-29 08:32] gluckzhang commented on #4002
Thanks @andrewbwogi ! Exactly, I was using `CtCatch` in my [implementation](https://github.com/KTH/royal-chaos/blob/master/chaosmachine/annotation_processor/src/main/java/se/kth/chaos/ChaosMachineAnnotationProcessor.java#L23). So now I should use `CtCatchVariable` instead. Correct?

[2021-06-29 08:37] andrewbwogi commented on #4002
Yes, try using `CtCatchVariable` instead.

[2021-06-29 08:42] gluckzhang commented on #4002
Great, thanks for the help. I am closing this issue :)

[2021-06-29 08:42] #4002 closed

[2021-06-29 09:45] Rohitesh-Kumar-Jain commented on #3967
This is an untested class with low usage, 6/8 mutations are for getters and 1 is for initializer. Should I write tests for all getters and the initializer as well?

@slarse, @nharrand, @monperrus ?

![Screen Shot 2021-06-29 at 15 08 13-fullpage](https://user-images.githubusercontent.com/62026125/123775285-dfe25b80-d8eb-11eb-9d8c-7ce73b7b1a38.png)

[2021-06-29 10:57] slarse commented on #3967
I don't know anything about this GUI package, but I don't think it's widely used. Unit testing each and every method seems like a waste of effort to me. Testing GUIs is also a traditionally very difficult task, and you typically want to employ some GUI testing framework for it.

@nharrand and @monperrus might have some more info here, but I think testing this particular package is of very low prio

[2021-06-29 15:03] #3787 closed

[2021-06-30 02:28] nashid opened #4017 "Can Spoon be used to extract control-flow and basic data-flow graphs?"
I am new to Spoon and this library looks great. I need to extract control-flow and basic data-flow graphs i.e. def-use for intraprocedural analysis.

My intention is to feed the enclosing function body of the java source code.

I am wondering whether Spoon is a good fit to extract control-flow and data-flow edges?

[2021-06-30 06:12] nashid commented on #4017
Also, can I extract control-flow and data-flow graphs to a dot or JSON files?

[2021-06-30 06:20] andrewbwogi commented on #4014
Hello @shuchi03, you can set the output directory in `Environment`:
[code]
Now when you use `launcher.prettyprint()`, the model will be written to the chosen directory.

[2021-06-30 08:07] nashid commented on #3251
Hello SPOON contributors,

Thanks for this fantastic library. I would like to use Spoon to generate a control flow diagram and basic data flow diagram for intra-procedural analysis. As an example, given a method for a given variable, I want to extract all the def-use relationships.

In a similar spirit, I have seen a tool called TinyPDG which can generate control flow and data flow though TinyPDG

[2021-06-30 12:42] slarse commented on #3884
Not sure about that. The order of case constants is not semantically important afaik, it's purely syntax. That is to say `case 1,2:` is semantically equivalent to `case 2,1:`.

[2021-06-30 14:13] algomaster99 commented on #3884
That makes sense.

[2021-06-30 14:44] algomaster99 opened #4019 "`this.caseExpression` attribute in `CtCase` is no longer needed"
Reference: https://github.com/INRIA/spoon/pull/4015#issuecomment-869972744

Before Java 12, only one case expression was allowed per case, so spoon maintained an attribute [`this.caseExpression`](https://github.com/INRIA/spoon/blob/3e10fd5ac22b5e7e75773bd9323870f47372f3d2/src/main/java/spoon/support/reflect/code/CtCaseImpl.java#L31) which would store the expression corresponding to the case. Java

[2021-07-01 09:57] gtoison opened #4021 "bug: Combining CtSuperAccess and CtUnaryOperator lead to SpoonException with Sniper"
Hello,

I'm trying to analyze and refactor some code containing the following line (note that is has a "super" access and an unary "minus" operator) :

`Date limitTradeDateBeforeIssue = super.computeSettleDate(getIssueDate(), -days);`

When pretty printing the code with Sniper I get an exception which seems to be coming from this specific line of code:

[code]

The input is a fairly large codebase

[2021-07-01 11:52] slarse commented on #4021
Hi @gtoison,

Thanks for the bug report!

This is definitely a bug in the sniper printer. It's trying to compare to source fragments that are, in terms of source position, overlapping. It may be trying to compare source fragments from different files, which I've previously fixed a bug for with static method imports (see #3743).

I will look at this as soon as possible, but I'm a bit swamped right

[2021-07-01 11:53] slarse commented on #4017
Hi @nashid, welcome to Spoon!

@andrewbwogi you've been digging around the `spoon-control-flow` lately, do you know the answer to these questions off the top of your head?

[2021-07-01 11:55] slarse commented on #4019
I agree, seems like a good refactoring.

[2021-07-01 11:58] gtoison commented on #4021
Thank you very much for the confirmation!

[2021-07-01 13:19] algomaster99 commented on #4019
I am working on it. I shall submit a PR soon.

[2021-07-01 17:53] algomaster99 opened #4022 "bug: Question about equality of `CtCodeSnippetExpression`"
I created two expressions as shown below.

[code]
When I execute `firstExpression.equals(secondExpression);`, I get `true` in return. Clearly, the value of these expressions is different so I cannot understand why they are passing the equality test.

[2021-07-01 19:43] nashid commented on #4017
Thanks, @slarse. Looking forward to the feedback.

[2021-07-02 07:38] andrewbwogi commented on #4017
Hello @nashid, `spoon-control-flow` seems too basic for interprocedural analysis. For instance, method calls are represented as single nodes and not full graphs. Analysis tools are few. The central purpose of this module is to generate diagrams for visualization, which it does in the DOT language.

The data-flow component is limited to extracting initialized variables from a sub-graph. It does not

[2021-07-02 07:52] slarse commented on #4017
Thanks @andrewbwogi!

So, @nashid, I think the short answer to your question is that _yes_, you can do these forms of analyses with Spoon, but the tools we have available off-the-shelf aren't quite sophisticated enough.

[2021-07-02 08:22] slarse commented on #4022
First of all, it's important to note that what you have there are not two literals, but two code snippet expressions. So this question regards equality of `CtCodeSnippetExpression` elements, and not the more general `CtExpression`. If you were to have actual `CtLiteral` elements, the equality would prove false.

[code]

The practical reason why you get that these two are equal is that the `CtBiSca

[2021-07-02 08:58] I-Al-Istannen commented on #3814
I am now parsing them on my own:
[code]

I am not quite sure you want all that baggage in Spoon to be honest. If you do want it, I could try to clean it up a bit and make a PR, otherwise I will just consider this issue closed.

[2021-07-02 09:16] algomaster99 commented on #4022
Oh, right. This is more specific. Thanks for the clarification.

[2021-07-02 09:23] monperrus commented on #4022
I'd say because this is not "code" but only a string. If you compile the snippets first (meaning transforming into an AST) and then scan, it should work.

But it seems to me that it would not hurt or break anything to also visit the snippet by default, an exploratory PR would be welcome.

[2021-07-02 10:04] slarse commented on #4022
So are comments, yet their content defines them :)

I think this is a bug to be fixed, will look at it when I have some time left over.

[2021-07-02 21:53] seemantasaha opened #4026 "Method signature returned by SPOON is not as the same format as Java method signature!"
`Set<CtMethod> curMethodSet = ctClass.getMethods();
for (CtMethod<?> method : curMethodList) {
    String methodSign = method.getSignature();
    System.out.println(methodSign);
}`

I am trying to print the method signature but the signature return by spoon is not as the same format as the Java method signatures. Am I doing something wrong? How can I collect the method signatures in the correct fo

[2021-07-02 22:41] algomaster99 commented on #4026
Hi @seemantasaha!

The method signature comprises only two components - the method's name and the parameter types. You can even look at its definition [here](https://docs.oracle.com/javase/tutorial/java/javaOO/methods.html). Thus, Spoon also follows this format. You can even see its implementation [here](https://github.com/INRIA/spoon/blob/master/src/main/java/spoon/support/visitor/SignaturePrinte

[2021-07-02 22:54] seemantasaha commented on #4026
Hi @algomaster99
I understand everything that you said. But, I was expecting the method signature format to be like:
add(II)I

[2021-07-03 13:50] algomaster99 commented on #4026
Oh, okay. I don't think so there is an API to directly get the type signature. This could probably be because spoon is concerned with transformations of Java source code and getting the type signature is not important for that purpose. I am not sure and @monperrus @slarse may have a better answer for this.

[2021-07-05 07:02] slarse commented on #4026
Hi @seemantasaha,

Spoon is primarily concerned with syntactical and semantic constructs of the Java programming language (concepts you would find in the Java Language Specification), and not with bytecode (concepts you would find in the JVM Specification), so there is seldom a built-in way to get anything related to bytecode.

Creating the JVM signature is however pretty simple using Spoon, somet

[2021-07-05 07:47] slarse commented on #3814
I think this could be interesting to have in Spoon. I'm somewhat out of time on Spoon today, but I'll try to get back to this tomorrow.

[2021-07-06 10:48] Rohitesh-Kumar-Jain commented on #3967
@slarse, @monperrus & @nharrand,

Writing tests for classes such as [`MethodCallStack`](https://github.com/INRIA/spoon/blob/master/src/main/java/spoon/refactoring/MethodCallState.java), is trivial I guess?

[2021-07-06 10:57] #4022 closed

[2021-07-06 12:57] shuchi03 commented on #4014
Thank you for the response. It works well for me.

[2021-07-06 13:09] andrewbwogi commented on #3954
The problem may be in JDT. I'm checking it out.

[2021-07-06 19:36] gtoison commented on #4021
@slarse I've submitted a small PR with a failing unit test reproducing the issue.
Hopefully this helps, if not feel free to reject it!

[2021-07-06 21:37] slarse commented on #4021
@gtoison That's very helpful, thank you!

[2021-07-07 16:58] slarse opened #4033 "CtExtendedModifiers are stored in a HashSet - leads to non-deterministic pretty-printing"
The `ElementPrinterHelper` prints out modifiers by fetching the extended modifiers. These are in turn stored inside a `HashSet`, which is not ordered. The printer-helper sections them in `[visibility] [abstract/static] [everything else]`, but there is no internal ordering in the `abstract/static` and `everything else` parts.

So, for example, a class with the modifiers `abstract static` could be w

[2021-07-08 10:05] slarse opened #4035 "Design suggestions for adding in pattern matching (Java 16 feature)"
@monperrus and I had a meeting based on #4020, and we came up with a few different alternatives to consider.

Note that everywhere it says "introduce type `CtTypePattern`", we should also consider to immediately introduce `CtPattern` as a common supertype of type patterns, record patterns and array patterns (latter two are upcoming, see https://openjdk.java.net/jeps/406). As this is not relevant t

[2021-07-11 13:28] I-Al-Istannen opened #4036 "Inheriting public/static modifier in interface member types"
## Problem statement
[code]
For this Java code `bar.isPublic()`/`bar.isStatic()` returns `false`, as the `Bar` enum does not specify the `public` (or `static`) modifier. However, §9.5 of the JLS specifies (Emphasis mine):

## Tangential problem
Additionally, §8.9 also states

So `bar.isStatic()` ought to return true for this reason as well.

## Question
I would expect `isPublic()` to return true t

[2021-07-11 15:36] slarse commented on #4036
Thanks for the elaborate problem statement.

If I understand correctly, this is two separate problems.

1. Members of interfaces are implicitly public, but the `isPublic()` method does not respect this.
2. Nested enum types are implicitly static, but the `isStatic()` method does not reflect this.

I would consider both of these problems to be bugs. It seems like they should both have implicit modi

[2021-07-12 11:58] #4019 closed

[2021-07-12 12:28] andrewbwogi commented on #3954
The problem is caused by [module-info.java](https://github.com/facebook/buck/blob/b3b2934165b0851279e29f6d6d4d2447bbe1de99/.idea/fileTemplates/internal/module-info.java). As in #3952, this file is a template that contains non-Java syntax.

The exception occurs in JDT, so we can't process the file without duplicating JDT code.

One option is to make a syntax check with the JDT parser of all files b

[2021-07-12 19:20] raghav-deepsource opened #4040 "CtFieldReferenceImpl.isFinal() does not appear to mirror the value returned from the associated field declaration through static block access to local non static final field referenced without `this` qualifier"
It is understandable that if a field reference cannot be associated with a declaration, the values of `CtFieldReferenceImpl.isStatic()` and `isFinal()` would return false as a default. however, in the case of a field reference associated with an existing field declaration, I expected these values to reflect the result of calling isFinal or isStatic on the field declaration itself.

I've written a

[2021-07-12 19:56] raghav-deepsource commented on #4040
Would it be reasonable to delegate the implementation of the reference type's isFinal and isStatic methods to the associated field definition, if present?

[2021-07-12 20:23] raghav-deepsource commented on #4040
on further testing it seems like this mainly  happens with non static values.

[2021-07-12 20:42] raghav-deepsource commented on #4040
Well I guess this should have been expected since it isn't valid java code. This behavior may warrant documentation, imo.

[2021-07-12 20:42] #4040 closed

[2021-07-12 20:44] I-Al-Istannen commented on #4040
I am not sure what behaviour you even want there.

What would you expect
[code]
to return?

As far as I can see the following happens:
1. Your code does not compile. You can not just access an instance field from a static block
2. JDT detects that error and the FieldBinding it passes to spoon has no modifiers as it has no backing field.
3. Spoon reads the default modifiers from the FieldBinding an

[2021-07-12 20:49] slarse commented on #4040
Hi @raghav-deepsource,

Thanks for reaching out. It's as @I-Al-Istannen says, whenever code doesn't compile resolving references becomes problematic, and so the solution in this case is to make the code compile first.

There is definitely room for improvement in how well reference resolution is documented in Spoon, I think [this is all we have at the moment](https://spoon.gforge.inria.fr/reference

[2021-07-12 20:54] raghav-deepsource commented on #4040
@I-Al-Istannen I definitely agree. I hadn't realised this wasn't valid java code when I first encountered it.

Thank you for the detailed reply.

[2021-07-12 21:05] slarse commented on #4040
@raghav-deepsource

I've had this problem in a lot of projects. My go-to mistake is to forget the type of a field.

[code]

I've had test cases with nonsense like that persist for long periods of time, and so nowadays I always make sure that input resources compile (when possible). For example, [here's a test that does just that](https://github.com/SpoonLabs/sorald/blob/87ce9cc379184fe141dc6dea98e

[2021-07-12 21:06] raghav-deepsource commented on #4040
Oh, I'm definitely using that in my tests then, thank you!

[2021-07-12 21:08] raghav-deepsource commented on #4040
Of course, I don't know how much help that would be since so many of my tests just use undefined classes left and right...

[2021-07-12 21:10] slarse commented on #4040
That's the tradeoff, you can't do that anymore :). I usually solve it by defining empty classes in the same file (recall that you can have however man package private classes you'd like in the same file) or nested static class, but it depends on the project and test. For some tests I define entire Maven projects, and then I can check that it compiles just by running `mvn test-compile`.

[2021-07-13 09:05] SirYwell commented on #4035
Nothing to add from my side I think. Thanks for the in-depth analysis of the different designs.

For completeness and everyone coming accross this, more interesting information about pattern matching features that are in planning can be found on https://cr.openjdk.java.net/~briangoetz/amber/pattern-match.html and https://cr.openjdk.java.net/~briangoetz/amber/pattern-semantics.html

[2021-07-14 17:36] nharrand commented on #3967
Hi @Rohitesh-Kumar-Jain ,
It is trivial to write test sthat directly call the classe itself, and hence not necessarily important. But thinking about what other class should be tested and indirectly call this one can be more interesting.

[2021-07-15 02:26] djaekim opened #4044 "CtMethod.getOriginalSourceFragment().getSourceCode(); contains comments even with launcher_test.getEnvironment().setCommentEnabled(false);"
I am trying to obtain original source code of the method, without comments. In the issue [2976](https://github.com/INRIA/spoon/issues/2976), `setCommentEnabled(false) `was suggested. Unfortunately, it did not work for` CtMethod.getOriginalSourceFragment().getSourceCode() `as comment like `/** **/ ` still remains.

I was wondering if this is a desired behavior?

[2021-07-15 02:28] djaekim commented on #4044
Using `CtMethod.getOriginalSourceFragment().getElement()` does remove comments, but now it gives additional reference type of the object.

`@org.junit.jupiter.api.AfterEach
public void afterEach(kafka.test.ClusterConfig config) {
    org.junit.jupiter.api.Assertions.assertSame(this.config, config, "Injected objects should be the same");
}`

[2021-07-15 13:07] djaekim commented on #4044
Seems Like `prettyprint ` does exactly what I need.

[2021-07-15 13:56] slarse commented on #4044
Hi @djaekim,

There's no straightforward way to get the actual original source code without the comment, as the comment counts as part of the source code fragment corresponding to the element. This is true regardless of whether comments are included in the model or not (determined by the `setCommentsEnabled() method`).

When you call `CtElement.prettyprint()`, the element will just be pretty-print

[2021-07-15 13:57] slarse commented on #4044
Not also that for an arbitrary element `element`, then `element.getOriginalSourceFragment().getElement() == element`, it's just a roundtrip to the element itself.

[2021-07-15 14:03] djaekim commented on #4044
I see, thank you for the insight =)

[2021-07-15 14:03] #4044 closed

[2021-07-16 12:51] I-Al-Istannen opened #4051 "bug: Classes in overlapping modules are not resolved correctly"
## Problem statement
Jigsaw projects are allowed to define modules with *overlapping packages*. A real-world example of this is `java.desktop` and `java.datatransfer`, which share the `java.awt` package.
A self-contained example is this:
<details>
<summary>Example</summary>

[code]

<details>
<summary>Bar module info</summary>

[code]
</details>

<details>
<summary>Foo module info</summary>

[code

[2021-07-16 13:41] I-Al-Istannen opened #4052 "bug: Spoon fails to index modules when loaded from file system"
## Problem
Spoon can not index a folder containing multiple modules but *can* index a ZIP containing the exact same data:
[code]

The exact exception is:
[code]

## Cause
The JDT's main method parses the arguments and detects the presence of `module-info.java` files. For some reason (I have absolutely no clue why) it then assumes that *all* the input files are in this module and completly ignores

[2021-07-16 13:45] I-Al-Istannen commented on #4051
I am currently hacking around it using option 2, but that's not quite ideal as I only adjusted one callsite and my handling is inconsistent with the Java requirements (as it does not handle types with the same qualified name in different modules, which can probably happen if they do not require each other). So far it is enough to index OpenJDK 16 without exceptions and properly attribute Javadoc t

[2021-07-16 15:50] slarse commented on #4051
The sample you provided does not compile for me, I get the following error:

[code]

The point of the module system is supposed to provide strong encapsulation, which simply would not be possible if they were allowed to reach inside each others' packages. Two modules exporting the same package therefore seems impossible.

If `bar` requires `foo`, and `foo` exports a package that's present in `bar`

[2021-07-16 17:08] I-Al-Istannen commented on #4051
You are right, I screwed up my `javac` invocation...

While that is true for Java, Spoon's model makes this a bit more problematic. If I have a `java.awt.datatransfer` package, I *will* also have a `java.awt` package as a parent. This is what blows up here: The `java.desktop` module contains a proper `java.awt` package, but `java.datatransfer` contains a "synthetic" `java.awt` package as the paren

[2021-07-19 12:15] andrewbwogi commented on #4052
Hi @I-Al-Istannen, thanks for the report. I believe there is a bug in the JDT compiler. I'll look for a minimal bug reproduction and if it can be solved from Spoon for the time being.

[2021-07-19 22:37] MartinWitt opened #4057 "Bug: Printer fails to write generics for superclasses after setting it"
[code]
The example above shows the problem. The expected output is `class Foo<E> extends Foo<E> {}` but currently the printer drops the generic type. After some debugging I found something, that could be the problem:
[ElementPrinterHelper](https://github.com/INRIA/spoon/blob/e8a1596aa29d8d34f84087fb0dbce1d032b2259f/src/main/java/spoon/reflect/visitor/ElementPrinterHelper.java#L250) `final Collecti

[2021-07-20 06:54] slarse commented on #4057
Hi @MartinWitt,

The output you get is correct given the code. What you're missing here to get your expected output is a type argument to the reference to that generic type. Note that when you get a reference to a generic type, it will by default not have any type arguments (because what would a "default" type argument be?). So I think that you may have confused the declared type parameter with an

[2021-07-20 14:02] #4014 closed

[2021-07-21 20:18] I-Al-Istannen opened #4059 "bug: Spoon's "getShortDescription" and "getLongDescription" handling is too primitive"
## Context
Spoon offers a `getShortDescription()` method in `CtJavadoc`. This method should (I guess) return the short Javadoc the standard HTML Doclet displays in the method table. The javadoc tool description (e.g. [here](https://docs.oracle.com/javase/7/docs/technotes/tools/solaris/javadoc.html)) says:

## Problem statement
Sadly the current handling is a bit too simplistic (*I heard an issue i

[2021-07-23 06:59] andrewbwogi commented on #4052
@I-Al-Istannen, I can reproduce the incorrect `HashMap` but not the exception. Can you share the code that makes Spoon crash?

[2021-07-23 07:13] andrewbwogi commented on #4059
Your solution seems reasonable. I'll see if we can implement it.

[2021-07-23 09:06] I-Al-Istannen commented on #4052
I don't have a MWE, as I threw the jdk 16 source code at it and didn't trim it down. I could try to do that, if the JDK code is too much for you to work with.

The code is just
[code]

[2021-07-23 12:06] Rohitesh-Kumar-Jain opened #4060 "bug: insertBegin method is inserting list in reverse order than it should be"
## Context

Hi while writing test for [`CtCaseImpl.insertBegin`](https://github.com/INRIA/spoon/blob/master/src/main/java/spoon/support/reflect/code/CtCaseImpl.java), I feel that the core logic of this method is implemented incorrectly.

JavaDoc for this method states :

<img width="828" alt="Screenshot 2021-07-23 at 5 13 24 PM" src="https://user-images.githubusercontent.com/62026125/126777030-58f

[2021-07-23 12:09] Rohitesh-Kumar-Jain commented on #3967
Hi @monperrus and @nharrand,

I would be glad if you may go through the bug #4060, and give suggestions on that.

I feel, that probably also lies within the scope of my work : )

[2021-07-23 14:30] SirYwell commented on #4060
I would consider this a bug indeed, especially as `insertEnd` behaves the way you described. A simple fix would be to either use an index or to reverse the iteration of the list.

A side note: The `insertEnd` method has a comment (https://github.com/INRIA/spoon/blob/master/src/main/java/spoon/support/reflect/code/CtCaseImpl.java#L189) explaining behavior that differs from the `insertBegin` method

[2021-07-23 14:39] Rohitesh-Kumar-Jain commented on #4060
There is a possibility that it is supposed to work the way it is working, it's just the documentation that needs to be corrected.

As the documentation states that "inserts the given statement list at the beginning" which as we can see is not the case. It is inserting the given statement list in the reverse order of the list, which might be the required functionality.

[2021-07-24 06:28] Rohitesh-Kumar-Jain commented on #4060
@SirYwell yes you are right, `insertEnd` is working the way I expect `insertBegin` to work, i.e the list being added remains in the same order

Thanks for pointing this out

[2021-07-24 08:45] slarse opened #4062 "Spoon integrators are on vacation"
If you've been active in the repo during the past week, you may have noted an alarming absence of input from the Spoon integrators. That's due to circumstances of work and life, we had to go on somewhat overlapping vacations (not completely, but somewhat).

We are not ignoring your issues or pull requests, we're just taking some much needed time off. We'll start trickling back in the first half of

[2021-07-24 08:53] slarse commented on #4060
This is clearly a bug to me, it makes no sense to reverse the provided statement list. With `insertEnd`, it works just inserting the elements in the given order as they are appended to the list. The author probably just didn't consider that prepending in the same fashion causes a reversal of the input.

If we have a look in `CtBlockImpl`, `insertBegin(CtStatementList)` does not reverse the provide

[2021-07-24 10:20] Rohitesh-Kumar-Jain commented on #4060
As @SirYwell pointed, reversing the iteration for this [loop](https://github.com/INRIA/spoon/blob/f85ebe5b2b12ea23c213200ff2d0f6b95f6d868f/src/main/java/spoon/support/reflect/code/CtCaseImpl.java#L169) seems a simple fix to me.

I mean something like this

[code]

[2021-07-24 16:45] slarse commented on #4060
I would just use `addAll(0, copy)`. See `CtBlockImpl.insertBegin(CtStatementList)` above.

[2021-07-24 16:49] Rohitesh-Kumar-Jain commented on #4060
So now should I first push the failing test case, or first fix the implementation, or we should wait for more discussion ?

[2021-07-24 17:14] slarse commented on #4060
Submit a PR with the currently failing test, and the fix for it. To make it very clear that the test fixes the problem, you can first push the failing test and let CI run (and fail). Then you push the fix, and CI passes.

[2021-07-24 17:51] I-Al-Istannen commented on #4052
I trimmed down the JDK to 56 files which reproduce the error, but I couldn't really delete any more with trial and error:
[Smaller.zip](https://github.com/INRIA/spoon/files/6872855/Smaller.zip)

----

Just not passing the modules is not an option, as other modular programs that require java classes don't quite like it apparently:
[code]

I didn't have any trouble after dropping the hacky patch abo

[2021-07-26 09:33] slarse opened #4064 "Renovate is updating GHA commit hashes to the latest version on the main branch, as opposed to latest release version"
This is a problem. We only want stable versions of actions, unless we specifically request otherwise.

Perhaps there's a setting somewhere to adjust this?

[2021-07-26 10:57] Rohitesh-Kumar-Jain commented on #4062
Do enjoy Vacations 🎉

[2021-07-26 15:30] Feuermagier opened #4066 "CtInvocation<Void> matches invocations of non-void methods in inner classes"
When executing the following processor
[code]

on the class
[code]

a SpoonClassNotFoundException("cannot load class Outer$Inner") with "ClassNotFoundException: Outer$Inner" as its cause is thrown when calling `executable.getActualMethod()`.

Actually foo() returns an object of type Inner, so the processor shouldn't trigger.

[2021-07-27 12:59] andre15silva opened #4067 "Compliance level is not used in keyword constraint"
## Context

In [`CtReferenceImpl`](https://github.com/INRIA/spoon/blob/34cfb5d6178c63f34e851acf24b22f9c10fa175b/src/main/java/spoon/support/reflect/reference/CtReferenceImpl.java), the function `checkIdentiferForJLSCorrectness` checks names for correctness, which includes checking wether any part of it is a keyword:

https://github.com/INRIA/spoon/blob/34cfb5d6178c63f34e851acf24b22f9c10fa175b/src/

[2021-07-27 17:49] SirYwell opened #4069 "Handling of receiver parameters"
This issue covers the general handling of receiver parameters in spoon.

Receiver parameters were introduced with Java 8. They are specified in [JLS 8.4](https://docs.oracle.com/javase/specs/jls/se16/html/jls-8.html#jls-8.4) with example code in [JLS 8.4.1](https://docs.oracle.com/javase/specs/jls/se16/html/jls-8.html#jls-8.4.1).

Spoon got support for this feature with this [Pull request](https:/

[2021-07-29 13:16] shuchi03 opened #4070 "Auto Import not working: Output not showing qualified names"
I am trying to change the type of the field from **org.apache.log4j.Logger** to **org.apache.logging.log4j.Logger**. I am also creating an assignment expression to set that in the field.

The code for this is -

[code]

I have set the **autoimport as true** for the launcher and the code for running the processor is -

[code]

But my output is still getting created in this way -

`private static fi

[2021-07-29 14:47] andrewbwogi commented on #4066
Hello @Feuermagier, I get the same exception when running the processor from the command line, but it works when using `Launcher.addProcessor` and then `Launcher.process`. I'll have to take a closer look at what's going on.

[2021-07-30 13:39] slarse commented on #4070
Hi @shuchi03,

Auto-import is not compatible with the sniper printer. Essentially, if you set a custom pretty-printer with `Environment.setPrettyPrinterCreator()`, all of the settings you've entered regarding pretty printers are thrown out the window, at least when using the sniper printer as it sets its own settings.

That's not very intuitive and something that has been bothering be for some tim

[2021-07-30 13:44] slarse commented on #4070
The problem with using the auto-import functionality from Spoon with the sniper printer is that it might change already existing qualified names. In Sorald, we've rolled our own solution where only newly added references are auto-imported, see here:

https://github.com/SpoonLabs/sorald/blob/6452f48125050f7f94e9e76d9cb1390fa25845f9/src/main/java/sorald/Repair.java#L288-L302

And here: https://githu

[2021-07-30 13:45] slarse commented on #4070
@shuchi03 Feel free to just copy the pretty-printing code from Sorald and see if that solves your problem.

[2021-07-30 16:26] shuchi03 commented on #4070
Thank you for the response.

I used the below code from Sorald -

[code]

But I am still getting a fully qualified name for one of the fields -

`private static final org.apache.logging.log4j.Logger LOGGER = LogManager.getLogger(InstrumentUtils.class);`

I think this might be happening because it is not removing this import - `import org.apache.log4j.Logger;` due to which we get two definitions fo

[2021-07-30 19:06] slarse commented on #4070
That's likely the case. Try adding the following as the _second_ processor in the `preprocessors` list:

[code]

I don't remember why we did not include that in Sorald, so there might be some problem with it that I'm just not remembering. But that might also have been specific to our use case.

Are you running in classpath mode or noclasspath? Auto-import can sometimes get funky in noclasspath as

[2021-07-31 14:31] I-Al-Istannen opened #4071 "bug: ConcurrentModificationException in CtPackageImpl ModelSet"
## Problem statement
I wrote a trimmed down Scanner that processes the model in parallel, but sadly it *sometimes* fails with a concurrent modification in the CtPackageImpl / ModelSet code.
[code]

## Cause
The CtPackageImpl iterates over the set:
[code]
This is problematic, as the `iterator` method delegates to the underlying set's iterator, which is a `Collections#synchronizedSet` instance. The

[2021-07-31 18:06] andrewbwogi commented on #4069
I think the ideal solutions here are not backward compatible. If we value compatibility the most, we can save the former in some organized way. When we redesign the general API, there may then be ideas that have matured over time to minimize hasty design decisions.

[2021-08-02 18:54] SirYwell opened #4074 "Local classes/enums/interfaces/records"
As Java 16 introduced local enums and local interfaces additionally to (local) records, I started looking into how they are handled in Spoon.

My first observation was that local interfaces are ignored but local enums are found and included in the model correctly. This seems to come from https://github.com/INRIA/spoon/blob/78d64fe348c282a190a353c17f8855684a0cb1b5/src/main/java/spoon/support/compil

[2021-08-03 10:31] I-Al-Istannen commented on #4074
Additionally, the simple name returned by `Class#getSimpleName` for anonymous classes is `""` - spoon returns the number. The name of an anonymous class isn't as relevant (it is never printed out again), but being consistent with `getSimpleName` **might** be useful.

[2021-08-04 15:22] andrewbwogi commented on #4071
How about using `java.util.concurrent.ConcurrentSkipListSet` instead of `Collections.synchronizedSet`?

[2021-08-04 15:24] I-Al-Istannen commented on #4071
I looked at it but missed that it implements SortedSet. We could probably switch to it. I will have a go and see what spoon's test have to say about it.

[2021-08-05 08:52] shuchi03 commented on #4070
Thank you for the response.

I added the second processor as follows -

[code]

This helped to remove the fully qualified names, but I get this error now -

![image](https://user-images.githubusercontent.com/10210774/128320891-1777bf78-8879-4f87-9b0a-def2dc354850.png)

I am running the code in classpath mode and I see that even for the code I copied from Sorald (as shown below), an unused import g

[2021-08-05 09:59] SirYwell commented on #4070
To me, that sounds like imports are added for functional interfaces even when they are used as lambda expression (and likely method references too?). Does that match your processed/printed code?

[2021-08-05 10:38] shuchi03 commented on #4070
Actually, the imports which are being being added might be used in a superclass and it does not have relevance in my processed code. Also, I am only refactoring a logger initialization line in one class, but these additional imports are coming in other classes as well.

[2021-08-05 14:07] I-Al-Istannen opened #4077 "bug: Qualified generic classes with incomplete classpath crash spoon"
## Description
Explicitly qualified references for types Spoon doesn't know crashes it. If the reference uses an import, all is fine though.

## Crashing example
[code]

## Working example
[code]

## Stacktrace
[code]

[2021-08-06 16:57] andrewbwogi commented on #4074
The behavior that names are prefixed with numbers is inconsistent with the meaning of `getSimpleName`, which I understand is to get the element name as it is in the source code. That is why `setSimpleName` can undo it.

I think this is the way to go and to consider the current contract an error.

[2021-08-09 07:56] slarse commented on #2842
@monperrus The ubuntu18 node has no storage space left. Could you set up an auto-clean of `/tmp` or alternatively an auto-reboot of the node?

[2021-08-09 08:05] slarse commented on #4070
I tried this; it happens. Bug!

[2021-08-09 08:11] slarse opened #4079 "Functional interfaces targeted in lambdas are imported when using auto-import printer"
To me, that sounds like imports are added for functional interfaces even when they are used as lambda expression (and likely method references too?). Does that match your processed/printed code?

_Originally posted by @SirYwell in https://github.com/INRIA/spoon/issues/4070#issuecomment-893328459_

I've verified this behavior. When a functional interface is used as targeted in a lambda, it's import

[2021-08-09 08:21] #4060 closed

[2021-08-09 10:51] #4052 closed

[2021-08-09 10:58] #4067 closed

[2021-08-09 13:06] slarse commented on #4062
We're back!

[2021-08-09 13:06] #4062 closed

[2021-08-09 18:32] andrewbwogi commented on #4077
Thanks @I-Al-Istannen , I get the same error. I think a compiling Java program is a good candidate for minimum Spoon input.

[2021-08-09 18:42] I-Al-Istannen commented on #4077
I am not quite sure what you mean by your second sentence @andrewbwogi. The programs in the off post crash spoon with the given error. It is necessary that Spoon doesn't know what `A` and `B` refer to (hence the incomplete classpath). So if you create three files:

[code]

And only add the `Test.java` as a spoon resource, spoon will crash - it will survive if it only receives an imported SimpleEnt

[2021-08-10 10:18] monperrus opened #4084 "chore: add performance regression test infrastructure."
#4072 shows that performance can be seriously impacted by small changes.

Today, with our CI, we would not detect any serious performance regression.

Goal: add some performance regression test infrastructure, in Github Actions, Jenkins or elsewhere if appropriate.

[2021-08-10 11:38] slarse commented on #4084
Ping @MartinWitt @SirYwell, suggestions?

[2021-08-10 18:05] #4059 closed

[2021-08-12 13:20] slarse commented on #4021
Finally found the time to look into this.

The cause of the crash is that the end source position given by JDT is off for the `super` reference, it always includes the `-` (or any other unary operator). However, if one omits the unary operator, then suddenly the source position is correct. Very strange behavior, probably a bug in JDT.

For now we can easily work around it as the start position of

[2021-08-12 13:41] slarse commented on #3417
I believe that this was fixed in #4073, I now have no trouble parsing Joda-Beans commit `6ffbe8ffe7ba64675158e0f6f5c47a190c45bb29`.

@darius-sas can you confirm that the problem is solved on your end?

[2021-08-12 13:44] slarse commented on #4057
@MartinWitt did my suggestion resolve your problem?

[2021-08-12 14:26] MartinWitt commented on #4057
Yes, it works perfect. But it seems a bit unintuitive and could be documented somewhere?

[2021-08-12 14:49] slarse commented on #4079
The problem here is that the `ForceImportProcessor` sets the reference of the lambda's type (here `java.util.function.IntFunction`) to be simply qualified, which prompts the `ImportCleaner` to later import that type.

I can see three reasonable solutions.

1. When setting the type of a lambda, always make that type implicit (i.e. `ref.setImplicit(true)` in `CtLambdaImpl.setType(CtTypeReference<?>

[2021-08-12 15:10] slarse commented on #4051
Yes, this is a bit of awkwardness in Spoon's model being very much the same for packages and modules as it is for compilation units.

So we need to figure out how to solve this without breaking backwards compatibility (at least too badly). That obviously means that we can't remove the "synthetic" `java.awt` package, unfortunately.

That's not a bad idea. The one thing I think it might cause troubl

[2021-08-12 15:31] slarse commented on #4077
I'm not sure if it's the entire cause, but Spoon creates a package reference out of `java.util.AbstractMap`, even though that's a type that's available on the classpath. Will have a closer look when I get the chance to.

[2021-08-12 15:40] andrewbwogi commented on #4066
I can no longer reproduce this exception when running the processor from the command line, it somehow has started to work. @Feuermagier, can you share the code for how you are executing the processor?

[2021-08-13 05:40] #4021 closed

[2021-08-13 08:08] darius-sas commented on #3417
Works for me too!
Thanks for fixing.

[2021-08-13 08:55] slarse commented on #3417
@darius-sas Thanks for confirming, I'm closing this issue then :)

[2021-08-13 08:55] #3417 closed

[2021-08-13 09:16] slarse commented on #4079
I've implemented option 1 in #4093. I'm not sure that's the way to go, though. @monperrus any thoughts?

[2021-08-13 11:56] slarse commented on #4069
Sorry about the late response on this one, it slipped past during vacations.

I agree that his is wrong, and would label it a bug that should be fixed.

As for a solution, I personally would like the receiver parameter to remain in the list of formal parameters. While Spoon originally was _all about semantics_, several projects I'm involved in (merging and automatic program repair) rely heavily on

[2021-08-13 15:59] Feuermagier commented on #4066
I used the following code:
[code]
Also,
[code]
is not working. If I remove the `buildModel`-Call, it works. Maybe I am using the laucher the wrong way?

[2021-08-14 01:53] Rohitesh-Kumar-Jain commented on #3967
@monperrus, @nharrand, and @slarse  I am sharing the draft of the [final project report](https://docs.google.com/document/d/19UDvXunmsOy-Gd60QsmJD3Q1ol82rvR-IrarGxlCfIQ/edit?usp=sharing). I have changed the setting to `anyone with the link can comment` so feel free to add your suggestions and request changes.

Here are the [guidelines](https://developers.google.com/open-source/gsoc/help/work-produ

[2021-08-14 06:03] SirYwell commented on #4084
*Note that I don't have any experience with performance regression testing.*

I've discussed some aspects with @MartinWitt and @I-Al-Istannen in the last days. I'll try to sum up the ideas and problems we have come across.

## Where to run the tests

To get reproducible and consistent results. Means, e.g. a CI with a vCPU is likely insufficient.

## Features vs bug fixes vs refactoring

Depending

[2021-08-15 08:20] andrewbwogi commented on #4066
`getActualMethod` works if a compiled version of the executable's class exists in the classpath. You set the classpath by:
[code]

[2021-08-16 07:47] monperrus commented on #4069
Thanks for analyzing this dark corner.

That can be fixed in a PR. I don't expect many/any test case to fail.

That can be fixed in a separate PR.

That's reasonable and easy to understand for clients. Definitely a good improvement.

[2021-08-16 07:48] slarse opened #4098 "CtElement.setParent's return type is incorrect, or all implementations are incorrect"
`CtElement.setParent` has a return type that matches that of the input (i.e.

https://github.com/INRIA/spoon/blob/140daab011c9f0c4bd5a78468ff3dfc69c4548fd/src/main/java/spoon/reflect/declaration/CtElement.java#L264-L270

However, all implementations return the element itself, i.e. are implemented like so:

[code]

This is consistent with the rest of the methods of `CtElement`, but it is clearly an

[2021-08-16 07:52] monperrus commented on #3967
@Rohitesh-Kumar-Jain the final report LGTM. Very professional. We're lucky to have you as GSOC student :)

[2021-08-16 08:10] slarse commented on #3967
Agreed, it looks good, and congratulations on making such a large amount of meaningful contributions in such a short amount of time!

[2021-08-16 08:48] slarse commented on #4057
Hmm, any suggestion of where to document it based on where you looked for a solution to your problem?

This is the same concept as creating a method invocation, you wouldn't expect it to have arguments unless you add them. So it's not hard to explain intuitively, at least.

[2021-08-16 09:08] Rohitesh-Kumar-Jain commented on #3967
Thank you for your kind words 😄

I am lucky to be got selected with Castor !

I am glad that my contributions were meaningful.

If I ever plan to visit Sweden for a short holiday to see the northern lights, I will definitely come and meet you all : )

I will also check Swedish Schools if I will be applying for MS.

But in these Covid-times, it's hard to say when, due to international travel restri

[2021-08-16 13:59] monperrus commented on #4084
à propos
What's Wrong with My Benchmark Results? Studying Bad Practices in JMH Benchmarks (IEEE TSE)
http://ieeexplore.ieee.org/document/8747433

[2021-08-16 22:42] algomaster99 commented on #3967
@Rohitesh-Kumar-Jain I haven't really tracked your work during the summers but the report and your PRs are very comprehensive so it was really easy for me to understand your project. Thanks for documenting your work and that too so well!

[2021-08-17 07:34] slarse opened #4100 "Need to expand AstCheckerTest to support more patterns for delegation/surcharging"
As evidenced by #4038, the AstCheckerTest is too conservative. I'll use #4038 as grounds for the following patterns we probably want to add support for.

First of all, the PushStackInIntercessionChecker needs a refactoring, it's pretty hard to understand what's expected e.g. for a method to count as delegated.

[`CtInterfaceImpl.removeNestedType`](https://github.com/INRIA/spoon/pull/4038/files#dif

[2021-08-17 07:35] slarse commented on #4100
@I-Al-Istannen WDYT?

[2021-08-17 07:43] #4079 closed

[2021-08-17 07:45] slarse commented on #4070
@shuchi03 I just fixed the bug with importing of functional interfaces, could you try out the latest version of Spoon and see if your problems persist?

[2021-08-17 09:03] I-Al-Istannen commented on #4100
For sure, I spend too long trying to debug what the test was trying to do, why it was failing, counting how many statements appeared in my method bodies, ... The AST checks have a lot of magic and many have multiple different exclusion lists and sometimes also hard coded exceptions in helper methods. They are another area that could use some documentation but you probably don't really touch them t

[2021-08-17 11:00] jakobbraun commented on #3653
Can you give an estimation when java 16 support will be available? It would be really great to have this.

[2021-08-17 11:13] algomaster99 commented on #3977
@slarse It would be fairly straightforward to implement `getPrecisePath()` because we can easily switch between `name` and `index` using the API [here](https://github.com/INRIA/spoon/blob/master/src/main/java/spoon/reflect/path/CtElementPathBuilder.java#L193).

[2021-08-17 11:41] slarse commented on #3653
@jakobbraun Support for type patterns is essentially done in #4020, we just hit a minor snag on finalizing. It should be available in the next beta release this weekend, I think.

The other big thing is records, and for that I can't really say. No one has yet taken it upon themselves to implement that, so I can't give an ETA on it.

[2021-08-17 13:02] shuchi03 commented on #4070
Hi @slarse, I used the latest version of spoon which **9.1.0-beta-22**. I am really sorry but I am still getting the same issue. So for example as I have mentioned above (copied from sorald) -

[code]
 the functional interface (`import java.util.function.Consumer;`) is getting imported.

[2021-08-17 13:10] slarse commented on #4070
Hi @shuchi03,

The beta version will not yet have the update until next week, you'll need to [use the latest snapshot](https://spoon.gforge.inria.fr/faq.html). I wasn't very clear on that point. Of course, feel free to wait until the next beta release and try it then if you don't feel like trying the snapshot.

[2021-08-17 13:29] #4098 closed

[2021-08-17 13:33] shuchi03 commented on #4070
I tried the snapshot version which you have linked here - **9.1.0-SNAPSHOT**, but I was still getting the same error. So I will wait till next week for the updated beta version. Thank you.

[2021-08-18 14:42] slarse commented on #4100
I'll have a go at it, I'll get back to you :)

[2021-08-18 17:47] treaz opened #4102 "Spoon visualisation not showing imports block"
I have a very simple class loaded in the spoon visualisation GUI and I'm not seeing the imports section in the AST (neither or them)
[code]
Am I missing something here? I didn't find any documentation about such a limitation

[2021-08-19 01:39] zhizhixiongxuwei opened #4103 "How to find CtCompilationUnit with spoon?"
As I known, each java file can be parsed as a single CompilationUnit in eclipse jdt. I find that spoon has **CtCompilationUnit**
but It doesn't work. I don't know where is the problem.Here is my test code.
[code]

I can use spoon to get each CtMethod info like this.
[code]

However, If i use filter to collect CtCompilationUnit, I get nothing. Anyone can tell me if I miss something?

[2021-08-19 05:35] monperrus commented on #4102
This is normal. It's not a limitation it's a feature. Spoon provides a fully-resolved AST (you get from reference to declarations), meaning that the imports, which is syntactic sugar for not using fully-qualified names, are not part of the Spoon model by construction.

Put in another way, the imports would be part of a simple, naive parse tree, but not part of a high level AST.

[2021-08-19 06:30] #4102 closed

[2021-08-19 06:42] slarse commented on #4103
Hi @zhizhixiongxuwei,

A compilation unit is not quite part of the model in the same sense that other elements are. It's a compiler concept, while Spoon models the language syntax and semantics. It `CtCompilationUnit` is relatively new, and it hasn't been super well integrated into the API yet (we're looking at solutions for that, see #3942).

That being said, you can reach the original compilatio

[2021-08-19 07:55] zhizhixiongxuwei commented on #4103
Thanks for your reply. I want to know the exact AST info if I got the offset and length token info, So that's why I search CompilationUnit in spoon. I do it with  Eclipse-JDT before and I am sure I can find the target node with offset and length in CompilationUnit with JDT.  I check **Navigation and Query** and can't find the API I need.

[2021-08-19 14:09] lyxell opened #4105 "The regular expression for line separators in CommentHelper is wrong"
While reading through some source code of Spoon I stumbled upon this regex

https://github.com/INRIA/spoon/blob/d18c944c48725eaccf6568ec22cd3a75d4496a3c/src/main/java/spoon/reflect/visitor/CommentHelper.java#L25-L28

This looks wrong to me, since neither `\\n\\r` (LF CR) nor `\\r` (CR) are valid line separators on any operating system I know of.

This should probably be replaced with:
[code]
where

[2021-08-19 18:44] slarse commented on #4105
Argh, another regex.

The quick fix here is of course just to adjust the regex to make some kind of sense. But IMO the best fix for a regex in production code is to remove it :)

I can't imagine so, this just looks like a bug that somehow has gone unnoticed.

I don't think that list is complete. AFAIK, Mac OS 9 and earlier (that is to say, everything before the modern OSX/macOS) used `\r`. And tha

[2021-08-20 06:43] algomaster99 opened #4109 "Difference between `CtScanner` and `CtInheritanceScanner` purpose and usage"
I came across them while I was working on https://github.com/SpoonLabs/gumtree-spoon-ast-diff/issues/157. I saw that the [TreeScanner](https://github.com/SpoonLabs/gumtree-spoon-ast-diff/blob/master/src/main/java/gumtree/spoon/builder/TreeScanner.java) extends from [CtScanner](https://github.com/INRIA/spoon/blob/master/src/main/java/spoon/reflect/visitor/CtScanner.java) while [NodeCreator](https:/

[2021-08-20 06:59] monperrus commented on #4109
The contracts are different.

The core contract of `CtScanner` is, for each metamodel type, to:

1. to call enter
2. to call scan for each child element
3. to call exit

Example:

[code]

The core contract of `CtInheritanceScanner` is, for each metamodel type, to call scan* for all super interface.

[code]

[2021-08-20 07:30] algomaster99 commented on #4109
Thanks, the difference is clear. I am also trying to look for what problem or shortcoming we were facing that spoon had to create a `CtInheritanceScanner`. I cannot figure out from the example of `NodeCreator` and `TreeScanner` above.

[2021-08-20 08:07] monperrus commented on #4109
For clients, the core use case of `CtInheritanceScanner` is to process all elements of a given abstract type. For example, if I want to visit all CtSadowable I would do;

[code]

[2021-08-20 09:09] algomaster99 commented on #4109
Thanks for your answer!

[2021-08-20 09:09] #4109 closed

[2021-08-20 09:54] I-Al-Istannen commented on #4105
I guess `String#lines()` would be the nicest solution but that is Java 11+. What do you think of `\R`, i.e. `Pattern.compile("\R")`?

https://docs.oracle.com/en/java/javase/16/docs/api/java.base/java/util/regex/Pattern.html:
![image](https://user-images.githubusercontent.com/20284688/130215806-922ba48d-9549-4abe-8c61-df09b2491bb1.png)

[2021-08-23 06:20] slarse commented on #4074
That's not a problem in principle, Spoon does not claim to maintain consistency with similar standard library methods.

This is a bug.

I'm uncertain if this is a problem or not. There are many conventions that a user can break if they'd like.

Users might be relying on this behavior, so we would only break it if absolutely necessary.

[2021-08-23 08:10] monperrus opened #4116 "Release Spoon 8.4.0"
It's a ghost release. No changelog. It does not exist.

(`8.4.0` was a CD bug.)

[2021-08-23 08:10] #4116 closed

[2021-08-23 10:15] raghav-deepsource commented on #3653
Note that sealed classes are slated to be stabilized in Java 17 ([JEP-409](https://openjdk.java.net/jeps/409))

[2021-08-23 10:16] shuchi03 commented on #4070
Hi @slarse ,
I used the latest version of spoon which is **9.1.0-beta-23** and the issue was resolved in the file copied from sorald. But, for the other files, this issue is coming up. For example, for this file -

[code]
the functional interface **(import java.util.function.Consumer;)** is still getting imported.

[2021-08-23 10:23] raghav-deepsource commented on #4033
replace `HashSet` with `LinkedHashSet`?

[2021-08-23 11:19] slarse commented on #4070
@shuchi03 I suppose I'll have to take another look at that, perhaps my solution wasn't as generalizable as I thought.

[2021-08-23 13:10] monperrus commented on #3653
#4020 has added instanceof pattern matching, next step to close this issue is record support.

[2021-08-23 17:38] SirYwell commented on #4074
As it's even documented that way, I guess that's fine. For me, it's more about what makes more sense. Looking at the commit it was introduced, it seems like it was used to determine if a type is a local type ([see here](https://github.com/INRIA/spoon/commit/9e0de7530627784e04545fce947a461b4f7309a7#diff-f8e7c95d49b9a41a115e25b7fb7dcd161d4852c5b76a9f1b58d0133198b67569R473)). This isn't required anym

[2021-08-24 06:06] slarse commented on #4074
In general, we just don't break compatibility. It has to be important for that. An example would be the typing error fixed in #4099. That fix was breaking, but was necessary as the typing was simply incorrect, and any reliance on it worked either incorrectly or just by accident.

I'd say so, yes.

[2021-08-24 07:57] monperrus commented on #4033
@raghav-deepsource thanks for the suggestion, would you be able to make a tentative PR?

[2021-08-24 09:36] raghav-deepsource commented on #4033
yup, was planning to do just that

[2021-08-24 10:03] raghav-deepsource commented on #4033
or rather, CtModifierHandler?

[2021-08-25 12:42] I-Al-Istannen commented on #4033
I would order them when printing (unless that breaks your sniper). Some elements do not offer `addModifier` or `addExtendedModifier` or `removeModifier` methods. This forces users to fetch the elements, store them in their own collection, mutate it and and use `setModifiers`.

I personally wouldn't expect this to make printing non-deterministic, as all methods just take and return a Set and normal

[2021-08-25 13:15] raghav-deepsource commented on #4033
The intent is to avoid worrying about ordering from the time modifiers are parsed to the point where they are printed out again. it would be better to alter the internal representation to account for this.

[2021-08-25 13:30] I-Al-Istannen commented on #4033
The problem is that you can't do that by just using a LinkedHashSet as some elements miss remove/add methods and users are forced to temporarily store it in their own collections.

So using a LinkedHashSet would still lead to non-deterministic printing, if any API user ever touches the API and throws it in a HashSet (which most will do, it is the most common Set).
If you switch to a LinkedHashSet

[2021-08-25 13:59] raghav-deepsource commented on #4033
I believe the initial order these elements are provided in is important, and should be preserved while printing as well, unless the user specifies otherwise. any changes made here will at worst not be user-visible, and at best will enable the user to determine the order of modifiers.

That is suboptimal... It would be a good idea to implement add and remove methods for all such elements.

How abou

[2021-08-25 14:10] raghav-deepsource commented on #4033
I notice that all elements that have modifiers delegate to CtModifierHandler when making any changes to modifiers.

[2021-08-25 14:15] raghav-deepsource commented on #4033
And it seems like while some elements provide ways to add and remove individual ModifierKind values (CtTypeImpl is what I looked at), none seem to support adding/removing single CtExtendedModifier instances, only wholesale replacement. Shouldn't this be made more consistent as well?

[2021-08-25 18:56] slarse opened #4128 "Add Jenkins job with project using Java <1.5"
According to discussion in #4108, there's some binary incompatability between Java 1.5+ and Java <1.5. We should add a Jenkins job to run the normal smoke test (parse with Spoon, pretty-print, run tests) to see that we maintain compatibility with prehistoric Java code.

TODO here is for someone to point me to a publically available project that runs a Java version prior to 1.5 and I'll add a job f

[2021-08-25 19:30] SirYwell opened #4129 "bug: DefaultJavaPrettyPrinter misses line breaks with enums"
I found some issues when writing enums:

1. If an enum only contains enum values but no other type members, code like
[code]
is transformed into
[code]
This comes from the printList call here: https://github.com/INRIA/spoon/blob/e8c0d1b75e694e6dea8c70ef82bc3b6e8cb7cb0b/src/main/java/spoon/reflect/visitor/DefaultJavaPrettyPrinter.java#L753
It writes a line break before each enum value but does not

[2021-08-26 09:13] raghav-deepsource opened #4131 "Integrating a control flow graph into the Spoon Model"
I was looking at the code in the spoon-control-flow module, and I feel like a control flow graph could be embedded into spoon's model as it is being constructed. Perhaps there could be an optional trigger for such behavior?

Doing so would be very useful for static analysis. I have a cursory idea of how this could be done, but nothing very concrete as of now.

[2021-08-26 09:29] raghav-deepsource opened #4132 "Record support"
Instanceof pattern matching support is merged now (#4020), and local interfaces will soon be supported as well (#4108). Records are the last thing needed for Java 16 support.

Here's the JLS section on records for your convenience: https://docs.oracle.com/javase/specs/jls/se16/html/jls-8.html#jls-8.10

From what I understand, the following things would need to be done to add record support:

- Cre

[2021-08-26 11:13] slarse opened #4133 "Add CI check that newly added test classes don't use JUnit4"
We need a check in CI that verifies that added test classes don't use JUnit4. See below for details.

That's a li'l bit overkill, all we need is to do is find added `.java` files and check if any of them contain suspicious references (in particular, `org.junit.Test` and `org.junit.Assert`). We can do that sufficiently robustly with just `git-diff` and `grep`.

_Originally posted by @slarse in http

[2021-08-28 15:26] SirYwell opened #4136 "Adding and removing extended modifiers"
I was wondering why it isn't possible to directly add or remove extended modifiers. The only way is to copy the set, add your modifier and set it again. This is currently done in #4038 and #4134, and I'm currently trying to figure out some more issues with implicit modifiers where this functionality would make things a lot easier.

Is there any specific reason why such methods don't exist? If it j

[2021-08-28 17:30] I-Al-Istannen opened #4137 "bug: Spoon fails to index modules when loaded from ZIP"
## Problem statement
It would be kind of funny if it wasn't so sad, but after #4052 indexing no longer works correctly with a ZIP as input source... Indexing from the file system works though :upside_down_face:

## More elaborate problem statement
My JavadocAPI refuses to find Javadoc for quite a few entries in JDK 16 when it is indexed from a ZIP file. The element is there but it finds no comment

[2021-08-28 19:26] slarse commented on #4136
No, it just hasn't been done I suppose. See discussion in #4033.

Ping @raghav-deepsource, I think you were perhaps looking at this as well?

[2021-08-28 19:53] raghav-deepsource commented on #4136
Yup. Any thoughts on adding a way to pass a `List` of extended modifiers, instead of just a set? It would be useful for cases where the user wants to preserve the order of modifiers they assign to an element.

[2021-08-28 20:18] I-Al-Istannen commented on #4051
Sorry, I kinda forgot this issue existed but I ran into it again earlier this day.

Okay, yea, that does rule that one out :(

Sounds good, increased the runtime from `3:02` to `6:24` :D

----

I will have a look why that happens, maybe I can get it to work with an acceptable loss to performance.

[2021-08-28 21:16] slarse commented on #3977
@algomaster99 Yes, it would be easy to implement. On the other hand, one can just as well use the `CtElementPathBuilder` directly, it's part of the public API as well. As it's so easy to do, it doesn't really seem worth it to add and test in Spoon core.

[2021-08-28 21:17] slarse commented on #4129
I've also noted some funky printing of enums at times. This clearly needs some work.

[2021-08-28 21:28] slarse commented on #4051
No worries, we all do that :)

Maybe. I'm not sure, it might be a blocker but it also might not be.

That's... interesting. Could you put up a PR so we can look at it together?

[2021-08-28 21:38] slarse commented on #4136
I'm not sure that's necessary. There are ordered sets. Really, the use cases where the order of (semantically) unordered elements matter are very few. We want to keep the API as small as possible.

If there's a concrete use case that can't be served by the current API (plus the now planned `add` and `remove` methods for extended modifiers), then we can consider it. Otherwise, I'd personally say no

[2021-08-28 21:39] slarse commented on #4084
@I-Al-Istannen Very cool! So, if I'm not mistaken, VelCom is a service that you need to run perpetually? It's not the kind of thing you can just run in a Jenkins job or something along those lines?

[2021-08-29 04:30] algomaster99 commented on #3977
Although there are two ways to get the path, spoon has a functionality, in the public API, to get both of them by toggling the system property `useNamesInPath`. Thus, we don't need another API to get path by index so closing this issue.

[2021-08-29 04:30] #3977 closed

[2021-08-29 07:49] raghav-deepsource commented on #4136
That makes sense.

[2021-08-29 08:11] SirYwell commented on #4136
The problem with passing a List is, that it does not have an effect on the underlying implementation. Spoon only exposes a `Set` with no guarantees about order. One could stricten that requirement to return an ordered set but a method *taking* a List only makes sense if the underlying implementation can also return a List with the exact same order.

Also, the required order probably depends on the

[2021-08-29 08:33] raghav-deepsource commented on #4136
I've changed the implementation of CtModifierHandler from a HashSet to a LinkedHashSet in #4122  which could change this.

But users can't really reap the benefits of this change directly; there's no indication that the modifier set is ordered in getModifiers or getExtendedModifiers.

Regarding sniper printing; I don't think it would be possible to guarantee consistency unless we can guarantee ord

[2021-08-29 09:44] I-Al-Istannen commented on #4084
## Regarding your question
Correct. VelCom executes a benchmark script (which does all the heavy lifting, you can find the one I used above or [here](https://github.com/I-Al-Istannen/velcom-unibench/blob/master/bench_spoon)), parses its output and displays the output in the UI as a graph, comparisons, significant changes and so on. To do that it needs someplace its web server and runner component

[2021-08-29 11:05] I-Al-Istannen commented on #4033
## Another (bigger) problem
First of all: Spoon currently does the following to extract modifiers from JDT:
[code]

So, *no matter what you do in the rest of the code*, the modifier order **is already lost when parsing the code**.

So you would need to figure out how to get *the actual declaration order* from JDT first.

## And some general comments

A LinkedHashSet is not a good data structure fo

[2021-08-29 13:16] I-Al-Istannen opened #4140 "bug: Cannot resolve type erasure of the type parameter reference, which is not able to found it's declaration."
## Problem statement
Spoon fails to get the executable declaration of `crashy` in `Fooy` in the following code:
[code]
Please make sure the two interfaces are in *different java files*.

## Example test case
[code]

## Stacktrace
`crashy(java.lang.Object[])` is a synthetic bridge method. It is needed as a caller owning a `Test<F>` can not know that `Fooy` is specialized to `String` and therefore t

[2021-08-29 17:14] raghav-deepsource commented on #4033
Oh. Yup. that would mean I've been taking the wrong approach here. One idea occurred to me regarding this, which could fix the unordered modifiers problem, but will be costlier...

Process the line where the affected element starts, and extract out the list of modifiers associated with it. Since this would be more work than just processing jdt's modifiers, it could be optional?

[2021-08-29 17:49] SirYwell commented on #4033
That's actually already done already - `CtExtendedModifier` has a `SourcePosition` attribute that is calculated by spoon. I don't know how well that works, but theoretically it's possible to sort by source code position.

With this approach, I think it would make sense to have a configurable Comparator in the PrettyPrinter. That way, one could sort modifiers:
- by convention in the DefaultJavaPret

[2021-08-30 09:25] renovate[bot] opened #4143 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency org.mockito:mockito-core to v3.12.4](../pull/4141)
 - [ ] [chore(deps): update plugin com.github.ben-manes.ver

[2021-08-30 12:34] monperrus commented on #4143
@cesarsotovalero this PR shows a new cool feature of @renovate-bot

[2021-08-30 16:21] slarse commented on #4033
That rings a bell to something I've already done once: sort by position if available, otherwise sort by name. See #3355, perhaps can be reused?

[2021-08-30 17:01] slarse commented on #4084
Let's aim at something like that.

Anything is better than nothing, and right now we have nothing :). But really, parsing and printing are the two core things to benchmark, I believe.

I might have an old laptop that could be used, but I don't have a great way to hook it up to a public IP address. But I believe that our Jenkins instance might be sufficiently stable, at least we could try that firs

[2021-08-30 17:02] slarse opened #4144 "Disable sorald-buildbreaker"
The version of SonarJava it uses is too prone to false positives, especially on dead stores. We need to upgrade the version of SonarJava in Sorald to 7+ before it can be useful.

[2021-08-30 18:29] I-Al-Istannen commented on #4084
You can throw the bench script I linked above into CI as-is and it will measure some indication of performance, but ideally we would want to grow that. I know too little of the spoon ecosystem to do that, unless you want me to write some synthetic benchmarks that just parse some code and print it out again unchanged.

If the script were to stay in the format VelCom accepts I'd add the master branc

[2021-08-30 21:18] I-Al-Istannen opened #4145 "Questions regarding getAllExecutables and typing contexts"
As you can see in the profiling attached at the end, a good chunk of the runtime of JavadocApi is spent in `getAllExecutables`. Most of *that* time in turn is spent juggling around type adaptions / computing the signature.

I believe that whole Kladderadatsch was added in https://github.com/INRIA/spoon/pull/1218 (though I don't really find much justification or explanation there) to support generi

[2021-08-31 15:31] raghav-deepsource commented on #4033
sounds good. I've closed the existing PR, in favor of implementing the functionality as @SirYwell  has described.

[2021-08-31 16:08] SirYwell commented on #4069
I was looking into #4145 for a bit and came across https://github.com/INRIA/spoon/blob/9a4563995d0c1cd744eb36c8ee7140c38b9977e6/src/main/java/spoon/support/visitor/ClassTypingContext.java#L660-L663 which is *wrong* if receiver parameters are in that list.

I'm not sure if there are more spots like that, but this is definitely an edge case that can cause major headache I think.

[2021-09-04 12:43] slarse commented on #4084
So, the number one performance metric is parsing. There are simply very few use cases of Spoon where parsing is not part of the equation. For that, we can simply bench parsing a bunch of projects, for example the ones we currently run smoke tests on in Jenkins.

The second most important performance metric is pretty-printing, because it's a common use case, and it traverses almost the entire model

[2021-09-05 07:59] #4144 closed

[2021-09-07 05:44] monperrus commented on #3540
weird: @renovate complains about itself. any idea on how to fix that?

[2021-09-07 07:27] MartinWitt commented on #3540
At a first look, it seems they are changing some git author config stuff. See [https://github.com/renovatebot/renovate/issues/7273](https://github.com/renovatebot/renovate/issues/7273). Maybe simply set a fix git author(the current) in the config?

[2021-09-07 09:06] monperrus commented on #3540
@rarkins we are a bit confused that @renovate complains about itself. any idea on how to fix that? Thanks!

[2021-09-07 09:53] rarkins commented on #3540
This will be fixed later today. The problem is triggered by two things:
- GitHub uses "invalid" email addresses for bots :(
- I previously set a manual gitAuthor for github.com/INRIA
- A recent refactoring recently resulted in this setting getting passed through our validation instead of bypassing it

[2021-09-07 11:42] monperrus commented on #3540
ack, thanks for the clarification.

[2021-09-08 12:35] monperrus opened #4151 "reproducible builds for Spoon"
concept: the creation of Jar files should be deterministic, i.e. we should have a reproducible build, see https://reproducible-builds.org/

maybe it is already, maybe it is not, to be checked.

then, we have different solutions:

* https://maven.apache.org/guides/mini/guide-reproducible-builds.html
* https://zlika.github.io/reproducible-build-maven-plugin/

Tasks:

* [x] build is reproducible (man

[2021-09-08 12:37] monperrus commented on #4151
See also thread "Reproducible builds on Java", https://lists.reproducible-builds.org/pipermail/rb-general/2021-September/002374.html

[2021-09-08 15:46] I-Al-Istannen commented on #4151
[code]
Yields builds that consistently have the same hash for me. So at least in the core that seems to work (after updating the jar plugin).

I haven't checked the other submodules.

[2021-09-09 05:49] monperrus commented on #4151
oh nice! would you make a PR?

[2021-09-10 06:07] SirYwell commented on #4074
Covered by #4108

[2021-09-10 06:07] #4074 closed

[2021-09-12 19:22] I-Al-Istannen opened #4154 "bug: Javadoc inline tag parsing is too primitive"
## Expectation
Parsing the following javadoc (SwitchPoint)
[code]
should return a `@code` tag that spans the entire quoted range (minus the `<pre>` stuff) as the code ends there.

## Problem
It sadly returns a code tag ending **at the first encountered `}`**. Here is an illustrative image of what spoon parses (the same as the Neovim code highlighting and also the Github highlighting in the block a

[2021-09-13 11:23] monperrus commented on #4151
Thanks a lot @I-Al-Istannen for #4152!

I would say that the next step is to check reproducibility in CI, by packaging twice.

Thoughts?

[2021-09-14 10:22] KhadanovichSergey opened #4159 "Intellij support"
Hello :)

I implemented transformation processor and use spoon-maven-plugin to use it. It works well. But, intellij idea doesn't run spoon processors at compile time (build before run, for example) as it does for built-in annotation processors.

My question is: is there any intelllij support for spoon-maven-plugin. Or, may be, any plans to implement such plugin ?

[2021-09-14 13:47] monperrus commented on #3967
GSOC has ended.

@Rohitesh-Kumar-Jain a big big thank you for your work on Spoon this summer. We wish you the very best for your career.

[2021-09-14 13:47] #3967 closed

[2021-09-14 13:48] monperrus commented on #4159
Hello @KhadanovichSergey, that's a duplicate of #3095, would you add your requirements there?

There is no plan to implement this, and an external contribution is very welcome.

[2021-09-14 13:48] #4159 closed

[2021-09-14 14:19] KhadanovichSergey commented on #4159
@monperrus thanks for answer

[2021-09-14 14:45] KhadanovichSergey commented on #3095
hi,
as idea, plugin should support spoon transformations and run them at compile time, as intellij does with built-in annotation processors

[2021-09-14 17:44] Rohitesh-Kumar-Jain commented on #3967
Thank you for your kind words.

Honestly I don't know what my career will be, I have switched flanks diagonally so far, I have reserved latter time of my studies towards exploring research and academics, and currently focusing on getting a strong command in problem solving and Data Strutures & Algorithms.

[2021-09-14 18:45] seintur commented on #4151
Hi Martin @monperrus

Great idea to introduce reproductible builds for Spoon. +1

Just a minor notification about one technical issue that arises on Inria CI with project.build.outputTimestamp set to 1. See for instance [1] where you can search for

java.time.DateTimeException: Invalid value for MonthOfYear (valid values 1 - 12): 0

It seems to be a known bug with JDK 9. See for instance [2] and o

[2021-09-15 07:18] seintur commented on #4151
Many thanks to the one who configured the juliac job on Inria CI with JDK 11. This indeed solved the issue. I should have try it myself, but the notice "JDK11 (MUST BE PREINSTALLED ON NODE)" somewhat confused me and I dare not try, although I should have.

[2021-09-15 07:19] SJdatageek opened #4162 "ERROR spoon.support.compiler.jdt.JDTCommentBuilder"
[main] ERROR spoon.support.compiler.jdt.JDTCommentBuilder - "/* example comment */" commented line cannot be added into the AST, with parent class spoon.support.reflect.code.CtBinaryOperatorImpl

[2021-09-15 07:32] monperrus commented on #4151
you're welcome Lionel :) --Martin

[2021-09-15 08:03] #4154 closed

[2021-09-15 08:18] algomaster99 opened #4163 "Question regarding type parameter `T` in `CtClass`"
There are some places where the presence of type parameter makes sense, for example, `CtExecutable`. The type parameter `R` of `CtExecutable<R>` represents its return type. However, this logic cannot be extrapolated for `CtClass` instances so my question is what does type parameter [`T` in `CtClass<T>`](https://spoon.gforge.inria.fr/mvnsites/spoon-core/apidocs/spoon/reflect/declaration/CtClass.htm

[2021-09-15 13:39] monperrus commented on #3890
We should update the [Continuous Delivery](https://github.com/SpoonLabs/spoon-deploy/blob/master/deploy-spoon-maven-central.sh) script to create a new release on Github.

[2021-09-15 15:43] slarse commented on #4162
Hi @SJdatageek,

Could you provide some more information here about how you encounter this error? What project are you trying to analyze/transform, and what does your Spoon code look like?

[2021-09-15 15:48] slarse commented on #4163
The actual type. That is to say, `CtClass<String>` is Spoon's metamodel representation of `String`. It's analogous to the type parameter used in the stdlib class [`Class`](https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html).

You can see some remnants of it being useful in e.g. `CtType.getActualClass`, which returns the native `Class<T>` equivalent.

It's largely not useful, to be hone

[2021-09-15 15:58] slarse commented on #3890
I've done that in [Sorald's release script](https://github.com/SpoonLabs/sorald/blob/master/experimentation/tools/sorald/release.py), although that's in Python. It's essentially just a single API call, so it's easy enough to do with curl.

[2021-09-15 16:11] slarse commented on #4151
@seintur I put that note there to avoid confusion, hehe. Basically, selecting that JDK only sets it as the default, but if JDK 11 is not installed it will just cause the build to fail. Which might be confusing. The other selections actually install a JDK.

I've edited the note to be less scary: `note: JDK 11 must preinstalled on agent, this only sets it as the default`

[2021-09-15 22:13] algomaster99 commented on #4163
Even this is no longer useful as it has been deprecated, and the reason is also clear in the [docs](https://spoon.gforge.inria.fr/mvnsites/spoon-core/apidocs/spoon/reflect/reference/CtTypeReference.html#getActualClass--.).

Thanks for the answer! On a side note, it may be useful to add the label "question" to this issue to search for it in the future. :)

[2021-09-15 22:13] #4163 closed

[2021-09-16 14:35] SJdatageek commented on #4162
Hi, I'm facing this error when there's a comment inside if statement in the code.. ideally this should throw a warning. Can't give anymore details on the project and code.

[2021-09-16 15:51] slarse commented on #4162
Is it in the condition or the then/else branches of the if statement?

How do you mean? Ideally, there shouldn't be a problem adding the comment, right?

I unfortunately can't provide any help without more information, I have no idea of what's causing this. Can you provide scrubbed version of the if-statement causing the problem? Just remove any sensitive information, rename all variables, etc, bu

[2021-09-16 15:53] slarse commented on #4162
@monperrus Have you seen this error before? I don't even know where it's originating from, I can't see anything in `JDTCommentBuilder` that would throw an exception like that, or write to the log file with anything remotely resembling it.

[2021-09-16 15:58] MartinWitt commented on #4162
I believe he failed this check here [https://github.com/INRIA/spoon/blob/2fff4c50266f79bc06b961e3b01ca6c6e0fcc1ab/src/main/java/spoon/support/compiler/jdt/JDTCommentBuilder.java#L502](https://github.com/INRIA/spoon/blob/2fff4c50266f79bc06b961e3b01ca6c6e0fcc1ab/src/main/java/spoon/support/compiler/jdt/JDTCommentBuilder.java#L502), but as you said without any information there is nothing to do.

Hav

[2021-09-16 16:08] SJdatageek commented on #4162
Ex: if(((a>100 && a<0)/*this is a comment*/) || (a==b)) { } else {}

Version- 9.1.0-beta-10

[2021-09-16 16:24] slarse commented on #4162
Thanks @MartinWitt that's the stuff. I don't understand how my text search did not turn that up, I just searched for "cannot" inside of JDTCommentBuilder.

@SJdatageek I tried parsing the following class and can't reproduce the logging message.

[code]
I also tried parsing it as a snippet.

[code]

But I can't reproduce the problem.

It's correct to log this as an error, because if a comment has n

[2021-09-16 16:38] SJdatageek commented on #4162
@slarse can you please try with the below example once more and see if it reproduces the error for you?
`class Test {
public boolean testA() throws Exception {
		String str1 = "this is an example string";
		/* some comment here */
		// another example comment
		// one more example comment
		// comment.

		// code fix for ends Here

		// more comments
		if (((str1 != null && str1.length > 0)
				/*

[2021-09-16 16:49] slarse commented on #4162
@SJdatageek Yes, that works!

Thanks, now we have something to work with :)

[2021-09-16 16:58] slarse commented on #4162
I have created a minimal class to reproduce the problem:

[code]

In the case of the if condition, the problem appears to be when a comment is inside parentheses, and there's a line break before the comment. However, I also encounter the same problem with something like this:

[code]

But it doesn't occur without the parentheses:

[code]

Soo... Something with parentheses and potentially newlines.

[2021-09-16 17:09] SJdatageek commented on #4162
Yes, I'm getting this error when as you mentioned above,  a comment is inside parentheses, and there's a line break before the comment.

[2021-09-17 08:03] Scemoon commented on #3510
@MartinWitt detail debug for you .

![image](https://user-images.githubusercontent.com/4270790/133747194-5c5d74f5-1663-4d18-8341-a0a351223ddc.png)

[2021-09-17 17:35] I-Al-Istannen commented on #4162
I thought that was just not implemented and nobody cares because that error pops up a lot. But here are two more:
[code]

Code in question is in JDK 16, but the excerpt is:
[code]
in LambdaFormEditor.java and
[code]
in the WalkerFactory.

[2021-09-17 18:05] slarse commented on #4162
@I-Al-Istannen Yep that's the same bug. It seems to be all about parenthesized expressions. I hope to have a look during the weekend.

[2021-09-17 18:17] slarse commented on #3510
This looks like a noclasspath issue to me, where Spoon isn't given enough information to determine if `log` is a method or a class. Are you running with or without providing a classpath?

Can you show the code you are analyzing?

And what version of Spoon are you using now? Can you try with 9.1.0? I somewhat recall that we made some improvements in this area over the past year.

[2021-09-18 04:42] Scemoon commented on #3510
My code like this, use lombok Annotation. When Runing lombok can init log method.
@slf4j
public class Example {
public void example(){
log.info("exceptions")
}
}

[2021-09-21 08:47] raghav-deepsource opened #4171 "better handling of invocation source positions"
Currently, Spoon's representation of method invocations sets the source positions in a rather inconvenient way.

Consider a CtInvocation node corresponding to the call to `getContextBuilder()` in this snippet:
[code]

If we were to look at the spoon node of `getContextBuilder()`, we would see that the node's extents encompass a lot more than just that one method call:

[code]

Would it be a good i

[2021-09-21 12:25] I-Al-Istannen commented on #4171
I am not exactly sure what you want. The `CtExecutableReference` of the invocation sadly has no source position and that might be worth fixing.

But I got the following result:
[code]

with the following code (looks a bit golfed but I wanted it to fit in a single function to make it easier for you to test)
[code]

[2021-09-22 05:38] monperrus commented on #2869
The next release will be a major release, because of we add support of Java 16 and we dropp support for Java 8.

[2021-09-22 05:47] monperrus commented on #3879
FTR, Jenkins nodes sos-builder01 (aka Ubuntu 16) now has Java 11 under '/usr/lib/jvm/java-11-openjdk-amd64/'

[code]

Installed from https://download.java.net/java/GA/jdk11/9/GPL/openjdk-11.0.2_linux-x64_bin.tar.gz

[2021-09-22 09:37] surli commented on #2869
what's the reason for dropping support for Java 8? I mean AFAICS it's still supported by Oracle until 2022 and several app didn't move to Java 11 yet (new LTS). For example, there's still open issues at XWiki to build it with Java 11, does it mean we could not use next upgrade of Spoon?

[2021-09-22 19:23] SirYwell commented on #4136
I was looking into this a little bit more and came across a few (probably rather minor) issues:

#### 1) Set being used to store extended modifiers

Currently, `CtModifierHandler` keeps a `Set` of `CtExtendedModifier`s. This adds the need to deal with adding modifiers, as adding an explicit modifier of kind A should remove an implicit modifier of kind A (and visa-versa). It would probably make mor

[2021-09-23 05:18] monperrus opened #4179 "Dropping support for Java 8"
We're discussing dropping the support for Java 8, triggered by some incompatibilities in the latest version of JDT (https://github.com/INRIA/spoon/pull/4161)

What does dropping support for Java 8 mean in our context?

* [ ] not running with JVM 8 in CI
* [ ] having some tests / contracts ignored when run on Java 8
* [ ] not being able to use more recent versions of Spoon on JVM 8 (bytecode incomp

[2021-09-23 05:20] monperrus commented on #2869
Good to see you @surli. This is triggered by #4161, let's continue the discussion about your requirements on https://github.com/INRIA/spoon/issues/4179

[2021-09-23 05:23] monperrus commented on #4136
Thanks for the analysis. We can fix those issues with one PR each! The second one is good but potentially breaking, but `CtExtendedModifier` are not used much, even less in a mutable setting, so I'd be for it too.

[2021-09-23 07:42] surli commented on #2869
sounds more related to #4173 no?

[2021-09-23 07:47] surli commented on #4179
So for information I asked for a bit more info because we are apparently still not able to entirely used Java 11 to build XWiki, there's a forum thread to follow it up: https://forum.xwiki.org/t/move-to-java-11-for-building-xwiki/7342/4

It should be fixed in a near future for us, so it might not be that much a blocker to keep using Spoon.

[2021-09-23 07:58] monperrus opened #4180 "fix static analysis warnings by LGTM"
FYI, activated static analysis by LGTM, out of curiosity

https://github.com/marketplace/lgtm

Will deactivate if annoying

[2021-09-23 08:06] abhi22493 opened #4181 "SniperJavaPrettyPrinter is omitting ']' while transforming multi dimensional array with size parameter"
Input :
`private java.util.StringJoiner[][] metrics_B = new java.util.StringJoiner[10][10];`
Expected output :
`private abc.xyz.StringJoiner[][] metrics_B = new abc.xyz.StringJoiner[10][10];`
Actual Output :
`private java.util.StringJoiner[][] metrics_B = new java.util.StringJoiner[10][10;`

Code used for this transformation :
`CtTypeReference<?> newType = getFactory().Core().createTypeReference()

[2021-09-23 09:54] monperrus commented on #2869
#4173 is a follow-up of the breakage in  #4161

[2021-09-23 10:31] slarse commented on #4179
To define precisely what we mean by dropping support for Java 8 (and 9 and 10), it's that:

1. It will not be possible to build Spoon with a JDK < 11
2. It will not be possible to run Spoon in a JVM < 11

That is completely independent of what source code Spoon can be used to analyze and transform, but it does mean that projects running on anything less than Java 11 cannot use Spoon without some p

[2021-09-23 10:52] #4051 closed

[2021-09-23 15:31] slarse commented on #3510
Lombok injecting stuff is a problem, because Spoon cannot know what it will inject. Here, Spoon cannot find what `log` is (because based on the source code alone, that's not possible), so it assumes that it is a class in `java.lang`.

There's a discussion about using Lombok and Spoon over at #3821, and potentially using `spoon-decompiler` on compiled class files to get the source code as rewritten

[2021-09-23 15:40] slarse commented on #4136
To me, it makes sense to be able to change the implicitness of a modifier. Changing its kind doesn't, however.

In terms of implementation convenience, I think it would make sense to:

1. Disallow changing the kind of an extended modifier
2. Consider equality between extended modifiers only based on the kind
    - This both allows changing implicitness without breaking the contract of a set, _and_

[2021-09-23 16:14] slarse commented on #4171
So, like @I-Al-Istannen said, the source position of the method call itself is entirely appropriate. The target is part of the method call, as is the executable reference and all of the arguments passed to it.

The place to build the position for the executable reference would be somewhere around `JDTTreeBuilder.visit(MessageSend messageSend, BlockScope scope)`, but I haven't looked into that part

[2021-09-23 17:42] monperrus commented on #4179
good news!

[2021-09-23 18:11] SirYwell commented on #4136
That makes sense, yes.

I think I would prefer that over just removing it. Not sure how you deal with that in general, but it could be removed in a subsequent release.

I like that idea, however, it would mean that adding a `public|implicit` modifier to a set already containing a `public|explicit` modifier would not work with the `Set#add` method (it won't be added because it already "exists"). Ma

[2021-09-24 07:53] yz-qiang opened #4182 "how to use Spoon to parser my code snippet into APIs?"
Hey,
I want to parser my code snippet with Spoon, but I don't know how to start it. what I first step should do and next, please help me.

[2021-09-24 08:20] monperrus commented on #4182
As discussed in the documentation at https://spoon.gforge.inria.fr/, a kick start is

[code]

[2021-09-24 09:24] I-Al-Istannen commented on #4136
I'd like the modifiers to be immutable for https://github.com/INRIA/spoon/pull/4176, as I otherwise need to *clone the modifiers* when cloning a CtElement. I will do that in the meantime, but not having to care about that would be nice. I am not sure how often you change the implicitness and doing so by overwriting the modifier manually sounds a bit nicer.

It breaks backwards compatibility more t

[2021-09-24 11:07] yz-qiang commented on #4182
Thanks for your reply. There has another question, can I use Spoon in Python? Because my project code is written by python.

[2021-09-24 11:10] yz-qiang commented on #4182
Thanks for your reply. Can you give me some suggestions to use Spoon in the python project, I have some trouble doing it.

[2021-09-24 11:15] yz-qiang commented on #4182
Thanks for your reply. Can you give me some suggestions to use Spoon in my python project, I have some trouble doing it.

[2021-09-24 11:42] yz-qiang commented on #4182
<img width="935" alt="Snipaste_2021-09-24_19-39-16" src="https://user-images.githubusercontent.com/72866861/134668510-56327b41-75b4-4fb3-adc6-6b905b2604f6.png">
This is a screenshot after running, it's right?

[2021-09-24 13:22] I-Al-Istannen commented on #4182
It would be helpful to know what you are trying to do, i.e. what your use case actually is. I don't really understand your title or comments. An API is an "Application Programming Interface" and I don't see how that relates to parsing code snippets.

Your code apparently runs so that's nice, you get the error because something uses SLF4J (Simple logging facade for java) for logging and you have no

[2021-09-24 13:48] yz-qiang commented on #4182
I‘m sorry to confuse you. First, I truly need to parser code snippet into API with fully_qualified_name, for example, "List li = new List()" will be parsed into "java.util.list", and "Map.keyset().stream()" will be parsed into "Map.keySet() and Set.stream()". Spoon can do this work， right? Second, today is my first day to use Spoon,

[2021-09-24 14:10] yz-qiang commented on #4182
I‘m sorry to confuse you and thanks for your reply.

**1.** I actually need to parser code snippet into API with fully_qualified_name, for example, "_List li = new List()_" will be parsed into "_java.util.list_", and "_Map.keyset().stream()_" will be parsed into "_Map.keySet() and Set.stream()_". Spoon can do this work, right?
**2.** Today is my first time using Spoon, I don't know how to start to

[2021-09-24 14:49] ddy-ddy commented on #4182
This is a supplementary document to item 2.
<img width="412" alt="截屏2021-09-24 下午10 43 02" src="https://user-images.githubusercontent.com/58058861/134694908-bdd874bc-0f01-4cf4-b7a2-d31d9d22176c.png">

[2021-09-24 15:14] I-Al-Istannen commented on #4182
1. Sorry, I am still not sure what you mean. You want to parse code snippets into the spoon model? Do you want to print them with fully qualified names? Do you want to modify them? Do you want to run them? Knowing your final goal would help. What you said so far are just starting steps. But it is no *plan* or *goal*, just parts of one. You might be able to use different methods to easier do what y

[2021-09-24 15:14] slarse commented on #4136
All `CtElement` need to be cloned when cloning. In a strict sense, there's no such thing as an immutable `CtElement`. For example, everything that derives from `CtElement` can have metadata added or removed at will.

What we want to guarantee here is that `CtExtendedModifier` can be safely used in a `Set`, i.e. it should be made immutable from the perspective of the `equals` and `hashCode` methods

[2021-09-24 15:15] I-Al-Istannen commented on #4136
I am not talking about an immutable CtElement, but an immutable CtExtendedModifier. Currently I need to clone the modifiers on their own as changes in the original will affect the clone.

[2021-09-24 15:20] slarse commented on #4136
Ohhh, wait, sorry I had it in the back of my mind that `CtExtendedModifier` was a `CtElement`. But you're right, in that sense it could potentially be immutable.

But, the solution to this problem would probably be to make `CtExtendedModifier` an actual `CtElement`. They should be fully part of the AST, but perhaps that's somehow breaking when considering the legacy use of enums. But we should loo

[2021-09-24 15:38] yz-qiang commented on #4182
Thank you very much for answering my questions
1. Yes, I want to print them with fully qualified names. I have try different methods to do it, but failed.
2. Oh, I see. But what results do I need to focus on after I run_Mvn test_?
3. Yes, it can work. Thank you.

[2021-09-24 16:02] I-Al-Istannen commented on #4182
2. You do not need the maven test results, at least I don't know why you would. As I have no idea what you are trying to do I can't make a definite statement though.

As you still haven't answered my questions and I consequently have no idea what you are trying to do I am not sure I can really help you further. Without knowing what you are trying to achieve I can not help you. You are asking for s

[2021-09-25 09:42] yz-qiang commented on #4182
Thanks for your patient answer. I read your answer carefully. To tell my intent, I drew a picture.  **①** transform into **②** under **T**. As shown in the picture, _List\<String>_ (① with red color) transforms into _java.util.list<java.lang.String>_ (② with red color). Not only that, we also need to transforms _li.add('123')_ into _java.util.list.add(java.lang.string)_ (print in ②). Is there some

[2021-09-25 10:22] I-Al-Istannen commented on #4182
The code `T` in your picture should work?
[code]
Correctly formats the files and stores them in `/tmp/test/formatted`. If you only have a single java input file you can also easily format things manually to a single String. That might be more convenient than throwing the output in a directory.
[code]
If you have multiple files you will need to split up types into their own files again or, if you d

[2021-09-25 15:49] slarse commented on #4182
This is not something the pretty printer will do for you out of the box. The transform you want does not actually produce valid Java code. `li.add("123")` is a method call on a local variable, and a local variable can only be referenced by its simple name.

The only way for you to achieve this would be to extend the pretty-printer `DefaultJavaPrettyPrinter` and override the way that local variable

[2021-09-25 15:50] slarse commented on #2842
@monperrus Out of space again: https://ci.inria.fr/sos/job/gumtree-spoon-ast-diff/1771/console

[2021-09-26 01:18] yz-qiang commented on #4182
The code in T can work the same as the code you provided, but it still cannot transform li.add("123") into java.util.list.add(java.lang.object) and printed.   At this time, I noticed the generated AST, and the information in AST can print in a structural way? Please look at the picture.
![image](https://user-images.githubusercontent.com/72866861/134789773-943df00d-bd2a-45bf-83a7-a2f71440f1cd.png)

[2021-09-26 08:05] slarse commented on #4182
@yz-qiang See my answer above

[2021-09-26 08:15] SirYwell commented on #4136
As I was thinking about ways to make sure that modifiers are only applied if it conforms with the JLS, this would basically make it impossible to cover all cases (e.g. for enums, an explicit `final` is never allowed). If `CtExtendedModifier`s were immutable, it would be possible to do the checks in the appropriate places (for example, when having a `addExtendedModifier(...)` method in `CtEnum`, yo

[2021-09-26 08:44] I-Al-Istannen commented on #4182
I read that but it wasn't in the picture and I assumed it was a mistake :)

If you really want that, maybe this abomination (sorry Slarse) will be a starting point then:

[code]

This will probably explode if the executable's declaring type is not in the classpath, but in that case you are mostly screwed anyways.

[2021-09-26 11:51] yz-qiang commented on #4182
I'll be indebted to you for what you've done. Thank you so much, and the code is so pretty.

[2021-09-26 11:51] yz-qiang commented on #4182
Thank you :)

[2021-09-27 09:45] monperrus commented on #2842
[code]

Did somebody clean anything?

[2021-09-27 10:05] monperrus commented on #4180
FYI, the current LGTM report: https://lgtm.com/projects/g/INRIA/spoon?mode=tree&id=java%2Fcontradictory-type-checks%2Cjava%2Fdereferenced-value-may-be-null%2Cjava%2Finconsistent-equals-and-hashcode%2Cjava%2Findex-out-of-bounds%2Cjava%2Foutput-resource-leak%2Cjava%2Funchecked-cast-in-equals%2Cjava%2Funknown-javadoc-parameter%2Cjava%2Funused-container%2Cjava%2Fuseless-type-test%2Cjava%2Fzipslip&tag=

[2021-09-27 16:16] slarse commented on #2842
All of the builds on the Ubuntu 18 node fail with this error:

[code]

But I agree, it sure looks like there is space left...

[2021-09-27 17:50] slarse commented on #4035
This is done.

[2021-09-27 17:50] #4035 closed

[2021-09-27 18:04] gtoison opened #4186 "Record implementing an interface incorrectly printed"
Hello,
I'm trying to apply a refactor using Spoon and there seem to be an issue when a record implements an interface.

The following code:

[code]

Gets printed incorrectly (the interface disappeared and the method is now in parent class):
[code]

And when using Snipper (note the missing } at the end):

[code]

Is this a known issue?
Records are fairly new so it's good to see Spoon starting to su

[2021-09-27 18:10] MartinWitt commented on #4186
Sorry to ask you, but what version of spoon do you use? Do you use any maven-central version or build the PR branch local?
Currently, record support is implemented at PR #4134, but not merged.

[2021-09-27 18:38] gtoison commented on #4186
Ah you're right, I should have said!
I'm using version 9.1.0 from maven central

I think you answered my question then, I'll wait for the merge
Thank you for the quick reply!

[2021-09-28 04:45] Scemoon commented on #3510
Right.  I found conflict  with Lombok @data    when build mode with compiling，buildunits not found get or set method。

[2021-09-28 07:35] monperrus commented on #3879
FYI, https://ci.inria.fr/sos/job/Spoon-Snapshot-Deployer/ is now configured with Java 11

Ref: https://github.com/SpoonLabs/spoon-ci-config/commit/e14f7f709d4f7706375140a43deb69cb8355141e

[2021-09-28 12:59] spoon-bot opened #4188 "Regression of spoon-decompiler against latest snapshot"
Build 'spoon-decompiler' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [github] 012950c2ac4ddd9db93a5387d2611855cf7940d8 - fix: Keep modifier implicitness when cloning (#4176)

- [github] 5a56cc8e87cbb0d8d599c406e5b1b634ceed46bc - chore(deps): update dependency com.google.guava:guava to v31.0.1-jre (#4187)

- [github] e522c6699da12e05763bfb4fcbe668cbe8

[2021-09-28 13:51] yz-qiang commented on #4182
![image](https://user-images.githubusercontent.com/72866861/135098543-ff20d006-9a38-4ceb-ab75-40bddbc8d48b.png)
Sorry to trouble you again. Is there some way to print  `map.keyset().iterator()`  as `java.util.map.keyset()` and `java.util.set.iterator()`? As shown in the picture above, and here are some code fragments below.
![image](https://user-images.githubusercontent.com/72866861/135099819-e294

[2021-09-28 15:00] I-Al-Istannen commented on #4182
Uh you can do that quite easily by recursing but it **really** sounds like you are approaching it wrong.

Are you trying to get a list of all called methods? You can do that a lot easier with spoon. What are you doing with the spoon output? I am pretty sure there is a better way to achieve your *real* goal. And not mangle the code in printing. The code in printing will not recurse into lambda argu

[2021-09-29 01:01] yz-qiang commented on #4182
Yes, I'm trying to get a list of all called methods. What's the easier way to do it with Spoon?

[2021-09-29 08:22] #4188 closed

[2021-09-29 09:18] I-Al-Istannen commented on #4182
That was the reason I tried to get you to tell me *what you actually wanted to do* and mentioned the XY problem.

To answer the question though, you can just take a Scanner and visit CtInvocation and stash them away:

[code]

[2021-09-29 09:39] monperrus opened #4189 "add support for Java 17"

[2021-09-29 09:40] monperrus commented on #4179
That's done, Java 8 is not supported anymore as of https://github.com/INRIA/spoon/commit/d54673c2b6afdea6af5a222f075a135d85f4f050

[2021-09-29 10:50] yz-qiang commented on #4182
Wow, it's pretty good. Thank you so much. I can continue my downstream work. XY problem is a serious problem in our dialogue, exactly. I will pay attention to it.

[2021-09-29 16:46] SirYwell commented on #4189
Overview of new JDK features: https://openjdk.java.net/projects/jdk/17/

Ignoring preview features, following JEPs affect the JLS:
- [JEP 306](https://openjdk.java.net/jeps/306): see [changes in the JLS](https://cr.openjdk.java.net/~iris/se/17/spec/latest/specs/jls-jep306.html)
- [JEP 409](https://openjdk.java.net/jeps/409): see [changes in the JLS](https://cr.openjdk.java.net/~iris/se/17/spec/lat

[2021-09-30 07:36] monperrus commented on #4189
Thanks Hannes!

[2021-09-30 08:25] monperrus opened #4192 "Update infrastructure to Java 11 (Jenkins, etc)"
In our CI https://ci.inria.fr/sos/, we now run spoon-maven-plugin with Java 11.

However, it crashes with

[code]
Ref: https://ci.inria.fr/sos/job/Google%20Guice/1846/console

[2021-09-30 08:45] monperrus commented on #4192
Indeed spoon-maven-plugin's CI fails with 11: https://github.com/SpoonLabs/spoon-maven-plugin/pull/80

[2021-09-30 19:18] gtoison commented on #4186
Hello @MartinWitt,
I might have missed something but this time I tested against PR https://github.com/INRIA/spoon/pull/4134 and I got the following results:

With the default printer:

[code]

With Snipper (note the extra ')' and the missing '}' at the end):

[code]
The test refactor changes the method visibility to private, so ignore that

[2021-10-01 09:21] monperrus commented on #4192
Spoon-maven-plugin in Java 11 merged

[2021-10-01 09:21] monperrus commented on #4192
Now problem with classloader, WIP at https://github.com/SpoonLabs/spoon-maven-plugin/pull/104

[2021-10-01 13:19] monperrus opened #4194 "add easter egg in Spoon"
All cool software apps contains easter eggs (https://www.nytimes.com/2019/08/08/technology/easter-eggs-tesla-google.html)

It'd be great to have some in Spoon.

(before [running Spoon in a Tesla](https://www.youtube.com/watch?v=-jyPkg0yXzM))

[2021-10-03 21:28] MartinWitt commented on #4180
I created PRs for the following problems:
1 alert of Arbitrary file write during archive extraction ("Zip Slip") #4199
1 alert of Useless type test i nClassTypingContext.java #4196
2 alerts of Potential output resource leak across 2 files #4197
2 alerts of Container contents are never accessed across2 files #4198

PS: Could we add either add `hacktoberfest` to the topic or create a label `hacktobe

[2021-10-03 21:30] MartinWitt commented on #4186
Thanks for the bug report, I try to have a look at it.

[2021-10-04 20:20] monperrus opened #4203 "hacktoberfest tag has been added to Spoon"
FYI, tag [hacktoberfest](https://github.com/topics/hacktoberfest) has been added to Spoon, following a double suggestion by @MartinWitt and @danglotb

[2021-10-04 20:45] slarse commented on #4194
There's at least one in there that I know of.

[2021-10-05 09:59] monperrus commented on #3879
@seintur the full disk on `sos-builde02` issue is solved, there were hundreds of temp dirs in /tmp/.

For some reasons, `df` reported incorrect free space.

[2021-10-05 12:50] monperrus commented on #4192
https://github.com/SpoonLabs/spoon-maven-plugin/pull/104 merged!

[2021-10-05 12:51] monperrus commented on #4192
Next step to fix SOS is https://github.com/INRIA/spoon/pull/4206

[2021-10-05 13:09] monperrus commented on #3879
FYI, removed outdated certificate `DST_Root_CA_X3.pem` (Digital Signature Trust Co., CN = DST Root CA X3) on sos-builder01, which resulted in failing to curl

[code]

[2021-10-06 11:25] I-Al-Istannen commented on #4194
I only know of unspeakable errors of all kinds in spoon. Adding lambda bodies was a transcendental experience.

[2021-10-06 12:50] monperrus commented on #4192
Bukkit is green again: https://ci.inria.fr/sos/job/Bukkit/2101/

[2021-10-06 12:50] monperrus commented on #4192
Java8-workshop is green again: https://ci.inria.fr/sos/job/Java8%20Workshop/2228/

[2021-10-06 18:22] slarse commented on #4194
That would be the one I was thinking of :)

[2021-10-07 07:11] monperrus commented on #4192
The other failures are due to the projects under test not being Java 11 compatible. The changes in spoon-maven-plugin seem OK, I'll publish spoon-maven-plugin 3.5.

[2021-10-11 07:15] monperrus commented on #3574
**OpenRewrite** is a mass refactoring ecosystem for Java and other source code, designed to eliminate technical debt across an engineering organization.
https://github.com/openrewrite/rewrite

main contributors: @jkschneider @sambsnyd

[2021-10-11 10:54] neilmlapuz opened #4216 "AST Dump"
Is there a way for Spoon to just dump the AST of the project and give information of the classes and its methods and running this on the command line?

I was looking through the [docs](https://spoon.gforge.inria.fr/command_line.html) and I was going through the [processors](https://github.com/SpoonLabs/spoon-examples).

Thanks!

[2021-10-11 11:36] neilmlapuz commented on #4216
Thanks for your reply.

Given the sample input that you gave, the expected output would be static information of the Foo.java file. Such as the package name, class and method it contains, the path of it in the system.
So maybe like;

{ classname: Foo, package: bar, path: path/to/src/file ,methods: [bar()] }

[2021-10-11 15:48] #4071 closed

[2021-10-12 08:59] abhi22493 opened #4217 "SniperPrettyPrinter - Adding a new access modifier when there were none results in omitted whites spaces"
When using SniperPrettyPrinter, for the below input the expected output is not generated. For some reason spoon is omitting the space after newly added access modifier.

Input :
`CtConstructorProcessorProtected(String arg1, int arg2) {
		this.arg1 = arg1;
		this.arg2 = arg2;
	}`
Expected :
`protected CtConstructorProcessorProtected( java.lang.String arg1,  int arg2,  float arg3) {
		this.arg1 = ar

[2021-10-12 09:13] abhi22493 opened #4218 "SniperPrettyPrinter - Annotation not getting deleted on transformation"
When using SniperPrettyPrinter, for the below input the expected output is not generated. Spoon is not deleting the annotation with delete api.

Input :
`@abc.def.xyz
public class CtAnnotationProcessor extends AbstractSessionBaseEjb3 {
public void print(String str) {
		System.out.println(str);
}`

Expected output :
`public class CtAnnotationProcessor extends AbstractSessionBaseEjb3 {
public void p

[2021-10-12 09:23] abhi22493 opened #4219 "SniperPrettyPrinter - Abstract keyword getting deleted"
When using SniperPrettyPrinter, for the below input the expected output is not generated. Transformation is working as expected but abstract keyword is getting deleted from another method of the same class.

Input :
`public @interface CtAnnotationMethodProcessor {
	String totals();
	abstract String subjectName() default "CSE";
}`

Expected :
`public @interface CtAnnotationMethodProcessor {
	int to

[2021-10-12 09:31] abhi22493 opened #4220 "SniperPrettyPrinter - Modifiers are printed without trailing white spaces"
When using SniperPrettyPrinter, for the below input the expected output is not generated. Modifiers are printed without trailing white spaces.

Input :
[code]
Expected :
[code]
Actual :
[code]
Spoon print config :
[code]

Spoon version : 9.1.0-beta-10

[2021-10-12 10:50] abhi22493 opened #4221 "SniperPrettyPrinter - Extra parenthesis are added while using CtTypeAccess for changing code"
When using SniperPrettyPrinter, for the below input the expected output is not generated. Spoon is adding extra parenthesis while using CtTypeAccess for changing code.

Input :
`gconn= (OracleConnection) WSJdbcUtil.getNativeConnection((WSJdbcConnection)connection);`

Expected :
`gconn= (OracleConnection) com.wildfly.ws.rsadapter.jdbc.WSWildflyJdbcUtil.getNativeConnection((WSJdbcConnection)connecti

[2021-10-13 11:19] #4216 closed, assigned to nobody

[2021-10-13 16:43] slarse commented on #3890
Okidoki, I think I can spare some time during the weekend to pick up this thread again.

[2021-10-15 17:56] monperrus commented on #4192
Casper now works on Java 11: https://ci.inria.fr/sos/job/casper/1794/console

Changelog:

- bumped ASM and fix backward incompatibilities with `RemappingFieldAdapter`
- add to do some surgery to remove runtime annotation `HotSpotIntrinsicCandidate`

Reference: https://github.com/Spirals-Team/casper/commit/cb193c65297e926adbbe601fdd3ce98411f67f3b

CC @bcornu @barr @seintur

[2021-10-17 15:26] slarse commented on #3890
I'm a bit confused, I can't find that `spoon-maven-plugin` has any continuous delivery? Did you mean just the CI running on Travis?

[2021-10-17 17:12] monperrus commented on #4192
Jimfs is green again https://ci.inria.fr/sos/job/Jimfs/1809/console

[2021-10-18 07:59] #4132 closed, assigned to nobody

[2021-10-18 08:02] monperrus opened #4233 "community: integrator nominations"
Here, we nominate new integrators.

[2021-10-18 10:26] MartinWitt commented on #3653
The last needed step is updating the GitHub page, then all is done.

[2021-10-19 06:27] #3653 closed

[2021-10-19 06:29] monperrus commented on #3890
yes, it'd be great to migrate spoon-maven-plugin's CI.

[2021-10-19 08:55] monperrus commented on #1695
Today, we celebrate the 100th Github contributor!

![Screenshot from 2021-10-19 10-53-23](https://user-images.githubusercontent.com/803666/137877004-bae22df8-d38b-47aa-bccd-f70eaf9c7ab7.png)

Spoon is a great collective achievement!

[2021-10-20 09:25] SirYwell opened #4240 "bug: DefaultJavaPrettyPrinter fails to print `if` statement"
Under very specific circumstances, the printer throws an exception when printing an `if` statement.
<details>
<summary>Stacktrace</summary>

[code]

</details>

<details>
<summary>Code</summary>

[code]

</details>

For the exception to occur, it is necessary that the `else` statement is *not null* and the `then` statement is an _empty_ `CtBlock`. Additionally, this block must not have a valid sou

[2021-10-20 14:58] MartinWitt opened #4242 "JetBrains Qodana static analyzer"
As I read in some articles like [https://sdtimes.com/softwaredev/jetbrains-launches-code-quality-platform-qodana/](https://sdtimes.com/softwaredev/jetbrains-launches-code-quality-platform-qodana/) it seems that the basic Qodana version will be free. Qodana is JetBrains static analyzer from IntelliJ as CI/GitHub Action. Currently, IntelliJ is state of the art for static analysis and miles ahead of

[2021-10-21 09:46] abhi22493 opened #4243 "spoon.SpoonException: The element of class class spoon.support.reflect.code.CtForImpl does not have CtRole.TYPE"
If there is a comment before for loop and the initialization condition has final modifier before it then we are getting this exception :  spoon.SpoonException: The element of class class spoon.support.reflect.code.CtForImpl does not have CtRole.TYPE

Example :
[code]

Code used for this transformation :
[code]

Spoon print config :

[code]

Spoon version : 9.1.0-beta-10

[2021-10-21 16:18] slarse commented on #4243
Hi!

Thanks for the bug report. I formatted your code a bit.

For future reference, it helps if code snippets are well formatted and put inside triple backticks, like so:

[code]

For the input to the sniper printer, the formatting must correspond exactly to what you had originally, as it's (by design) formatting-dependent.

[2021-10-22 03:49] PeterFan89 opened #4245 "MavenLauncher ModelBuildingException"
The exception is :
spoon.compiler.ModelBuildingException: BaseMapper cannot be resolved to a type at /tmp/git-2988291472111792531/phx-ugc-base-app/src/main/java/com/sankuai/ia/ugc/base/mapper/CommentProductMapper.java:7
        at spoon.support.compiler.jdt.JDTBasedSpoonCompiler.report(JDTBasedSpoonCompiler.java:649) ~[spoon-core-9.2.0-beta-3.jar!/:?]
        at spoon.support.compiler.jdt.JDTBased

[2021-10-22 07:10] #4240 closed, assigned to nobody

[2021-10-22 07:48] spoon-bot opened #4246 "regression caught on Jenkins SOS"
https://ci.inria.fr/sos/

[2021-10-22 14:15] vmassol opened #4248 "Seems Spoon requires `maven-model` 3.8.2 when 3.6.0 seems enough"
On XWiki we're using Maven 3.6.0 at our dep version but Spoon Core 9.1.0 requires Maven 3.8.2. I've done a maven exclusion to force version 3.6.0 and spoon has worked fine. Could it be that it works with 3.6.0 and that the 3.8.2 requirement of spoon core is just too high?

Thanks

[2021-10-22 14:16] vmassol opened #4249 "${spoon.version} displayed for version 3.5"
[code]

[2021-10-22 14:20] vmassol opened #4250 "Make the check mojo less verbose by default"
[code]

This increases a lot the XWiki build logs unnecessarily. We don't need this since the information is already contained in the spoon configuration we set (you could decide to output them when they're not specified maybe).

I would remove:
- `Running in FULLCLASSPATH mode (doc: http://spoon.gforge.inria.fr/launcher.html).``
- ` Spoon version ${project.version}`
- ```
  start processing...

[2021-10-22 14:51] vmassol opened #4251 "spoon-maven-plugin doesn't support `--add-opens` (problem with Java 16+)"
[code]

Note: On Java 17 you cannot ignore anymore with `illegal-access=permit`. However you can make it work probably with some `--add-opens`. However ideally it needs to be fixed.

As a workaround the following should work: `--add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/java.io=ALL-UNNAMED --add-opens java.base/java.util=ALL-UNNAMED --add-opens java.base/java.util.concurrent=

[2021-10-27 19:58] #4248 closed, assigned to nobody

[2021-10-29 04:16] raghav-deepsource opened #4259 "Processors which support multiple element types do not work as expected"
It seems that when a processor implements multiple process methods of types other than the overriding one, spoon does not behave as intended, and ProcessingVisitor applies an improper check when deciding to process a particular node type with the affected processor. the specific code that causes this error is in the `canBeProcessed` method from ProcessingVisitor:

[code]

The marked check may have

[2021-10-29 18:30] slarse commented on #4245
@PeterFan89 I'm glad you found the problem, we're happy to help :)

[2021-10-29 18:34] slarse commented on #4259
Could you give a concrete example of "a processor [that] implements multiple process methods of types other than the overriding one"? I don't really understand what you mean by that.

[2021-10-31 21:39] rmkellogg opened #4262 "Document JDK requirement for Spoon 10.x+"
The upgrade to Spoon 10.0.0+ requires JDK 11 or higher.  This requirement needs to be listed in our requirements documentation.  Version 9.1.0 remains compatible with JDK 8.x.

[2021-11-01 05:13] raghav-deepsource commented on #4259
take something like this:

[code]

The `AbstractProcessor` class's constructor looks for any overloads of `process(T)` and adds the element types to the list of accepted types:

[code]

so this may result in our processor's `processedElementTypes` list looking like:

[code]

If we try to process a switch clause using this processor though, it will not work. The reason being, that the `canBeProcess

[2021-11-01 07:59] monperrus commented on #4262
Hi @rmkellogg That's correct. Would you make a pull-request? Thanks!

[2021-11-01 18:49] MackieRitz commented on #4180
Can i try this one?

[2021-11-01 19:00] MartinWitt commented on #4180
Sure, go ahead.

[2021-11-02 10:01] nharrand commented on #4220
I'm having a hard time reproducing this issue.

Part of the problem is that, if I am not mistaken, the Java code is not syntactically correct. (The field is static and final, so it should be initialized either directly or in a static initializer bloc). And it should not be writable in the constructor. Am I missing something?

I'm not necessarily implying, that the SniperPrettyPrinter shouldn't be

[2021-11-02 10:32] nharrand commented on #4219
Hello @abhi22493 ,

Can you provide the code of your transformation? I can't reproduce the bug. Simply using `setType(CtTypeReference ref)`  and calling Sniper pretty printer print the abstract modifier  as expected for me.

[2021-11-02 12:26] MackieRitz commented on #4180
For the zip vulnerability, we have to normalize the path starter right?
can i use  java.nio.file.Path.startsWith(--)

[2021-11-02 12:26] vmassol commented on #4251
Note that passing the `add-opens` to Maven doesn't make the Spoon plugin work. Could it be forking a JVM?

[2021-11-02 13:54] zhiwenluo0802 opened #4264 "Can I print the generate AST into json file?"
Hello,
we parse the .java file with Spoon, and generate a AST model, can we output the AST into a .json file, like:
[code]
 Thank you so much :)

[2021-11-02 14:38] monperrus commented on #4264
Yes, see https://github.com/SpoonLabs/gumtree-spoon-ast-diff/blob/master/src/main/java/gumtree/spoon/builder/Json4SpoonGenerator.java

[2021-11-02 14:38] #4264 closed

[2021-11-02 15:05] zhiwenluo0802 commented on #4264
ah, sorry to disturb you again, can you show me an example how to use it. Please. :(

[2021-11-02 17:47] slarse commented on #4264
@zhiwenluo0802 Sure. For example, to print the unnamed module (default module) as JSON to standard output, you could do something like this.

[code]

Check out the other methods of `Json4SpoonGenerator` for other variations of this. You can pass in any `CtElement`, and get JSON out.

Do note that `Json4SpoonGenerator` is part of the `gumtree-spoon-ast-diff` package, which doesn't ship with Spoon.

[2021-11-02 17:55] slarse commented on #4220
The code is _syntactically_ correct, but it is _semantically_ incorrect. JDT usually is pretty okay with semantic errors, it typically only causes problems with type resolution. I don't really see how it would cause a whitespace to be missed, that's very likely a sniper printer issue (a fairly common one, at that, the way we match up whitespace is finicky).

We have to request this from every othe

[2021-11-02 18:11] slarse commented on #4259
Okay, I understand what you mean now.

I wasn't around when this part of the code base was written, but I can't imagine that a processor processing multiple unrelated types was ever meant to be a supported use case. The type parameter in `AbstractProcessor` represents the type of element that it processes, so I think it would be entirely confusing to allow for processing of other types.

@monperru

[2021-11-02 18:32] raghav-deepsource commented on #4259
Not very palatable...

I have worked around the existing implementation in my own code, but wanted to draw attention to this in case anybody else also encountered this and wanted a reason (or a fix) for this behavior.

[2021-11-02 18:50] raghav-deepsource commented on #4259
I do agree that this does not really work well with how spoon's processor architecture was designed, and this is in the end mostly documented by source code alone.

[2021-11-02 19:22] dbarciela opened #4265 "Adding comments with SniperJavaPrettyPrinter (no break line)"
When I add a comment to an existing statement and pretty-print it does not add line breaks commenting the statement.
e.g:

SPOON TEST SOURCE:
[code]

TARGET CLASS:
[code]

RESULT:
[code]
Using other "CommentType" results in similar issues.

[2021-11-02 22:53] slarse commented on #4259
How so?

I don't really understand how this would even work. Even if you do put multiple overloads of `process` in there, the overload to call is determined at compile time. How are you dynamically selecting the "correct" method for a given element type?

[2021-11-03 02:38] zhiwenluo0802 commented on #4264
Thanks for your reply :). I ran this example, it is succeeded. I have a question about the results.
 For example. I parsed the `Stream<String> stream = map.keySet().stream();`, into `{
                          "label": "stream",
                          "type": "Invocation",
                          "children": [
                            {
                              "label": "keySet",

[2021-11-03 06:11] raghav-deepsource commented on #4259
in some cases, one may want to analyze multiple elements while keeping some context. I essentially just have the checker's element type be CtElement. within the overriding process method, I check the type of the element and direct it to the correct overloading method there.

[2021-11-03 16:46] slarse commented on #4259
So you're doing something like this?

[code]

That's not possible to do in Spoon itself because it requires statically knowing the available overloads, which obviously we can't. Besides, it's something of an abuse of overloads, and would be better served by simply defining unique methods to avoid having noop casts (i.e. when you cast to say `CtIf`, but there's no overload for `CtIf` so it just end

[2021-11-03 17:22] slarse commented on #4265
Thanks for the bug report. Probably similar to #3697 (and the related PR #3701)

[2021-11-04 04:15] raghav-deepsource commented on #4259
Understandable.

I promise it looks much better in kotlin.

[2021-11-04 09:30] nharrand commented on #4220
I was probably unclear. I meant that part of the problem (me not being able to reproduce the issue) was the code, and definitely not that this was the root cause of the Sniper issue.

Yes, you're _technically_ correct, but it's still an error that the compiler (`javac`) rejects. ;-)
But again, it's still a bug that we should fix!

Completely agree!

[2021-11-04 10:31] vmassol commented on #4251
Just noticed that spoon maven plugin v3.5 doesn't work on Java 16, even with Spoon 10.0.0.

[2021-11-04 11:54] slarse commented on #4259
Haha, I mean, name one thing that doesn't look better in Kotlin.

I think that's also the only way you can achieve this behavior with the current architecture. Well, you don't necessarily need overloads, but you definitely need to cast the argument to some other static type to be able to dispatch to the "correct" method. It's not ideal but with behavior that dynamic, IMO it's not _that_ bad. And a

[2021-11-04 11:59] slarse commented on #4220
I didn't mean to be petty, it's a relatively important detail. For example, when running in noclasspath mode we accept tons of semantic errors (mostly in terms of unresolved types), but as long as the code is syntactically correct we want to be able to deal with it.

When the code is syntactically incorrect, all bets are off. Had the code actually been syntactically incorrect, and that caused the

[2021-11-04 12:06] nharrand commented on #4220
No worries, I did not take it as pedentism at all. I agree that it does matter.

I used 'syntactically incorrect' as the compiler rejects it. But you are right that it is an oversimplification.

[2021-11-05 06:44] monperrus commented on #4259
Yes, processors (under `AbstractProcessor`) are meant to support one single element type, and we never wanted/claimed to support multiple element types.

Possible actions:

* make this clearer in the API doc (would you make a PR? Thanks!)
* add a new feature to support processors for multiple element types, which is related to roadmap element https://github.com/INRIA/spoon/issues/1075

[2021-11-05 06:46] monperrus commented on #4251
thanks for the update

cc/ @algomaster99 we may have to look at this one soon

[2021-11-05 10:24] cesarsotovalero opened #4269 "Add support for the Gradle build scan using the Maven extension"
The [Gradle Build Scan](https://scans.gradle.com/#maven) is a free service that provides useful insights regarding how the project build (e.g., dependencies, plugins, tasks performance, tests, infrastructure used, etc.)
Once configured, the information is accessible via a randomly generated link, printed in the logs at the end of the build.
This information can be valuable for the community to bet

[2021-11-05 10:34] monperrus commented on #4269
thanks for the constructive proposal.

:+1:  for installing the Maven extension

[2021-11-05 10:37] bitsrepo opened #4270 "OutputType Filter not implemented for Compilation Unit output type"
As per the code snippet from JDTBasedSpoonCompiler, the output type filter is not considered for compilation unit. For the sniper mode printing , the output type is internally configured as compilation unit. I am using a maven project with Maven Launcher and only interested in outputing the modified compilation unit to the ouput folder. Currently , all the input files are populated in the ouput fo

[2021-11-08 09:09] raghav-deepsource commented on #4259
I think the way to go would be to introduce a different processor API... while it would increase the size of spoon's API, it would allow us to sidestep the current implementation's limitations

[2021-11-08 09:10] #4259 closed

[2021-11-08 09:42] monperrus commented on #4259
yes, it's a great idea, feel free to PR.

[2021-11-08 10:14] raghav-deepsource commented on #4259
Will do.

[2021-11-08 11:57] monperrus commented on #2554
FYI:
Jesper Lundholm's thesis.

KtSpoon : Modelling Kotlin by extending Spoon’s Java Metamodel (2021): http://urn.kb.se/resolve?urn=urn:nbn:se:kth:diva-304429

[2021-11-08 14:10] algomaster99 commented on #3911
@slarse Could you help me reproduce this? I want to use this issue to understand the inner workings of the `SniperPrettyPrinter` and how it preserves the formatting changes before building the model. While looking into the printer, I had some questions about its design and some related queries.

Q.1 How do you set up a SniperPrettyPrinter? Is it as simple as below?
[code]
I tried to follow sorald

[2021-11-08 21:59] breandan commented on #2554
@jlundhol Can you comment on your parser's support for error recovery? Does it need to perform symbol resolution or it possible to define a source code transformation on an incomplete code snippet? Thank you!

[2021-11-09 20:06] jlundhol commented on #2554
Hi @breandan ,
it depends heavily on the Kotlin IR module which will generate IR error nodes for errors such as unresolved references.  I didn't implement any handling of error nodes, though. Hence, it won't build a model of code containing errors.

[2021-11-10 09:41] algomaster99 opened #4274 "Questions about Sniper prettyprinter"
Hi! I was trying to look into #4220, and while debugging it, I came up with some questions about the sniper printer. I will first write down how I reproduced it and then ask questions about things I didn't understand while debugging it.

## Test reproducing the bug

### Test case

[code]

### Test resource

**Input**
[code]
**Output**
[code]
Note that there is no space between `final` and `java.la

[2021-11-10 10:32] algomaster99 commented on #4274
I had a small informal meeting with @nharrand and he answered the questions above.

`launcher.prettyprint` prints the model (could be transformed or not) in an output directory  which one can set up with `launcher.setSourceOutputDirectory()` (there is a default one too). If you want the output in the STDOUT, use `toString` method defined for every `CtElement`. It will first get the prettyprinter f

[2021-11-10 10:32] #4274 closed

[2021-11-10 11:40] dginelli opened #4275 "Activating a research fault localization bot on your project?"
Hi!

We are software engineering researchers and are currently looking for active open-source projects where we could test a new cool software bot: flacocobot!

When a new pull request is open, if it has test failures/errors, flacocobot analyzes the failure and posts a diagnosis as comments to the pull request, highlighting the most suspicious lines that likely need to be analyzed to fix the bug.

[2021-11-11 05:07] nashid commented on #4017
@slarse do you think in the near future Spoon would address these gaps? There are so many tools in the JVM ecosystem and yet there is no tool that is easy to use and works.

Alternately, could you point me to any tool/library resource that can generate control flow and data flow reliably for JDK8+ code?

[2021-11-11 05:12] nashid commented on #3774
@monperrus  do you think in the near future Spoon would address the following gaps?

- Control flow analysis
- Data flow analysis
- def-use analysis

There are so many tools in the JVM ecosystem and yet there is no tool that works reliably, is well-maintained, and has ok enough documentation.

Alternately, could you point me to any tool/library resource that can generate control flow and data flow

[2021-11-11 14:56] monperrus commented on #3774
Hi @nashid  See:

* https://github.com/INRIA/spoon/tree/master/spoon-control-flow
* https://github.com/INRIA/spoon/tree/master/spoon-dataflow

For def-use, nothing comes on the top of my head.

[2021-11-12 09:05] xzel23 opened #4281 "[Bug] generic records output is wrong"
**Describe the bug**
Generic record output is wrong, the generic type is printed to the right of the argument list.

**To Reproduce**

Input:
[code]

Processing with Spoon:
[code]

Output:
[code]

Note that you can also open a pull request reproducing the issue and reference that, instead of writing additional information here.

**Operating system, JDK and Spoon version used**

* OS: MacOS 12.0.1

[2021-11-12 09:53] xzel23 commented on #4281
Hi guys, please give me one or two days time - I just cloned spoon to look into this myself and will let you know later if I can create a PR for this.

[2021-11-12 10:22] monperrus commented on #4275
ok for me, but I have a conflict of interest :)

@nharrand @slarse WDYT?

[2021-11-12 12:38] xzel23 commented on #4281
Created a Pull Request: https://github.com/INRIA/spoon/pull/4283

[2021-11-12 16:33] xzel23 opened #4285 "[Bug] Test failure in TestModule.testModuleNames()"
**Describe the bug**
Test fails in `testModuleNames()` when doing `assertTrue(list.contains("bar"))`.

**To Reproduce**
Check out Spoon; run `mvn compile` then `mvn test`

**Notes**
In that test case, an array of compilation units is retrieved and then the names of the two first entries of that list are inserted into a list. Then a test is made to check if both "foo" and "bar" are contained in tha

[2021-11-12 17:24] slarse commented on #4275
I don't mind. We do have something of a proliferation of code quality tools running now, though. How about we disable LGTM (which is pretty annoying IMO) and run this instead?

[2021-11-12 17:37] SirYwell commented on #4285
Seems like the order can be tracked down to depend on `File#listFiles()` which does indeed not guarantee any specific order.

I think your suggestion is a reasonable solution. That said, you can use [`Arrays.stream(cu)`](https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/util/Arrays.html#stream(T%5B%5D)) to make it even simpler.

[2021-11-12 19:49] slarse commented on #4233
@monperrus It seems to me like the vote is unanimous, how about promoting @MartinWitt to integrator?

[2021-11-12 19:56] MartinWitt commented on #4275
100% agree with removing LGTM, we have qodana as a (hopefully) better replacement.

2 weeks could be a too small windows for spoon, because sometimes we have week without PRs. Maybe you need to increase the window if your study designs allows it.

[2021-11-12 19:57] MartinWitt commented on #4242
Closed by #4244

[2021-11-12 19:57] #4242 closed

[2021-11-12 19:59] MartinWitt commented on #4203
We can remove the tag till next year.

[2021-11-13 13:38] #4281 closed

[2021-11-13 14:50] dginelli commented on #4275
We can start with two weeks, and then we see what happens. If we will not be lucky, we will just ask you to fill a super short questionnaire about software bots in general.

So, do you agree if we run flacocobot on your project?

[2021-11-13 20:37] breandan commented on #2554
Thank you! From what I have seen, Spoon is able to handle whole-classes, but methods must be enclosed. While some parsers have better support for error recovery, it is unclear what should occur when transforming a partial code snippet, so it makes sense to only consider fully-formed classes. Otherwise I quite like your fluent API design and look forward to using it. Out of the ones I have tried, i

[2021-11-15 07:37] xzel23 opened #4287 "[Bug] setPreserveLineNumbers(true) incompatible with single line comments"
**Describe the bug**
when preserveLineNumbers is set, a closing brace is sometimes placed on the same line as a single line comment leading to sytactically incorrect code.

**To Reproduce**

Input:
[code]

Processing with Spoon:
[code]

Output:
[code]

Note that the closing brace after the default clause is place after the single line comment. This does not happen, if I call `launcher.getEnvironme

[2021-11-15 07:38] xzel23 commented on #4287
I might find the time to look into this later this week - currently busy with my day job.

[2021-11-15 08:00] algomaster99 opened #4288 "No need for using `M2_HOME` environment variable as fallback to find path to maven executable in Windows"
We no longer need to get the path to maven executable [via `M2_HOME`](https://github.com/INRIA/spoon/blob/master/src/main/java/spoon/MavenLauncher.java#L93) because its usage has been deprecated with [newer Windows releases](https://github.com/actions/virtual-environments/issues/4485#issuecomment-967145878).

[2021-11-15 13:45] monperrus commented on #4180
Per https://github.com/INRIA/spoon/issues/4275#issuecomment-967286718 and https://github.com/INRIA/spoon/issues/4275#issuecomment-967437353 we are now deactivating lgtm.

[2021-11-15 18:19] #4285 closed

[2021-11-15 18:23] slarse commented on #4275
@dginelli Go ahead :)

[2021-11-15 19:08] slarse commented on #3911
@algomaster99

Q. 1: Yes

Q. 2: It's printing to disk (i.e. files)

See #4289 for a test case that reproduces the problem :)

[2021-11-15 19:12] algomaster99 commented on #3911
@slarse I met with @nharrand and asked him about these questions. I have summarised the discussion in our meeting [here](https://github.com/INRIA/spoon/issues/4274#issuecomment-964998562).

Thanks!

[2021-11-15 19:13] slarse commented on #4288
Could you try to find the actual release notes for when this `M2_HOME` was deprecated and/or removed? From the Maven release notes that is.

The links here just refer to it as "being gone", or something like that.

[2021-11-15 19:16] algomaster99 commented on #4288
@slarse Yes, I can find that. I once looked up release notes of Windows environment which just hit me that it was the wrong place to look at. I will try finding it on the Apache maven website.

[2021-11-15 19:32] algomaster99 commented on #4288
@slarse , found it! Look at the updated issue description.

[2021-11-15 21:07] slarse commented on #4288
@algomaster99 Good find.

I don't think it's a good idea to remove the `M2_HOME` fallback yet. Maven 3.5 is _relatively_ recent (released in 2017). Up until relatively recently, we were running Maven 3.3 on Jenkins, and releases as old as [Maven 3.1 are still supported](https://maven.apache.org/docs/history.html).

There are however a couple of action points.

At the very least, we shouldn't menti

[2021-11-16 06:25] Eng-sarah90 commented on #3251
#monperrus thanks for your project I am interested to know about Nopol implemntation

[2021-11-16 08:16] algomaster99 opened #4290 "Rewrite `SpoonPom.guessMavenHome` so that it correctly looks up the path to `mvn` executable"
`SpoonPom.guessMavenHome` abruptly stopped working on Windows in sorald (one of spoon's user). Its reason has been documented [here](https://github.com/INRIA/spoon/pull/4272#issuecomment-968293590) and for now, we have implemented a [workaround](https://github.com/SpoonLabs/sorald/pull/617) in sorald which lets our tests pass. However, we could re-implement `guessMavenHome` and overall improve [Sp

[2021-11-16 10:29] #4220 closed

[2021-11-16 10:30] monperrus commented on #3251
Feel free to open an issue on https://github.com/SpoonLabs/nopol/

[2021-11-16 10:45] algomaster99 commented on #3909
Isn't it a better idea to link the [insights/contributors](https://github.com/INRIA/spoon/graphs/contributors) list? The list is available under two conditions - either the repository is public or the organization needs to upgrade to GitHub team, and we qualify the first the condition.

[2021-11-16 14:47] Eng-sarah90 commented on #3251
I am very interested in this project and I am trying to package it on my pc
for fault localization. I cloned this project in intelij idea .

I need to know...
1- what are the input dataset to nopol tool ??
2- how the processing for this input dataset??
3- and how can I see the Output??

I am run the source code of nopol project , and that is ok but I can not
see any output like in paper.

what you

[2021-11-16 15:02] SirYwell opened #4291 "[Bug] `CtNewClass#getType()` returns type of superclass/superinterface"
**Describe the bug**

This problem occured to me when inspecting how anonymous enum types are handled in Java 17. Enums with anonymous enum values are `sealed` in Java 17, with the anonymous enum values as *permitted types*.

A place where this might be more relevant is my example below, as `var` allows to capture the type of an anonymous class (and you can use methods declared in the anonymous ty

[2021-11-16 15:42] #4218 closed

[2021-11-16 17:24] slarse commented on #4264
Hi @zhiwenluo0802,

It appears as if it doesn't print the return types of method invocations. You probably need to go into the code and alter it to get that behavior.

[2021-11-16 17:33] slarse commented on #4290
Correction: It never worked on Windows in the presence of a `SecurityManager` :)

[2021-11-16 17:38] slarse commented on #3909
That was my thought too, but as @monperrus then pointed out, we have contributors that predate GitHub and thus aren't shown.

[2021-11-16 17:52] slarse commented on #4291
Hi @SirYwell, thanks for the detailed bug report. What do you think of the new template, helpful?

This is clearly wrong, as one can't assign a supertype (the super class/interface) to one of its subtypes (the anonymous class).

I agree.

Are these tests perhaps making incorrect assumptions? Or does something actually break?

[2021-11-16 18:50] SirYwell commented on #4291
Yes, definitely! I like it.

I didn't look much into the tests (also my local setup is cursed because I don't have maven installed *and* I'm on windows, so I have a lot of failing tests anyways), but I saw issues with printing, with runtime class resolving and stuff I didn't really understand without looking into it further. One example of a test that most likely is making incorrect assumptions is

[2021-11-17 15:38] monperrus commented on #4233
Great, this is https://github.com/INRIA/spoon/pull/4294

[2021-11-17 16:12] monperrus commented on #3909
we can have a CI job  which detects if the list is outdated and automatically create a PR accordingly based on the output of `chore/generate-contributor-list.py`.

[2021-11-17 17:08] nharrand commented on #4233
#4294 is merged!

@MartinWitt congratulations!

[2021-11-19 09:31] algomaster99 opened #4297 "Inspect if all instances of `CtTypeReferences` in a model built from source have a set source position"
https://github.com/INRIA/spoon/pull/4296 added a patch that sets source position for a very specific case. However, I think there are still many cases left. One of them has been described [here](https://github.com/INRIA/spoon/pull/4296#issuecomment-973890405).

We need to come up with test cases that use instances or child instances of `CtTypeReference` in different ways, for example, type of para

[2021-11-19 11:19] #4262 closed

[2021-11-19 17:23] monperrus opened #4300 "governance: introduce a background check for Spoon integrators"
Dear all,

Recently, there have been a number of software supply chain attacks. Basically, malicious persons push malicious code in open-source software: <https://github.blog/2020-09-02-secure-your-software-supply-chain-and-protect-against-supply-chain-threats-github-blog/>

Spoon is concerned by this problem, because if somebody pushes a backdoor in Spoon, she would have access to lots of source

[2021-11-20 12:09] #4182 closed

[2021-11-20 16:14] xzel23 opened #4302 "[Bug] NPE in Launcher.prettyPrint() due to not checking return of File.getParent()"
**Describe the bug**
Program throws NPE in `Launcher.prettyPrint()` when the path to the current resource has no parent.

**To Reproduce**

Input:
I think the actual input doesn't matter much because the problem lies in manipulating Strings to create paths instead of using the JDK classes for that purpose. I ran into this bug with the following input:
[code]

Processing with Spoon:
[code]

Output:

[2021-11-20 16:18] slarse commented on #4302
Using Strings for paths is a known bad habit in Spoon. A lot of it predates Java 1.7 and then I'd imagine a lot has just been a continuation of what it already looks like.

A PR replacing the use of `String` with `Path/File` is welcome.

[2021-11-20 16:21] xzel23 commented on #4302
Ah, I see. So this PR fixes my current problem first. I still face several problems in Spoon that prevent me using it for a gradle plugin that I am developing. I focus on fixing those bugs first, to get the plugin working. Once that is done, I can look into this again.

[2021-11-20 16:27] slarse commented on #4302
To clarify, I didn't mean "one PR to replace all uses of `String` with `Path`", that would be a huge PR. I just meant that replacing those parts (as long as it's not in the public API) is fair game.

A more clear statement would be "PRs that replace the use of `String` with more appropriate abstractions are welcome"

[2021-11-20 16:29] xzel23 commented on #4302
Ah, OK. Done that.

[2021-11-20 16:43] xzel23 commented on #4302
Wait, I'll also provide a unit test for this.

[2021-11-20 17:21] xzel23 commented on #4302
OK, added a unit test to the PR, made sure it fails without the change and succeeds when the change is applied. Please review the linked PR.

[2021-11-24 21:36] slarse commented on #4300
How would we go about doing that?

I feel like there are several things we can do before that. For example, we can have stronger branch protection rules, and require each PR to be approved before being merged (that's kind of a basic thing we really should have). Maintainers can't approve their own PRs, but that of course doesn't stop them from creating another account to create the PR to be approv

[2021-11-24 21:37] slarse commented on #4180
So, feels like we should close this as we don't use LGTM anymore.

[2021-11-24 21:37] #4180 closed

[2021-11-25 10:05] monperrus opened #4307 "good first issue: add message to assertTrue"
@MartinWitt points out rightly that assertTrue assertions should always have a message, see https://github.com/INRIA/spoon/pull/4298#pullrequestreview-814313046

It's a good Spoon exercise to write a processor to detect assertTrue without messages.

We welcome first contributors to Spoon who add missing messages to assertTrue.

[2021-11-25 10:06] #4290 closed

[2021-11-25 15:36] NAMANIND commented on #4307
Hey 👋🏻, I am new to open source and really excited to do something for community, can you please assign this work to me?

[2021-11-25 16:04] NAMANIND commented on #4307
@MartinWitt thank you for assigning this work to me. Can you please explain me exactly what I have to do.

After reading some previous comments, I think I have to add a comment message in the code like this (message: Couldn't find path to maven home).
If yes then on which line number or place I should add this comment?

[2021-11-25 16:20] algomaster99 commented on #4307
Hi @NAMANIND !

First of all, thank you for volunteering to contribute! The issue is about _checking_ if `assertTrue` has a `message` parameter also. Note that Junit has overloaded the method name `assertTrue` with the following definitions:
1. [assertTrue(java.lang.String message, boolean condition)](http://junit.sourceforge.net/javadoc/org/junit/Assert.html#assertTrue(java.lang.String,%20boolean

[2021-11-26 02:10] MartinWitt commented on #4300
I would love having a protected master, forbidding any direct commit.

[2021-11-26 05:26] NAMANIND commented on #4307
Hi @algomaster99 !
After checking all methods in `spoon/src/test/java/spoon/MavenLauncherTest.java`
Which uses `assertTrue` , I found several `assertTrue` assertion statement which have no `String` used which is undesirable.

All of them are mentioned below :-

I found several other way of using  `assertTrue` statement too, I don't know that it is right or wrong please give a check on these `asser

[2021-11-26 08:26] algomaster99 commented on #4307
@NAMANIND you don't need to check these test methods manually. Instead, you need to write a test suite to check if each test method follows a contract - '`assertTrue` assertion has a `message` argument too'. You can have a look at this [test suite](https://github.com/INRIA/spoon/blob/master/src/test/java/spoon/test/parent/ContractOnSettersParametrizedTest.java) as an example. It checks that each s

[2021-11-26 15:51] algomaster99 commented on #4288
Summarising the above comment,

- [x] Refactor error messages so that it doesn't mislead us that `M2_HOME` is not on `PATH`. Done in: https://github.com/INRIA/spoon/pull/4298
- [ ] Log a warning if the code uses `M2_HOME`.

[2021-11-27 05:11] NAMANIND commented on #4307
Hey @algomaster99  I have wrote a test suite and run all the test cases. Let me explain you with an example what I found :-

https://github.com/INRIA/spoon/blob/f898632bbdaf5c671b74a652c04d10dfc65328c3/src/test/java/spoon/MavenLauncherTest.java#L72

https://github.com/INRIA/spoon/blob/f898632bbdaf5c671b74a652c04d10dfc65328c3/src/test/java/spoon/MavenLauncherTest.java#L78

Thus, adding missing mess

[2021-11-27 09:19] xzel23 opened #4313 "[Bug] Spoon removes super class name when printing nested class name resulting in invalid output"
**Describe the bug**
Spoon sometimes removes the super class name when  printing a nested class name which in some cases leads to incorrect output. In this example, `public class Foo implements Iterable<Foo.Bar<?>>` is changed by Spoon to `public class Foo implements Iterable<Bar<?>>`. Note the missing `Foo.` in the generic argument. While it is sufficient to use `Bar<?>` when *inside* the class d

[2021-11-27 09:28] slarse commented on #4288
If we want to be super nice about it, we should only log a warning message if using `M2_HOME` with Maven version 3.5.0 or later. Because before that, `M2_HOME` was fair game.

[2021-11-27 10:30] slarse commented on #4313
Oh, that's bad. In the default printer no less. This is a high-priority bug.

Will you be working on a fix for this?

Just to be very clear on the bug, the problem is that the simple name for `Bar` is used in the header for `Foo`.

[code]

This won't compile, the name must be qualified as `Foo.Bar`.

Printing the simple name `Bar` only inside the body of `Foo` is not a bug, because `Bar` exists in

[2021-11-27 11:17] xzel23 commented on #4313
Yes, I will look into this in the coming week. I have encountered another bug like this, but I currently cannot tell if it's really the same cause.

[2021-11-27 11:47] slarse commented on #4313
Great, thanks!

[2021-11-27 15:09] #4302 closed

[2021-11-29 08:16] abhi22493 opened #4315 "[Bug] Sniper Pretty Printer issue : Square brackets are missing in array initialization"
**Describe the bug**
When sniper pretty printer writes a file, if a array initialization contains a square bracket after variable name , it removes it from the code.

**To Reproduce**

Input:
[code]
Processing with Spoon:
[code]
Output:
[code]
You can use any code to reproduce this issue as long as sniper pretty printer rewrites the file containing the above mentioned array initialization.

**Oper

[2021-11-29 12:50] algomaster99 commented on #4315
Hi!

Could you please create a pull request to introduce the failing test case? You could follow https://github.com/INRIA/spoon/pull/4289 as a template.

[2021-11-29 16:22] algomaster99 commented on #4307
@NAMANIND

You should submit a PR for it from your fork and we can start the review process. What do you think?

I think the title of the issue may have caused this confusion. You don't have to add a `message` if it is not present. You just need to check if it is there. If it is not there, the test you design should fail.

@monperrus could you rewrite the issue title as "good first issue: check if

[2021-11-30 12:53] monperrus commented on #4307
done.

[2021-12-01 08:55] algomaster99 opened #4319 "Push patch versions to maven central instead of uploading SNAPSHOTs to nexus repository manager"
I wanted to have a discussion on how we release Spoon artefacts. Currently, we only release major and minor version upgrades which are evident from [here](https://github.com/INRIA/spoon/releases). The patch version is released every time something is pushed to `master`, but it is uploaded to https://repository.ow2.org/nexus/content/repositories/snapshots/fr/inria/gforge/spoon/spoon-core/. I wanted

[2021-12-01 18:53] slarse commented on #4319
We upload to the OW2 Nexus as Spoon is part of the OW2 consortium, and a requirement is to have source code there. Actually, if we ever want to move past the incubation stage, we need to at least sync all releases there as well.

We only release a patch version if there's something critical to address that cannot wait until the next minor release. Patch versions come with some amount of overhead,

[2021-12-02 04:48] MartinWitt commented on #4300
@monperrus as this is kinda related, how about marking the master branch as protected, forbidding direct pushes and forcing pull requests? Normally, we should never require direct pushes to master, and it reduces the chance of mistakes by integrators.

[2021-12-02 22:02] monperrus commented on #3774
Closing, thanks.

[2021-12-02 22:02] #3774 closed

[2021-12-02 22:03] monperrus commented on #3777
closing stale issue, thanks

[2021-12-02 22:03] #3777 closed

[2021-12-02 22:04] monperrus commented on #1908
"A Precise Framework for Source-Level Control-Flow Analysis", https://ieeexplore.ieee.org/document/9610697 by @creichen and colleagues

[2021-12-04 15:21] xzel23 commented on #4313
This is much harder than I thought. IMHO Spoon is not really maintenance friendly with classes directly accessing and sometimes even modifying other classes members. After spending lots of time debugging, and doing some refactoring to make ContextBuilder a little bit friendlier to debug, I still have not proceeded very much.

I step through the code for hours, and all the time the type is `Iterabl

[2021-12-06 09:59] PeterFan89 opened #4329 "MavenLauncher classloading increasing"
I am using MavenLauncher to analyse the code, is there any way to prevent classloading increasing?
It will cause metaspace oom.

`            MavenLauncher mavenLauncher = new MavenLauncher(checkOut.getAbsolutePath(),
                    MavenLauncher.SOURCE_TYPE.APP_SOURCE);
            mavenLauncher.getEnvironment().setNoClasspath(true);
            CtModel ctModel = mavenLauncher.buildModel();

[2021-12-06 11:47] xzel23 commented on #4313
Finally found something and changed some lines of code that make my test case pass. But I have to look into this further because it makes an unrelated test case fail. I think that test case should be changed as it is based on a wrong assumption, but I need some more time to analyse further. Currently super busy with my day job but should be able to finish this on the next weekend at the latest.

[2021-12-06 13:50] plcarmel opened #4330 "[Bug] SniperJavaPrettyPrinter - Invalid ouput on annotated default method"
Given the following input:

[code]

When performing a transformation on the class (changing the method name to "potato", for example) and pretty printing the model using SniperJavaPrettyPrinter, the annotation "@Deprecated" and the "default" keyword end-up merged together.

[code]

Code to reproduce the bug is available on GitHub:
https://github.com/plcarmel/spoon-default-method-bug

[code]

[2021-12-06 14:16] plcarmel opened #4332 "[Bug] Failure on comments inside enum values"
When there are comments inside enum values, Spoon fails to perform a transformation on the type.

[code]

[code]

Code to reproduce the issue is available on GitHub:
https://github.com/plcarmel/spoon-enum-bug

[code]

[2021-12-06 14:33] algomaster99 commented on #4330
@plcarmel Thanks for the issue. We will have a look at this.

This might be related to https://github.com/INRIA/spoon/pull/4296.

[2021-12-06 16:22] plcarmel opened #4335 "[Bug] SniperJavaPrettyPrinter - Extra parenthesis around typecast"
When renaming "a", in this code:
[code]
it gets transformed into this code, that does not compile:

[code]

Extra parenthesis are added around the typecast.

Code to reproduce the issue is available on GitHub:
https://github.com/plcarmel/spoon-parenthesis-bug

[code]

[2021-12-06 17:38] slarse commented on #4332
Hi, thanks for the bug report.

The transformation itself isn't the problem here, the crash occurs in the sniper printer. I edited the title to make it more apparent.

[2021-12-06 17:40] slarse commented on #4335
Thanks for the bug report.

This is related to #3809 and #3911

[2021-12-08 14:46] algomaster99 commented on #3890
Spoon's auto-deployment of beta release is broken since October 2021. I think that puts a priority on this issue. I will try having a look next week. I have a lot on my plate for the time being.

[2021-12-08 17:18] monperrus commented on #3890
did a manual delivery of  10.0.1-beta-2 from 3cdf2679abf30b543e82710a6247001445ee187d

[2021-12-08 17:26] algomaster99 commented on #3890
@khaes-kth we can now use the beta version to run our experiments. :)

[2021-12-08 18:42] MartinWitt commented on #4329
Could you give some information what project with size you had as input?

[2021-12-09 12:39] algomaster99 commented on #4315
I found out where the issue lies. It is located in [`DefaultJavaPrettyPrinter::visitCtField`](https://github.com/INRIA/spoon/blob/master/src/main/java/spoon/reflect/visitor/DefaultJavaPrettyPrinter.java#L785) when the identifier of the field is written.

Let's consider the case of sniper printing `String str[];` (an instance of `CtFieldImpl`). Since we are printing the _no-op modfied_ field using

[2021-12-09 14:38] MartinWitt commented on #4315
The workaround looks like another band-aid on the printer. There is already a lot, so it's not the end of the world.
I prefer the clean metamodel solution, in a non-breaking way. Adding an Enum for the bracket state and some API for it should be doable. For a first fix, it's fine for me if we don't expose the bracket setting to a user.

If we start adding printing related states to the metamodel,

[2021-12-09 14:49] algomaster99 commented on #4315
I agree.

I thought so too. In my head, the approach was something like this:
1. Add enum - `ArrayDeclarationKind`.
2. Configure it in `MetaModel.java`.
3. Add getters and setters in `CtArrayTypeReferenceImpl`.
4. Use the setter in `ReferenceBuilder` to set the declaration kind.

However, the batch compiler [here](https://github.com/INRIA/spoon/blob/12cc1a530e5801829ec4e5f674135f704040f419/src/mai

[2021-12-09 16:45] algomaster99 commented on #4315
@MartinWitt any idea how I can generate [`CloneVisitor.java`](https://github.com/INRIA/spoon/blob/c65b2eae4984949ca4ecc2641cc7f4052149935e/src/main/java/spoon/support/visitor/clone/CloneVisitor.java)? Since I added an enum in the metamodel, I need to regenerate it.

[2021-12-09 16:54] MartinWitt commented on #4315
https://github.com/INRIA/spoon/blob/918568ccccd2f09cb11a97840e740f701124cda2/src/test/java/spoon/processing/CtGenerationTest.java with the `CtGenerationTest`. There is a Unit test for generation and the copy command as comment.

[2021-12-09 16:54] I-Al-Istannen commented on #4315
One of the Tests in `src/test/java/spoon/processing/CtGenerationTest.java` generates it IIRC (by calling `src/test/java/spoon/generating/CloneVisitorGenerator.java`)

[2021-12-09 17:07] algomaster99 commented on #4315
Got it. Thank you, both! :)

[2021-12-09 17:54] slarse commented on #4315
I'm not so sure about the idea of embedding pure formatting information in the AST. I'm not saying it's unthinkable, but it would require an overarching design decision that's a thing we do now. Historically, Spoon has been all about keeping irrelevant details out of the AST.

[2021-12-09 17:58] slarse commented on #4313
There's no rush, take it in your own time. I'm preoccupied with non-coding things outside of work right now, which is why I've been silent here.

[2021-12-09 20:50] SirYwell opened #4342 "[Bug] Annotations are not added to the correct in the model"
**Describe the bug**

I stumbled across a few issues with annotations:

1. Annotations with ElementType.TYPE_USE are added to fields and methods, rather than to the type references. From my understanding, this is a [JDT bug](https://bugs.eclipse.org/bugs/show_bug.cgi?id=544288).
2. Annotations on array types are fully ignored. E.g. `Object @Nonnull [] @Nullable []` becomes `Object[][]`. The inform

[2021-12-10 09:03] algomaster99 commented on #4315
That makes sense. If printing details were also stored in the AST, we would never need a sniper printer.

I haven't thought about any other solutions. The most convenient way (unsure if it's the ideal) seems to store this information in the AST. I will submit a pull request based on this solution. Let's see what everyone has to say about it.

[2021-12-10 11:59] doukai opened #4345 "All field include package name after annotation process"
Hi,
this is my java code

[code]

after annotation process, all filed include package:

[code]

Any ideea about make ``` java.lang.String msg``` to ```String msg```
Thanks!

[2021-12-10 12:16] I-Al-Istannen commented on #4345
Maybe try setting `spoon.getEnvironment().setAutoImports(true);`, if you are fully rewriting the class?

[2021-12-10 12:47] doukai commented on #4345
very useful~
thanks !

[2021-12-10 12:47] #4345 closed

[2021-12-10 19:37] slarse commented on #4315
One potential solution would be to store it as metadata on the node. In some sense this is metadata, after all.

Is it possible to see from the JDT node where the brackets are located? Or have you figured out some other way of determining their position? Otherwise, I think this will require inspecting the raw source code, and that we can just as well do just prior to, or in conjunction with, prett

[2021-12-12 08:28] algomaster99 commented on #4315
@slarse I used two attributes in `ArrayTypeReference` - `sourceStart` and `sourceEnd`. I found their difference and if it was lesser than `ArrayTypeReference.toString().length`, there has to be more than one `[]` after the variable name.

However, this was not giving right results when perfomed for array declaration such as - `int[][] x[][]`.

We can try parsing the raw source code as well. It's a

[2021-12-12 13:03] slarse commented on #4315
Both of those are to some extent inspecting the source code, just different attributes of it.

It's in my experience very uncommon to write the square brackets after the variable name in Java, and writing brackets both after the type and variable name is something I've never seen, and have a hard time imagining would be written in a serious project.

The case `int[][] x[][]` I think we can pretty

[2021-12-12 15:26] slarse commented on #4342
Ouch, that output is pretty crazy.

I don't have any more information about this off the top of my head, but what I can say immediately is that working around JDT bugs (as is the case for point 1.) is something we only do for really critical stuff. This seems to not be quite worth the effort.

The other two seem like problems in Spoon, but I don't know why. For arrays, I'd wager it has something t

[2021-12-12 17:02] lmove opened #4348 "[Bug] Implicit elements are labeled as not implicit"
**Describe the Bug**
The `isImplicit()` method sometimes returns a wrong value when dealing with implicit elements such as implicit constructors. (For the previous example the output is always `false`.)

**To Reproduce**

Input:
[code]

Processing with Spoon:
[code]

Output (Console):
[code]

**Operating system, JDK and Spoon version used**

* OS: Ubuntu 21.04
* JDK: 17
* Spoon version: 9.0.0

[2021-12-12 19:14] slarse commented on #4348
Hi @lmove,

`CtTypeInformation::getAllExecutables()` return fresh _references_ to the executables. For these, implicitness does not make sense as they are not part of the source code.

The implicit constructor here is indeed implicit, and you can see that by getting its declaration. For example, you could amend your Spoon code like so:

[code]

I tried this with Spoon 10, but it should be the same

[2021-12-12 19:45] lmove commented on #4348
Hi @slarse, thanks for your quick reply. I have modified my code, and now I can see the expected output. Indeed, it would be nice to add this clarification to the Spoon documentation. Thanks!

[2021-12-12 19:47] algomaster99 commented on #4319
Thanks for the answer! Closing this.

[2021-12-12 19:47] #4319 closed

[2021-12-12 19:52] slarse commented on #4348
@lmove You're most welcome

Marking this issue as a documentation issue and renaming it for clarity, then.

On a side note, I've fixed quite a few implicitness bugs over the years, so you very well may run into a situation where an element that should be implicit isn't. Marking elements as implicit is a relatively involved process. So, if you find something that you're pretty darn sure should be i

[2021-12-12 19:52] algomaster99 commented on #4315
I agree with both of these statements. We only spotted the first case [here](https://github.com/SpoonLabs/sorald/issues/603#issuecomment-908562319).

As a first step, we should just ensure that the output is compilable and I think that would be possible if analyse the source code while pretty-printing. Modifying the meta-model would be overkill.

[2021-12-13 13:36] doukai opened #4350 "[Bug] Type.class lost Type"
**Describe the bug**
after annotation process,Type.class lost Type
``` row.get(0, String.class) ``` -> ```row.get(0, .class)```

**To Reproduce**

Input:
[code]

Processing with Spoon:
[code]

Output:
[code]

**Operating system, JDK and Spoon version used**

* OS: Windows 10
* JDK: 11
* Spoon version:10.0.0

[2021-12-14 02:00] doukai opened #4351 "[Bug] annotation in package-info.java throw java.lang.StackOverflowError"
**Describe the bug**
annotation in package-info.java throw java.lang.StackOverflowError

**To Reproduce**

this is the package-info.java in r2dbc-spi
[https://github.com/r2dbc/r2dbc-spi/blob/main/r2dbc-spi/src/main/java/io/r2dbc/spi/package-info.java](url)

Input:
[code]

Processing with Spoon:
[code]

Output:
[code]

I think the interpretation of annotations is in an infinite loop
**Operating sys

[2021-12-14 05:29] doukai commented on #4350
In fact, if I import ```java.lang.String``` manually, the compilation passes
In order not to waste your time, I will close the question

[2021-12-14 05:54] doukai commented on #4350
when I import java.lang.String manually, it's just works for the first place, in other place still loss the Type
so.... This is still a bug

[2021-12-14 09:25] PeterFan89 commented on #4329
I had many projects to load every day. Is it possible to uninstall the classloader after each project done?

[2021-12-16 07:40] xzel23 opened #4357 "[Bug] StandardEnvironment does not work if path contains spaces"
**Describe the bug**
StandardEnvironment does not work if classpath contains spaces.

**To Reproduce**

check out spoon from git to a location where the path contains a space character and run `mvn compile test`.  test will fail in:
 - JDTImportBuilderTest because of an issue in StandardEnvironment
 - JavaReflectionTreeBBuilderTest because of incorrectly converting URL to String

I think, the corr

[2021-12-16 14:22] xzel23 commented on #4313
I made a PR for this, please review and comment.

[2021-12-16 14:22] xzel23 commented on #4357
I submitted a PR for this, please review and comment.

[2021-12-16 17:40] algomaster99 commented on #4357
Hi @xzel23 !

Could you please elaborate what you mean by "check out spoon from git to a location where the path contains a space character and run mvn compile test"? Maven commands can be run only in paths where a `pom.xml` is also present so I am unable to reproduce this issue.

[code]

[2021-12-16 17:41] algomaster99 commented on #4307
Hi @NAMANIND! Did you make any progress? Do you need some help with this issue?

[2021-12-16 21:21] xzel23 commented on #4357
Yes, of course:
[code]

[2021-12-17 13:15] MartinWitt commented on #4242
In a new update, Qodana got an improvement, a printing feature of all issues, see here https://github.com/INRIA/spoon/runs/4560633813 if you are interested.

[2021-12-17 13:18] xzel23 opened #4365 "[Bug] spoon reorders record parameters"
**Describe the bug**
Record parameters are output in the wrong order, i. e. first and second are switched in this example (first line of code).

**To Reproduce**

Input:
[code]

Processing with Spoon:
[code]

Output:
[code]

Note that you can also open a pull request reproducing the issue and reference that, instead of writing additional information here.

**Operating system, JDK and Spoon version

[2021-12-17 13:36] MartinWitt commented on #4365
It seems like using a HashSet for insertion ordered elements is still bad. Because `Hashset` related bugs are pretty hard to reproduce locally without exactly the same JVM and OS setup, could you try if changing the https://github.com/INRIA/spoon/blob/c65b2eae4984949ca4ecc2641cc7f4052149935e/src/main/java/spoon/support/reflect/declaration/CtRecordImpl.java#L45 `HashSet` here to a `LinkedHashSet` f

[2021-12-17 14:05] xzel23 commented on #4365
What? Of course that's bad. Order of elements in a set is undefined. If you need order, you need a LinkedHashSet. In that case, I would also recommend changing the declaration to `LinkedHashSet` as the order of elements is not an implementation detail but part of the contract. If you want, I can create a test case, apply the fix and create a PR (if it works).

[2021-12-17 14:20] MartinWitt commented on #4365
The problem is, we try to be as backwards compatible as possible, and therefore we can't change the method parameters any more. The class itself only calls add and remove operations on the set, so changing the dynamic type to `LinkedHashSet` should be the best solution.

Sure, that would be awesome.

[2021-12-17 14:42] xzel23 commented on #4365
The good news is: there's already a test case for this, `testMultipleParameterRecord()`, it just didn't test for the order of components. Fixed that, and voilà: test fails with the order of elements in the declaration being wrong.

Now the bad news: changing components to a LinkedHashSet doesn't help. I'll dig into this.

[2021-12-17 18:24] xzel23 commented on #4365
TLDR; CloneHelper cannot clone CtRecord correctly because the cloning functionality has been moved to a place where implementation details are not known. Can be fixed by always cloning sets to LinkedHashSet, even where that is not optimal.

---

Sorry for the rant, but here are the details:

OK, using LinkedHashSet fixes part of the problem. Everything works as long as long as the CtRecord stays t

[2021-12-18 10:13] SirYwell commented on #4365
Not sure how we failed to see that earlier, but a `Set` really isn't a good choice here.

I'd say it would be worth to deprecate (but keep) the methods with `Set` in `CtRecord`. For the getter, we'd need something like `getRecordComponentList()`, otherwise we'd have clashing signatures. For the setter, overloading works fine, so that shouldn't be an issue.

The old getter can be annotated with `@D

[2021-12-18 10:50] xzel23 commented on #4365
Sounds good to me. I will change it and see if I run into other problems.

[2021-12-18 15:23] xzel23 commented on #4365
OK, so it is not as easy as that. Because getRecordComponents() returns a Set, everywhere where that is used, the order of elements is undefined again. I tried it out, and record parameters were garbled again in my test case. So I'd rather leave it like this and suggest that the components member is changed to List<> in the next major version. I also suggest changing setRecordComponents to just ac

[2021-12-19 05:45] henryhchchc opened #4368 "[Bug] Unable to parse TryWithResourcesStatement when the resource list contains a VariableAccess"
**Describe the bug**
In Java language specification, the resource list of a try with resource expression can be either a variable declaration or a variable access ([JLS15](https://docs.oracle.com/javase/specs/jls/se15/html/jls-14.html#jls-14.20.3)).
[code]

However, the `VariableAccess` is missing if parsed with spoon.

**To Reproduce**

Input:
[code]

Processing with Spoon:
[code]

Output:
[code]

[2021-12-19 07:39] SirYwell commented on #4368
Seems like this was missed when adding Java 9 support. I think the best solution here would be to introduce a `CtResource` interface that can be used in `CtTryWithResource` instead of `CtLocalVariable`. Then, both `CtLocalVariable` and `CtVariableRead` can extend `CtResource`. That way, we're more aligned with the JLS.

It would be possible but a bit ugly to keep `CtTryWithResource` API-compatible

[2021-12-19 07:54] henryhchchc commented on #4368
I totally agree with this solution. When I tried to add a class like `CtResource`, some tests in `CtGenerationTest` failed because of the lack for the meta models of `CtResource`. I could not fix the failure since I am not familiar with the concepts like `CtRole`.

As a workaround, I replaced the type of the `resources` field in `CtTryWithResource` with `List<CtCodeElement>`, which is the closest

[2021-12-19 08:24] slarse commented on #4368
I think that something being broken is a valid reason to break the API. The model is incorrect and it needs to be amended.

I personally would favor breaking the API over doing some strange backwards compatible workaround, because the latter is likely to just stick around forever. And then the reason for it will be forgotten, and it will just be a weird quirk of Spoon.

[2021-12-19 09:45] SirYwell commented on #4368
Yes, there are a few pitfalls when modifying the model.  If a test in `CtGenerationTest` fails, it means that one of the automatically generated files is outdated. You can simply replace the file, the test code contains comments you can run to copy it over (e.g. https://github.com/INRIA/spoon/blob/918568ccccd2f09cb11a97840e740f701124cda2/src/test/java/spoon/processing/CtGenerationTest.java#L87)

Y

[2021-12-20 08:18] #4351 closed

[2021-12-21 06:53] henryhchchc commented on #4368
@SirYwell Thanks for the advice. I open a pull request (#4371) with my fix.

[2021-12-22 17:35] xzel23 opened #4377 "[Bug] Spoon adds invalid assignments in record compact constructor"
**Describe the bug**
Spoon adds invalid assignments in compact record constructor. See example code: all assignments are rejected by javac.

**To Reproduce**

Input:
[code]

Processing with Spoon:

I use the following script for quick tests)
[code]

Output:
[code]

Note that you can also open a pull request reproducing the issue and reference that, instead of writing additional information here.

[2021-12-22 17:41] xzel23 commented on #4377
I just could reproduce this with the current CtRecordTest.testCompactConstructor(), so no new test case is needed:

[code]

That's interesting because `head(head(records).getConstructors()).toString()` yields valid code for the constructor.

[2021-12-23 10:46] xzel23 commented on #4377
This is getting mysterious. The compact constructor is generated correctly as long as the filename does not match the record name. If I leave the input file unchanged, i. e. the filename is `CompactConstructor.java` and the declared rcord is `Rational`, I get this output for the constructor:

[code]

But if I change the type name to match the filename (or filename to match the record name), I get

[2021-12-23 11:08] xzel23 commented on #4377
assignments are added during call to `unit.analyseCode();` in `TreeBuilderCompiler.buildUnits(CompilationUnit[] sourceUnits)`.

[2021-12-23 11:21] xzel23 commented on #4377
Somewhere deep inside the eclipse compiler, `CompactConstructorDeclaration.checkAndGenerateFieldAssignment()` is called. I still have not found out where the filename comes into play, but this looks like an eclipse JDT bug to me.

[2021-12-23 11:28] xzel23 commented on #4377
Can anybody confirm my findings and ideally is somewhat more familiar with spoon and the eclipse jdt than I am so that we could open an eclipse ticket?

[2021-12-23 15:00] SirYwell commented on #4377
<https://git.eclipse.org/c/jdt/eclipse.jdt.core.git/tree/org.eclipse.jdt.core/compiler/org/eclipse/jdt/internal/compiler/ast/CompactConstructorDeclaration.java#n75> The assignments should be correctly marked as implicit and therefore ignored by the printer.

I wasn't able to reproduce this issue for some reason, but you'll need to look into why the assignments aren't implicit anymore when printing

[2021-12-27 16:38] #4105 closed

[2021-12-29 09:02] xzel23 commented on #4377
@SirYwell Thank you, I will create a test case first and then look into this.

[2021-12-29 09:17] xzel23 commented on #4357
IMHO https://github.com/INRIA/spoon/pull/4358 is ready for merging so that this can be closed after the PR is applied.

[2021-12-29 09:19] xzel23 commented on #4365
Fixed after applying https://github.com/INRIA/spoon/pull/4366.

[2021-12-29 09:19] #4365 closed

[2021-12-29 13:22] xzel23 commented on #4377
@SirYwell You probably couldn't reproduce the issue because the original file not only had a differing filename, but also an invalid compact constructor declaration: the record `Rational` was declared public, but the compact constructor was package private. This leads to a compile error for the file.

Because of the compilation error, the field `CompilationUnitDeclaration.ignoreFurtherInvestigatio

[2021-12-29 16:51] xzel23 commented on #4377
The JDT compiler correctly marked the assignments as implicit, but this information was not propagated to the model. I created PR #4389 that fixes this.

[2022-01-04 09:02] SirYwell opened #4395 "Join the OpenJDK Quality Outreach Program"
The OpenJDK has a program that lists open source software that is tested with current OpenJDK builds. As spoon is actively tested with modern java versions, it might be interesting to get the project added to the list.

See https://wiki.openjdk.java.net/display/quality/Quality+Outreach for more information

[2022-01-06 08:29] #4315 closed

[2022-01-06 08:58] #4357 closed

[2022-01-06 09:15] MartinWitt commented on #3809
It seems like spoon is adding always parentheses for lambda expression parameters, e.g  printing `Function<Object,Integer> func = (v) -> 3`
instead of the normal  `Function<Object,Integer> func = v -> 3`. Only parameters with types or multiple parameters need them. A fix I'm using currently is here https://github.com/MartinWitt/laughing-train/blob/master/code-transformation/src/main/java/xyz/keksd

[2022-01-06 10:52] MartinWitt commented on #4395
This mean we should send an email with more or less these content:

Spoon

@monperrus, @slarse or anyone who wants to be the contact?

JDK 11 linux, JDK 11 windows, JDK 17 linux

Tested JDKs: JDK 8, any more I forgot?
Features: I have no clue what the want to be honest

[2022-01-06 11:07] algomaster99 commented on #3809
There was a similar problem in printing array initialisations. DJPP would always print `[]` after the type even if the brackets were placed after the identifier. I had to modify the DJPP to check where we need to print `[]`.

[2022-01-06 13:00] #4350 closed

[2022-01-06 13:03] monperrus opened #4407 "lsif extraction breaks the build"
LSIF extraction breaks the build, see recent commit statuses incl. https://github.com/INRIA/spoon/runs/4727158822?check_suite_focus=true

@rvantonder WDYT?

[2022-01-06 13:32] slarse commented on #3809
This issue is all about changing the DJPP. Ideally, DJPP should be close to how developers actually write code (which rarely includes printing parentheses around everything). Currently, DJPP is just lazy and prints parentheses most expressions.

[2022-01-06 16:36] xzel23 opened #4408 "[Bug] escape sequences in text-blocks are not retained"
**Describe the bug**
Escape sequences in text-blocks are replaced whereas they should be retained.

**To Reproduce**

Input:
[code]

Processing with Spoon:
[code]

Output:
[code]

I will link a PR reproducing this.

**Operating system, JDK and Spoon version used**

* OS:    MacOS 12.1
* JDK:  OpenJDK Runtime Environment GraalVM 21.3.0 (build 17.0.1+12-LTS)
* Spoon version: currrent Git

[2022-01-06 17:01] rvantonder commented on #4407
Ah, we've since transitioned to LSIF indexing using a different toolchain. The current action seems to no longer work, so I suggest removing it. It's possible to restore LSIF support for this repository with the new toolchain but I won't be going ahead to make those changes. Instead, if you're interested in that, see details here:

https://about.sourcegraph.com/blog/java-scala-kotlin-code-intellig

[2022-01-06 23:16] MartinWitt commented on #3919
Shall we migrate all spoon subprojects like spoon-decompiler too?

[2022-01-07 08:53] slarse commented on #3919
In my opinion, yes for consistency (and JUnit5 is simply better), but I'm not sure about the ownership model for those subprojects. @monperrus, wdyt?

[2022-01-07 09:26] xzel23 commented on #4313
PR is merged

[2022-01-07 09:26] #4313 closed

[2022-01-07 09:27] xzel23 commented on #4377
PR is merged.

[2022-01-07 09:27] #4377 closed

[2022-01-07 19:52] seintur opened #4421 "[Bug] Brackets omitted for arrays of generic types"
Dear all,

The Inria CI for project Juliac bumped into an issue 2 days ago. By figuring out what is going out, the issue can be trimmed down to the following simple case.

**To Reproduce**

Input:
[code]

Processing with Spoon:
[code]

Output:
[code]

Note that the issue does not arise with array of raw types, e.g. Class[] is correctly pretty-printed.

**Operating system, JDK and Spoon version use

[2022-01-07 20:17] algomaster99 commented on #4421
Hi! Thanks for the bug report. I am able to reproduce the issue. I worked on it a few days ago. See https://github.com/INRIA/spoon/pull/4341. I may have missed the case for `parametrizedTypeReference`s. I can work on a fix for this one.

[2022-01-09 18:09] #4407 closed

[2022-01-10 09:40] algomaster99 commented on #2554
@monperrus Is that a private repository or is the link correct? I am unable to access it.

[2022-01-10 10:14] monperrus commented on #2554
made public, thanks @algomaster99

[2022-01-10 10:49] monperrus opened #4437 "discussion about Laughing-train - java code refactoring tool based on Spoon"
(follow up of https://github.com/INRIA/spoon/pull/4400#issuecomment-1006397363)

Spoon contributor and integrator @MartinWitt is working on a java code refactoring tool based on Spoon:

https://github.com/MartinWitt/laughing-train

[2022-01-10 10:54] monperrus commented on #4437
Laughing-train is super cool.

Trying it, but https://github.com/MartinWitt/laughing-train/issues/26

[2022-01-10 11:00] monperrus commented on #4395
Good idea. @SirYwell would you be contact yourself?

[2022-01-11 07:28] #4421 closed

[2022-01-11 07:31] #4408 closed

[2022-01-11 17:27] MartinWitt commented on #3919
As the number of JUnit 4 usage is reducing real fast, is the long term goal to remove the JUnit 4 dependency?

[2022-01-11 19:42] algomaster99 commented on #3919
@MartinWitt I think we should remove it once all test classes are ported to Junit5. It doesn't really make sense to keep an unused direct dependency.

[2022-01-11 19:57] monperrus commented on #3919
oh yes, that's even the "definition of done" for this issue

[2022-01-12 08:00] coderstory opened #4480 "How to declare a generic variable？"
java code
[code]
to create it
[code]

Method definition
[code]

how to the define the parameter **returnType**
[code]

[2022-01-12 09:27] algomaster99 commented on #4480
Hi @coderstory !

You can use the [TypeFactory](https://github.com/INRIA/spoon/blob/master/src/main/java/spoon/reflect/factory/TypeFactory.java) to create the return type. `factory.Type().MAP` creates a reference to `java.util.Map` and `factory.Type().STRING` creates a reference to `java.lang.String`. For example,

[code]
Finally, you can pass the `returnType` as an argument to `createMethod`.

[2022-01-13 07:12] monperrus commented on #3386
#3412 was only a partial fix, we still have the problem in some cases, see https://github.com/INRIA/spoon/pull/4476/commits/736bf3ad5188988afb84224547417696574076df

@algomaster99 would have a look at this sniper limitation?

[2022-01-13 07:15] monperrus commented on #4242
Qodana adds "Unchanged files with check annotations", see https://github.com/INRIA/spoon/pull/4481/files

@MartinWitt How to deactivate this?

[2022-01-13 09:17] algomaster99 commented on #3386
@monperrus I can have a look at it. Can you assign it to me? It can be in my logs that way.

[2022-01-13 09:34] monperrus commented on #3386
great, thanks. you're assigned.

[2022-01-13 12:01] MartinWitt commented on #4242
This seems like a new GitHub feature, I have never seen before. Because it's marked as beta, I think we can't deactivate it.

[2022-01-13 12:44] monperrus commented on #4242
It must be because Qodana writes a special file somewhere? maybe a Sarif file
(https://docs.oasis-open.org/sarif/sarif/v2.0/sarif-v2.0.html)?

[2022-01-13 12:54] MartinWitt commented on #4242
We never activated the upload, but it seems like in some version a flag was added for the upload with default value true. Potential fix: #4484

[2022-01-14 03:07] #4480 closed

[2022-01-14 18:40] SirYwell commented on #4395
I can do that too, if you don't want to. I'd also check locally if all tests are running with the Java 18 early access builds too.

[2022-01-14 18:43] slarse commented on #4395
Hmm, should a non-integrator have to bear that kind of responsibility? You sure you're okay with that, @SirYwell?

If accepting, @SirYwell should at the very least be bumped to issue triage rights. Actually, imo that should be done regardless. Let me find that issue ...

[2022-01-14 18:46] slarse commented on #3620
I would nominate @SirYwell for issue triage rights due to significant core contributions and helping me with several PR reviews.

Please +1 if you agree, or something appropriately disagreeable if you don't. Deadline... 19th of January. Maybe?

[2022-01-14 19:08] SirYwell commented on #4395
If someone of the integrators wants to do it, that would be probably better I guess.

However, if none of you wants to do it, I could do it.

[2022-01-15 01:46] yz-qiang opened #4510 "Can Spoon deal the .class file"
Spoon is a nice job, thanks for your contribution.
I have a `.java` file, and I can derive the FQN with the following code: (e.g., `StringBuffer` in ` StringBuffer tabs = new StringBuffer();` will be derived into `java.lang.StringBuilder`.
[code]
But, when I input the **java_file_path** is the **.class** file, the return output is the **Null**.  How can I fix it? Thank you. :)

[2022-01-15 09:41] SirYwell commented on #4510
This does not work directly. https://spoon.gforge.inria.fr/reflection.html explains how you can analyse loaded classes at runtime and also links to `spoon-decompiler`. Maybe one of those solutions is what you're looking for?

[2022-01-17 09:45] monperrus commented on #4407
Thanks a lot @rvantonder

It seems that lsif-hava does not use Spoon anymore (https://github.com/sourcegraph/lsif-java/blob/main/build.sbt).

What AST library do you use now?

[2022-01-17 12:57] algomaster99 commented on #3386
I think the root of this problem is the `ElementSourceFragment` tree that is being created. For example, the tree of `public class Field { String f1,f2,f3 = "42",f4; }` is as follows:

[code]
The field declarations are children instead of being siblings of one another and their types are not directly associated with them. We should fix this first otherwise, we will keep working around in the print

[2022-01-17 17:13] algomaster99 commented on #3386
An idea to deal with the above comment is pushed [here](https://github.com/algomaster99/spoon/tree/joint-declaration-esf). It will take a lot of time to reach the goal so I am putting it in my backlog. At least the printer produces a compilable output.

[2022-01-17 20:37] kl0u opened #4529 "[Bug] Cannot create shadow class"
Hi all,

With `setNoClasspath(true)` I am getting a:

[code]

**Operating system, JDK and Spoon version used**

* OS: MacOS
* Spoon version: 10.0.0

[2022-01-18 14:28] MartinWitt commented on #4319
As @slarse said, we don't have a new version on central since 8.12.2021. Is the script defect, or is this on purpose?

[2022-01-18 16:49] MartinWitt commented on #4437
The goal of laughing train is to create fixes for bad smells, which don't produce defects but reduce the code quality. These smells are often tolerated because no one wants to fix them by hand. I believe a lot of this is pretty easy to do and reduces the work to reviewing pull requests. Currently, I use spoon as a test project and write fixes for warnings Qodana produces.  If you have any projects

[2022-01-19 13:28] monperrus commented on #4319
yes, this is https://github.com/INRIA/spoon/issues/3890

[2022-01-20 18:05] monperrus opened #4541 "store mapping executed line <-> test cases"
In some cases, we need to answer the question: which tests execute this line?

This information is not available easily 🤔.

To overcome this, we need to compute and store this data for each commit on master.

Good news, we already have the infrastructure for this 🚀:

* for each commit on master we run https://github.com/SpoonLabs/spoon-ci-external/
* with that, for each commit on master, we push o

[2022-01-21 07:04] raghav-deepsource commented on #4300
@MartinWitt  that is definitely the way to go. At DeepSource, for example, we make sure to keep master protected, and any PR needs approval from at least one code owner to proceed. (Of course, we use JenkinsX to make our CI checks more flexible). I believe it should be possible to add code owner checks in github itself.

[2022-01-24 06:12] jiseongg opened #4571 "Question about extracting overridden initializer in constructor call"
I have a question about parsing a specific kind of code element with Spoon APIs. It's `CtConstructorCall`, whose initializer is directly overridden by call site. (Sorry for ambiguity in describing it, if any. I'm not sure about exact vocabulary)

The code I'm scanning looks like below.
[code]

I want to extract `CtConstructorCall`s in local variable declarations, which don't have overridden initia

[2022-01-24 17:49] SirYwell commented on #4571
The initializer block belongs to the anonymous class. In spoon, it is represented by a `CtAnonymousExecutable`.

For example, the following code
[code]
will yield the output
[code]

Does that help you?

[2022-01-24 18:00] SirYwell commented on #4529
I believe this is already fixed with #4356. There was no snapshot or release since then sadly, so if you want to test if the issue is actually fixed, you'll need to install spoon into your local maven repository yourself.

(ping @monperrus, maybe it would be time for a new snapshot version at some point?)

[2022-01-24 18:58] slarse commented on #4529
@SirYwell Snapshots are being deployed as they should to OW2 nexus. Only the beta deployments are broken, and we just haven't had the time to look into it.

@kl0u Could you try to see if the latest snapshot solves your problem? See [the FAQ for how to use a snapshot](https://spoon.gforge.inria.fr/faq.html).

[2022-01-24 19:00] slarse commented on #3620
So, the 19th has come and gone and the vote is unanimously thumbsuppy.

@monperrus would you care to grant @SirYwell issue triage rights?

[2022-01-25 03:05] chaganiu opened #4573 "Unable to load processor"
**Describe the bug**
I seem to have the same issue #1002 and also have a very simple project.  I have set up my project correctly i believe.  I have a parent module and two child modules (processors and test-framework).  When running `mvn clean install` I get the following error:

`Caused by: spoon.SpoonException: Unable to load processor "processors.LocatorProcessor" - Check your classpath.`

Mav

[2022-01-26 00:57] #4573 closed

[2022-01-26 02:15] jiseongg commented on #4571
Hi @SirYwell,

Thank you for detailed example. It helped a lot! :) Now I can filter out the expression which has initializer block. Similar to what you told me, I've written following code. (I applied filter on `CtConstructorCall`)
[code]

One more thing I wanna ask is, whether there is a way to remove initializer block from the expression. I tried to do it with `setValueByRole` and `CtRole.ANONYM

[2022-01-26 03:12] chaganiu opened #4575 "How can I add code to a constructor?"
I'm having trouble adding code to a constructor.  I was able to get some of the examples working in the example repo but couldn't figure out how to get this to work.  What I want to do is:

For every `@Find` annotation I want to initialize the field inside the constructor that takes a parameter of type `MyObject`.  The processor runs fine but the output is not there.  nothing is outputed and not e

[2022-01-26 12:46] SirYwell commented on #4571
This is a little bit more tricky I think.

The problem is that your `CtConstructorCall` is actually a `CtNewClass` in this case, as you're declaring a new anonymous class.

If you want to get rid of the anonymous class declaration, you need to replace the `CtNewClass` with a new `CtConstructorCall`. Adding to my previous example (in the for loop, with a check if it has an initializer block):
[code

[2022-01-26 13:56] monperrus commented on #3620
done! warm welcome @SirYwell, you now have an official title in the Spoon community 🎀. Thanks a lot for the effort put in answering the questions, helping the novices and triaging the issues.

[2022-01-27 09:56] jiseongg commented on #4571
On, I didn't know there was `CtNewClass`. The second one is exactly what I wanted. Thank you :)

[2022-01-28 14:13] chaganiu commented on #4575
bump.  can anyone help here?

[2022-01-28 17:25] MartinWitt commented on #4575
Can you show the code you use to invoke the processor? Your code should look something like this.
[code]

[2022-01-29 11:02] slarse commented on #4571
@jiseongg If @SirYwell answered your question to your satisfaction, could you close this issue? :)

[2022-01-29 12:50] abhinaswale opened #4579 "Ho to add variable in class using spoon"
I want to remove some code from the class, identify the classname from it and create a variable for same class.
I am able to do the first 2 parts but not able to add the code in CtClass as a variable. Please help.

**Current code:**
[code]

**Expected Code**
[code]
I have tried creating codeSnippet from

but not able to add it to

[2022-01-30 10:50] jiseongg commented on #4571
@slarse I forgot to close it. It helped a lot. :)  I'll close this issue.

[2022-01-30 10:50] #4571 closed

[2022-01-31 09:09] monperrus commented on #3879
FYI, the Jenkins CI agent nodes (sos-builder01 and sos-builder02) now have 4GB of RAM.

[2022-01-31 09:19] monperrus commented on #4192
Nopol is now green with Java 11:

* Port: https://github.com/SpoonLabs/nopol/pull/214
* https://ci.inria.fr/sos/job/nopol/1475/

[2022-01-31 15:53] chaganiu commented on #4575
@MartinWitt I am using the maven plugin:

[code]

I know this works because I used this same thing with one of the samples and was able to see the output.

[2022-01-31 17:58] monperrus commented on #4192
Dspot is green again, full Java 11: https://ci.inria.fr/sos/job/dspot/

[2022-01-31 17:59] monperrus commented on #4192
The whole CI infrastructure is now Java 11+, see Github Actions and https://ci.inria.fr/sos/.

Thus, we can close.

[2022-01-31 17:59] #4192 closed

[2022-01-31 19:38] kl0u commented on #4529
Thanks a lot for the information. The issue seems to be fixed in the newest SNAPSHOT.

One more question, what is the recommended way to print a modified class but with the minimum set of changes? The sniper pretty printer seems to be a good candidate for this but it is having some issues like the https://github.com/INRIA/spoon/issues/4332. Is there another way?

[2022-01-31 19:38] kl0u commented on #4332
Are there any plans to fix this issue soon?

[2022-02-01 04:17] MartinWitt commented on #4579
I'm unsure what transformation you try to accomplish.  You want to convert `CustomerHomeLocal customerHome = (CustomerHomeLocal)context.lookup(CustomerHomeLocal.JNDI_NAME);` to a field with an annotation
[code]
?

[2022-02-01 04:29] MartinWitt commented on #4529
The sniper printer is the go-to way for exactly this task. In projects like sorald https://github.com/SpoonLabs/sorald it is used at large scale with not many problems(to my knowledge). These bugs are more or less edge cases you hopefully don't encounter.
Out of the box, there is no other way in spoon integrated.

[2022-02-01 08:03] kl0u commented on #4529
Thanks for the reply @MartinWitt . Unfortunately I bump into the issue I linked and I am wondering if there is even a quick fix that I can test even with a custom build. In any case, thanks a lot.

[2022-02-01 08:08] kl0u commented on #4529
BTW I think that it would help a lot when debugging to print [here](https://github.com/INRIA/spoon/blob/master/src/main/java/spoon/support/sniper/internal/ElementSourceFragment.java#L371) the source code of the element that causes the problem (`this` and `other`) or its position in the code base. This would allow us to check what causes the problem and it will hopefully make your life easier as we

[2022-02-01 09:25] spoon-bot opened #4581 "regression caught on Jenkins SOS"
https://ci.inria.fr/sos/

[2022-02-01 17:19] khaes-kth opened #4582 "thesis: Leveraging Coming for designing diff contracts to automatically check pull requests"
There are pull requests that follow certain patterns. For example, INRIA/spoon#4534, INRIA/spoon#4533, INRIA/spoon#4532, and INRIA/spoon#4531 migrate different test classes to JUnit 5 using very similar change patterns.

An idea is to develop a GHAction that allows developers design diff contracts in the form [Coming specifications](https://github.com/SpoonLabs/coming#change-pattern-specification)

[2022-02-01 17:23] khaes-kth commented on #4582
@monperrus Can you please add `masterthesis` label to this one? I guess I do not have access to do so.

[2022-02-02 08:08] monperrus commented on #3173
Hi all, the communication department at KTH is working a new logo, cool. I'm posting here, one by comment.

Then, if you like them, simply :+1: (you can :+1: several ones)

[2022-02-02 08:11] monperrus commented on #3173
![spoon1](https://user-images.githubusercontent.com/803666/152116663-f4686350-00fb-4aff-b226-bfbe6d66789b.png)

[2022-02-02 08:12] monperrus commented on #3173
![spoon2a](https://user-images.githubusercontent.com/803666/152116685-a4b5c230-8c16-438b-8909-188a6925ae22.png)

[2022-02-02 08:12] monperrus commented on #3173
![spoon3](https://user-images.githubusercontent.com/803666/152116712-2c5bc78d-41d0-42c3-8e72-9ebd97ff2167.png)

[2022-02-02 08:12] monperrus commented on #3173
![spoon4](https://user-images.githubusercontent.com/803666/152116733-d5f71f3e-8b43-4c3b-b9b4-172af8d0ac42.png)

[2022-02-02 08:12] monperrus commented on #3173
![spoon5](https://user-images.githubusercontent.com/803666/152116757-05abebff-b3f3-41c8-bb1e-2ee1be6e1532.png)

[2022-02-02 10:19] algomaster99 commented on #3173
I can propose an idea here. In my opinion, the final sticker should be able to _depict that Spoon has something to do with Java_. One example could be the following.

Look at Java's logo:
![image](https://user-images.githubusercontent.com/35191225/152134136-865f37bb-07b5-44d9-943b-abedc77dc81d.png)
We can show a teaspoon stirring the coffee, adding sugar, or it is just kept near the saucer. Not su

[2022-02-02 21:09] slarse commented on #3173
Yes, swaaag!

I REALLY like the spoon that says spoon. Nr. 4 from the top. It just seems right with a self-aware spoon.

[2022-02-02 21:10] slarse commented on #3173
@algomaster99's idea is also pretty cool, although it's a li'l bit dangerous as "remixing" a logotype in general isn't allowed. It'd need to be a decidedly non-java looking cup. Which maybe defeats the purpose.

[2022-02-02 21:13] slarse commented on #4332
@kl0u It seems like no one has taken it upon themselves to do this yet, so the sincere answer to your question would be no. If you would like to give it a shot, go ahead :)