[2020-11-24 07:46] monperrus commented on #3708
Cool, looking forward to it :)

[2020-11-24 10:37] #3671 closed

[2020-11-24 16:38] ontologiae opened #3710 "[Question]How to detect all annotations without giving .class ?"
Hi !
I'm lokking for a way to find every annotations in the code, but without giving the annotation class. i looked AnnotationProcessor and AnnotationFilter, I have to give the class corresponding to the annotation.
Instead, I would like a to find every annotation and to get its name and its parameters.

Is it possible ?

Thank you

[2020-11-25 10:47] nharrand commented on #3574
Cubix: a multi language tool for source to source transformations http://www.cubix-framework.com

[2020-11-25 11:08] monperrus opened #3711 "dependency tree of Spoon"
For the record, today's version of Spoon's dependency tree

[code]

[2020-11-25 11:08] #3711 closed

[2020-11-25 11:33] ontologiae commented on #3710
Found a way with this :

	factory.Class().getAll().stream().forEach(
				clas -> {
					System.out.println(clas.getSimpleName());
					List<CtAnnotation> annotsMeths = clas.getMethods().stream().map(
						meth -> {
							return meth.getAnnotations();
						}
					).flatMap(Collection::stream).collect(Collectors.toList()); // On doit écrire ça pour faire un flatten

					annotsMeths.forEach(ann -

[2020-11-25 11:33] #3710 closed

[2020-11-25 15:19] monperrus commented on #3574
FTR we must have CIL in this thread :)

* paper [CIL: Intermediate language and tools for analysis and transformation of C programs](https://web.eecs.umich.edu/~weimerw/p/weimer-cc2002.pdf)
* tool https://people.eecs.berkeley.edu/~necula/cil/

[2020-11-26 07:50] #3707 closed

[2020-11-26 15:28] slarse commented on #3691
FYI I've gotten very much held up on other, more pressing issues (bugs) in Spoon, but I still intend to devote some time to the Windows builds in the near future. So unless someone else has time right now to do it, I will get it done eventually :)

[2020-11-27 07:55] andrewbwogi commented on #3700
I've posted an answer there.

[2020-11-27 08:07] andrewbwogi commented on #3677
Not only the resources but the test folders themselves are untidy. Almost all tests go under `src/test/java/spoon/test/`, organized more or less flat. I think a good idea is @MartinWitt's suggestion to put test cases in the same package as the tested unit. If there will be a structural similarity of test and resources folders, maybe rename this issue to a more general topic like _Tests are a bit u

[2020-11-27 08:56] monperrus commented on #3677
Thanks @andrewbwogi for the follow up. Yes, the tests could be improved and we had a series of such PR in summer 2018.

I'm not sure. A good issue is an issue which is closeable, with a clear, well-defined acceptance criterion to close it.

All baby-step pull-requests on improving tests are welcome, one test (resource) at a time.

[2020-11-27 08:59] monperrus commented on #3700
Thanks a lot @andrewbwogi

[2020-11-27 08:59] #3700 closed

[2020-11-27 09:01] slarse commented on #3677
@andrewbwogi I agree, it's all a little bit. Untidy.

A note on this is that a large amount of tests are more on the side of integration and system tests, using the public API to test high-level features. They can't necessarily be linked to any given class or even package. There will be no small amount of ambiguity in where to put tests if we organize everything by package and class.

[2020-11-28 16:53] andrewbwogi commented on #3606
I can try to fix this

[2020-12-01 15:27] slarse commented on #3708
So, I've been looking at this a bit, and I've been unable to create a system-level test case for which this actually makes a difference. It's easy enough to hit the currently missed line, but then just... there's no difference. I'll give it another few shots, but I won't be putting too much time into this as it doesn't affect my use case afaik.

Again, it's very easy to fix the problem, it's just

[2020-12-01 15:35] slarse opened #3715 "bug: Sniper printer always prints indentation for newly added elements with tabs"
This is a big problem for [Sorald](https://github.com/spoonlabs/sorald), as we can't repair projects that don't use spaces for indentation. I've been looking through the sniper printer, and it doesn't appear as if there are any attempts in it to use anything but tabs to print indentation for new elements with the same style of indentation as there is in the source file.

What the sniper should do

[2020-12-01 16:15] monperrus commented on #3715
infer the indentation style from the file seems good to me.

[2020-12-02 09:51] slarse commented on #3715
Then that's the plan! I plan to get to work on it this afternoon and hope to have it done tomorrow, such that it can be merged before Saturday's beta release. It's urgently needed for my next steps in Sorald.

[2020-12-03 15:16] Twonki opened #3718 "Question: how to add imports to classes"
Hi there,

I am a bit lost adding an import.

I (just) want to change a class

[code]

to

[code]

There was a question similar to this #3333 but the issue was resolved without answering the import question.

[2020-12-04 06:59] QifanWang opened #3719 "CtExecutableReference equal problem"
Hi, I'm working with Spoon 8.3.0, and I want to analyze some Java8 code.
When I tried to figure out whether some invocation is invoking method declared in source code, I found some problem about comparing CtExecutableReference. Here is a snippet to reproduce the issue.

[code]
TestGeneric.java
[code]

Run snippet code, I will get output like this.
[code]

Why the executable reference getVal cannot

[2020-12-04 09:41] monperrus commented on #3306
@cedricth tells me that the next OW2Con will take place on June 23 - June 24 2021

[2020-12-04 09:56] cedricth commented on #3306
@monperrus maybe you want to reopen the issue now it's aligned with OW2con'21:
- call for presentations is here: https://www.ow2con.org/view/2021/Call_For_Presentations
- please note the submission deadline: March 15, 2021
- planned to be a face-to-face event in Paris at Orange gardens

/cc @cnuel

[2020-12-04 10:55] monperrus commented on #3306
reopened. thanks for the pointer.

[2020-12-04 15:18] #3715 closed

[2020-12-04 16:03] hardikSinghBehl opened #3721 "Question: How to get method implementations"
[code]
How can i get the implementation code of the methods in String class
im only getting methods in the format
[code]
thank you.

[2020-12-05 06:52] monperrus commented on #3600
Travis CI is down, message is "Builds have been temporarily disabled for private and public repositories due to a negative credit balance. Please go to the Plan page to replenish your credit balance."

Seems like the move was useless

[2020-12-05 06:52] monperrus commented on #3600
Sent the following email to support

The OSS credits may be assigned as one time pool or renewable pool, subject to case by case assesment of Travis CI staff.

[2020-12-06 08:38] andrewbwogi commented on #3718
Hi @Twonki, you can use a `CtCompilationUnit` to add imports. After creating it you add the `CtType` from your model, set the imports and print it using a `PrettyPrinter`. For instance:

[code]

`CtCompilationUnit.setImports` is an experimental method however and it may be redesigned in the future.

[2020-12-07 08:54] andrewbwogi commented on #3719
It works if you index the hash set with the declaration instead of a reference to it:

[code]

A `CtReference` targets its element in a weak way. It is not guaranteed that two references are the same object if they refer to the same program element.

[2020-12-07 12:33] monperrus commented on #3572
@Strum355 are you working on a patch? Thanks!

[2020-12-07 12:34] monperrus commented on #3705
Excellent idea.

[2020-12-07 12:44] monperrus commented on #3534
FTR, the added indentation problem is related to the work of @slarse on https://github.com/INRIA/spoon/issues/3715

[2020-12-07 13:53] nharrand commented on #3721
Hi @hardikSinghBehl ,
You are encountering this behavior because you probably don't have sources for the class `String`. Hence the CtClas you're getting is a shadow class. (You can test it by calling the method `#isShadow`).

If you actually need to access the body of this method you have two options: (i) find the sources, (ii) use one of the [spoon decompiler](https://github.com/INRIA/spoon/tree/

[2020-12-07 14:30] monperrus commented on #3600
In the meantime, we may set up a pull request builder on our Jenkins a https://ci.inria.fr/sos/. Excited?

[2020-12-08 07:18] slarse commented on #3534
I'm not sure it is, what I worked on was incorrect indentation style (indenting with tabs instead of spaces). Here, I get the impression that tabs are used for indentation in the source, and that the printer simply adds one tab too many?

[2020-12-08 07:25] slarse commented on #3600
@monperrus For a temporary substitute, the fastest thing would probably be to setup a GitHub Actions workflow. Want me to give it a go?

 Jenkins is awesome but it is more fiddly. We'd need to both setup the jobs, and add webhooks to integrate with GitHub.

[2020-12-08 07:37] monperrus commented on #3600
Yes, that would be great, thanks a lot.

[2020-12-08 08:36] slarse commented on #3600
I'm on it!

[2020-12-08 12:54] #3721 closed

[2020-12-09 18:28] Twonki commented on #3718
Thank you very much!
Works like a charm.

For anyone else who might needs this, this is the code I currently use for what I needed:

[code]

[2020-12-09 18:28] #3718 closed

[2020-12-09 19:05] NunoCastanho opened #3724 "Get the name of the method in a CtInvocation"
Hello.

How do I get the name of the method that's being invoked in a `CtInvocation`? I can get the type of the target and the arguments easily but I can't seem to find a way to get the name of the method. Is there even a way?

Thank you,
Nuno

[2020-12-10 07:14] slarse commented on #3724
Hi @NunoCastanho,

You need to get the executable reference.

[code]

[2020-12-10 08:56] slarse opened #3725 "bug: Crash when parsing RDF4J while allowing duplicated declarations (again)"
This happens when parsing RDF4J and allowing duplicated declarations:

[code]

This is caused by an insufficient null check. The null check that I added here: https://github.com/INRIA/spoon/blob/77b8869bd99e710ea62f8944db6f077cced6da84/src/main/java/spoon/support/compiler/jdt/JDTTreeBuilderQuery.java#L78

Must also be added here: https://github.com/INRIA/spoon/blob/77b8869bd99e710ea62f8944db6f077c

[2020-12-10 08:57] slarse commented on #3725
I'll try to fix this today, it's just a bit tricky to reproduce the behavior with a minimal example.

[2020-12-10 11:17] QifanWang commented on #3719
@andrewbwogi Thank you for pointing out that CtReference is weak reference.

In fact, I also tried to index the hash set with the declarations, but encounter some problems.

Languages.java is the code I want to analyze:
[code]

There are two anonymous classes in Languages.java, and they have the same declaration of restrictTo method.

If I index the hash set with declarations, like this
[code]

I

[2020-12-11 13:33] NunoCastanho commented on #3724
Okay, thanks!

[2020-12-11 13:33] #3724 closed

[2020-12-11 13:33] slarse commented on #3724
You're welcome :)

[2020-12-13 08:54] andrewbwogi commented on #3719
`exeSet` should contain 5 elements. There is a problem with `CtExecutable.equals` that I will investigate.

[2020-12-15 06:38] QifanWang opened #3728 "More accurate log about "no class path""
Hello, I'm working with Spoon 8.3.0, and I found when users create a new MavenLauncher like,
[code]
it will log info
[code]
Even though MavenLauncher would automatically infer the dependencies from the pom.xml file and "buildClassPath" and "setSourceClasspath" while calling "init" method,
https://github.com/INRIA/spoon/blob/77b8869bd99e710ea62f8944db6f077cced6da84/src/main/java/spoon/MavenLauncher

[2020-12-15 06:54] #3606 closed

[2020-12-15 09:51] slarse opened #3729 "bug: ImportCleaner duplicates unresolved imports"
If there's an unresolved import in a compilation unit, the ImportCleaner duplicates that import. Minimal example:

[code]

`import non.existing.pkg.SomeClass` will become a `CtUnresolvedImport`, as the package doesn't exist. When computing imports, the ImportCleaner creates regular `CtImportImpl`, which always compare unequal to `CtUnresolvedImport`. I'm working on a fix.

[2020-12-16 07:43] #3729 closed

[2020-12-17 06:23] monperrus commented on #3574
http://rosecompiler.org/

[2020-12-17 08:26] slarse commented on #3697
This is an entirely separate issue.

[2020-12-17 08:45] slarse opened #3732 "bug: Sniper printer fails to print comment preceding type member if all modifiers in a modifier list are removed"
Hi!

This is related to #3697, but in terms of implementation it's an entirely separate issue. Anyway, when you have a commented type member like so:

[code]

And you remove `private` and `static`, the comment also disappears.

[code]

This happens because of how the field is split into source fragments, the modifier list becoming one collection of fragments. When the comment is to be printed (whi

[2020-12-17 15:07] dya-tel opened #3733 "bug: CtTypeReference for a non-generic type is filled with type parameters"
Calling `CtExecutable#getExecutableDeclaration()` somehow manages to add a type parameter to the `java.lang.Object` type reference in a TypeFactory. And, well, `java.lang.Object` shouldn't have any generics.

This problem could be somehow connected to [this line](https://github.com/INRIA/spoon/blob/7abce70c8b5742f5e2f1bc59151871dd1d2050c6/src/main/java/spoon/support/visitor/java/JavaReflectionTree

[2020-12-17 15:25] dya-tel opened #3734 "bug: ParentNotInitializedException in AbstractTypingContext#adaptType()"
[This line](https://github.com/INRIA/spoon/blob/7abce70c8b5742f5e2f1bc59151871dd1d2050c6/src/main/java/spoon/support/visitor/AbstractTypingContext.java#L49) throws an exception when the `result` is a CtTypeReference without a parent, but with type parameters. And "standard" types from a `TypeFactory` don't have parents.

It's also kinda connected to #3733:
1. Type reference for `java.lang.Object`

[2020-12-20 10:54] NunoCastanho opened #3735 "Get "full" CtType from a CtInvocation"
Hello.

Is it possible to get the "full" CtType of the target of an invocation?

For example, imagine we have two classes X and Y in **our** system (they aren't from Java or external dependencies).

`public class X{
    public void m(){
        new Y().m();
    }
}`

`public class Y{
    public void m(){
        //code here
    }
}`

I know I can get the declaration of Y from the invocation in X.m

[2020-12-21 13:25] andrewbwogi commented on #3735
Hello @NunoCastanho, try also adding `Y.java` as your resource:

[code]
Spoon should now have sufficient information to build the full model of `Y`.

[2020-12-22 08:53] #3697 closed

[2020-12-22 08:57] monperrus commented on #3688
Thanks for the bug report. Would you be able to a propose a pull-request with a failing test case?

[2020-12-22 17:31] dya-tel commented on #3734
Actually, looking through the CtElementImpl code I've found a bunch of problems.

The first one, which is related to the issue, is that if an element has `parent == null` then getParent throws an exception because the element's parent wasn't initialized. This seems alright for the most part, but doesn't make sense for elements which do not have a parent - like the "static" type references in the T

[2020-12-22 19:11] andrewbwogi commented on #3728
Hi @QifanWang, thanks for your questions! I'll take a look at this issue.

[2020-12-23 05:25] Fawadbaig96 commented on #3251
Hello SPOON contributors,

As I am new in this and also have read the documentation you provided. Can you please help me setting up SPOON on my machine? How can I manipulate my source code via SPOON?

[2020-12-23 08:50] slarse commented on #3734
Nice finds on those issues. Here are my two cents.

Since we have inconsistent behavior here, this might be the time to introduce a "null object" for parent (in the same spirit as #3705. To me, one of the largest usability issues of Spoon is the proliferation of methods that sometimes return an object and sometimes null. Calling code "done right" becomes cluttered with null checks.

I agree, the d

[2020-12-23 09:47] dya-tel commented on #3734
I don't think that that's a good idea. I dislike null-objects in general because in most cases those prevent "the scary NPE" but hide invalid logic which in my opinion is a lot worse. Imagine a "null" bank account - it allows you to send money into nothing instead of just failing a transaction if there is no "invalid destination" check. These objects, of course, have their own niche, but I don't t

[2020-12-23 11:03] slarse commented on #3734
Just based on a hunch, I don't think you'd often need to check if it's `NO_PARENT`. It also wouldn't need to be singleton: there could be a null/missing parent for each individual node. Returning `null` is just as much hiding a problem as returning a null object, but with the latter it is possible to carefully design how it interacts with other elements. For example, one could have the null object

[2020-12-23 11:21] slarse commented on #3734
Actually, thinking a bit more about it, using annotations to denote which methods may or may not return `null` is probably the only feasible route for the general problem of `null` returns in Spoon. It's non-breaking, and also the only alternative that doesn't impose performance overhead. Unlike using `Optional`, it allows `CtElement` to say that certain methods are nullable, while specific implem

[2020-12-23 11:50] dya-tel commented on #3734
Yeah, breaking the API isn't good. And optionals are usually a hassle to use anyway.

I'm also warming up a bit to the idea of using null-objects here. Perhaps they could be good enough if combined with the separate "isParentInitialized" flag (or just treating `parent == null` as not initialized as it is now) - so if someone forgot to initialize the parent via setParent (and possibly "setNoParent(

[2020-12-24 13:17] andrewbwogi commented on #3251
Hi @Fawadbaig96, welcome to the Spoon community! Can you please create a new issue and describe in more detail the environment that you are using and where you get stuck?

[2020-12-25 15:06] dya-tel opened #3740 "bug: NullPointerException in MethodTypingContext"
The first here line assumes that `typeParam` is never null:
https://github.com/INRIA/spoon/blob/3435facc2b7089119a0ac278a2e008fde7d7c6b7/src/main/java/spoon/support/visitor/MethodTypingContext.java#L173-L177
But the argument (in the last return statement) actually **can** be null because the declaration can be null is some cases:
https://github.com/INRIA/spoon/blob/3435facc2b7089119a0ac278a2e008fd

[2021-01-04 12:49] MaximoOliveira opened #3742 "Simple way of getting all types, including the types that are imported?"
Is there a simple way of getting the types that are imported in our program?

For example if my program only consists of class A :

[code]

When I get all the types the following way:

[code]

My collection has only one CtType (like it should have) which is Class A.

However I would like to get the class HashSet (as well as any other class that I import) into my Collection.

Does Spoon offer a sim

[2021-01-04 18:47] andrewbwogi commented on #3742
Hi @MaximoOliveira, you can get all types in your program by gathering type references from all typed elements:

[code]

If you specifically want types that you have imported, you can use a `CtCompilationUnit`:

[code]

[2021-01-05 10:09] MaximoOliveira commented on #3742
Thank you @andrewbwogi, that was helpful!

[2021-01-05 10:10] #3742 closed

[2021-01-07 08:13] slarse opened #3743 "bug: Sniper printer crashes on printing method import for which the method source is available"
Hi,

There's currently a problem where the sniper printer always crashes if there's a method import in a class, and the class from which the method is imported is also available in the source code. Here's a minimal example:

File with the static method:
[code]

File that imports the static method:
[code]

When sniper printing `OtherClass`, without changing anything in it, there's a crash when prin

[2021-01-07 13:29] slarse opened #3745 "chore: Connection pooling issue in Maven may cause build failure"
I ran across a flaky failure in the CI today, see here: https://github.com/INRIA/spoon/runs/1661992546

[code]

It appears to be related to a connection pooling issue discussed in actions/virtual-environments#1499. There's a fix suggested there, in disabling Maven's HTTP pooling with `-Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false` in the GitHub Actions workflows. This however slows down the

[2021-01-08 13:33] slarse commented on #3745
Another flaky failure: https://github.com/INRIA/spoon/runs/1668809026?check_suite_focus=true#step:6:55

[code]

[2021-01-11 08:34] slarse opened #3752 "Fix test failures and errors on Windows"
With #3746 we're adding a new build for Java 1.8 on Windows. There are 53 test failures and 4 errors that are specific to Windows that should be fixed. All of these start with the following line:

[code]

[2021-01-12 12:29] #3743 closed

[2021-01-12 16:46] #3728 closed

[2021-01-13 08:58] #3691 closed

[2021-01-13 11:51] #3732 closed

[2021-01-14 07:13] monperrus commented on #3752
@slarse the Windows CI build fails on master: https://github.com/INRIA/spoon/actions/runs/484260233

Would you have a look? Thanks!

[2021-01-14 07:30] slarse commented on #3752
The failing test was on a branch that didn't have the Windows build, and was merged very close to it. Many of the sniper printer tests don't work well on Windows, it probably has something to do with newlines not being correctly printed with LF line endings (just a hunch).

I'm disabling that test for the time being, and then when someone gets around to fixing Windows test failures they can deal w

[2021-01-14 22:59] lhogie opened #3754 "License issue CeCILL/Apache V2"
Hi,

I was thinking of using Spoon at Inria Sophia Antipolis/Cnrs for the Idawi project (https://github.com/lhogie/idawi) but I'm afraid the CeCILL license will not allow me to keep the Apache V2 license I am required to use for my devs.

Do you have some experience of such license issues?

Thanks.

Best,
Luc.

[2021-01-15 07:17] slarse commented on #3754
Hi,

How about adopting Spoon under the MIT license? [As per the license file](https://github.com/INRIA/spoon/blob/master/LICENSE-short.txt), you are entitled to adopt Spoon either under MIT or Cecill-C.

[2021-01-15 09:33] andrewbwogi commented on #3719
The current interpretation of `equal` seems reasonable to me. Equality is related to the syntax of an element and not to its meaning. If you want to distinguish the `restrictTo` elements, you could use a custom hash set that compares objects with `==`.

[2021-01-15 09:50] slarse commented on #3719
I agree with @andrewbwogi , it is correct that two identical methods are considered equal, even if they have different parents. Also worth noting is that hashing arbitrary Spoon elements is very demanding, as it is a recursive operation that traverses the entire subtree.

To create a set that hashes by identity, you can use `IdentityHashMap` in combination with `Collections.newSetFromMap()`. See t

[2021-01-16 08:20] andrewbwogi commented on #3686
I have a fix for this.

[2021-01-16 20:05] slarse commented on #3752
Just an FYI, I don't intend to be the one to fix these test errors. Anyone with a Windows dev environment would be a better candidate.

@MartinWitt Did you feel like doing it?

[2021-01-18 10:22] MartinWitt commented on #3752
On windows we have 2 problems, paths and carriage returns. The path problem is fixed by using the java api and not comparing strings. For the carriage return problem exist multiple solutions. Loo
[code]
If we take a look at this testcase, we have 3 solutions for the common problem with carriage returns.
### Remove "\r"
Adding a `.replaceAll("\r", "")` for the `toString` fixes the testcase, but not

[2021-01-18 10:43] monperrus opened #3759 "update website publication job"
Until today our website http://spoon.gforge.inria.fr was hosted on the [INRIA GForge](https://gforge.inria.fr/). Yes, this service will be discontinued, see https://intranet.inria.fr/Actualite/Report-a-l-ete-2021-et-plan-d-action-Arret-de-la-forge

As alternative solution, @seintur and myself have worked to move it to Github.io.

Now, the HTML pages are hosted on https://github.com/SpoonLabs/Spoon

[2021-01-18 10:49] slarse commented on #3752
Is this internal in Spoon, or just in the tests?

Off the top of my head: regex.

There's a method `DefaultJavaPrettyPrinter.setLineSeparator(String)`: https://github.com/INRIA/spoon/blob/bf5b116d176f26fa0f66a14e39c6db237bf70298/src/main/java/spoon/reflect/visitor/DefaultJavaPrettyPrinter.java#L237-L244

That method isn't exposed beyond the API of the `DefaultJavaPrettyPrinter`, and so for some te

[2021-01-18 10:56] slarse commented on #3752
As an example of it being a bit awkward to access the `DefaultJavaPrettyPrinter.setLineSeparator()` method, here's what it could look like for the `testTextBlockCreation()` test case above:

[code]

We could of course define helpers for these things, but as this is fundamental to using Spoon on Windows it seems like it should be a bit smoother. A user on Windows probably _doesn't_ want CRLF line e

[2021-01-18 11:06] MartinWitt commented on #3752
Only for tests, sometimes we compare if a path ends with another path.  And all paths in testcases are obviously written as unix paths but the file path from a written file is a windows path.

Good point that means we would create a new problem some1 in the future maybe has to fix. That makes the solution less preferable.

Is there any risk to add a flag in environment? Could this option produce a

[2021-01-18 11:06] slarse opened #3760 "bug: Sniper printer crashes when trying to print subset of top-level types in compilation unit"
If you have a compilation unit with multiple top level types, say this one:

[code]

and you try to print a subset of the types (say, only `MultipleTopLevelTypes`), the sniper printer crashes with this error:

[code]

I'm looking into this, but I'm also not entirely sure of how we should treat it. Should we allow sniper printing part of a compilation unit? It may be harder to implement than it's w

[2021-01-18 11:14] slarse commented on #3752
Oh don't worry about it, I didn't mean it as "I'm offended" :)

Well, the sniper printer will ignore it, it always detects the line separator when calculating new output, here:

https://github.com/INRIA/spoon/blob/bf5b116d176f26fa0f66a14e39c6db237bf70298/src/main/java/spoon/support/sniper/SniperJavaPrettyPrinter.java#L136

So the only problem is perhaps that it would be a bit non-obvious for users

[2021-01-19 07:48] #3686 closed

[2021-01-19 09:41] slarse commented on #2842
Not a regression, this is caused by gumtree-spoon bumping the Java version to 11 (https://github.com/SpoonLabs/gumtree-spoon-ast-diff/commit/6f9ca09e93c53c91f54f51464aba3dd484762106), while the Jenkins job is running JDK8.

[2021-01-19 10:32] monperrus commented on #2842
Thanks for the diagnostic, would you be able to fix the Jenkins job?

[2021-01-19 10:34] slarse commented on #2842
I think so, I'll have a look at it this afternoon.

[2021-01-19 10:37] monperrus commented on #2842
Cool!

[2021-01-19 12:30] andrewbwogi commented on #3733
I'm taking a look at this.

[2021-01-19 12:58] slarse commented on #3760
Per discussion with @monperrus:

If it's reasonably easy to fix, allow for sniper printing of a subset of a compilation unit's top-level types. Otherwise, detect the problem and crash with an informative message.

[2021-01-19 13:34] slarse commented on #2842
There's a problem here I'm not sure what to do about. Both nodes run Ubuntu (one runs Ubuntu 16 the other 18) and OpenJDK8. The [openJDK-native-plugin](https://plugins.jenkins.io/openJDK-native-plugin/) that's installed makes it seem like we can just select JDK 11, but the documentation for that plugin makes it clear that it's only compatible with distros that use RPM packages (which Ubuntu does n

[2021-01-19 17:33] MaximoOliveira opened #3762 "Spoon Javadoc Not available"
When going to

 https://spoon.gforge.inria.fr/ -> Getting started -> Javadoc

The page is not found: https://spoon.gforge.inria.fr/mvnsites/spoon-core/apidocs

![image](https://user-images.githubusercontent.com/36827697/105071420-7af12280-5a7c-11eb-8105-e64aa52ac28f.png)

[2021-01-19 18:19] MaximoOliveira opened #3763 "How to check if CtFieldReadImpl has private access?"
Given an object of type **CtFieldRealImpl**, is there a simple way of checking if it has private access?

Thank you!

[2021-01-20 03:49] QifanWang commented on #3719
Thanks so much, @andrewbwogi @slarse .
Using `IdentityHashMap` can solve my problem perfectly.

[2021-01-20 08:47] andrewbwogi commented on #3763
Try this:
[code]

[2021-01-20 08:51] slarse commented on #3763
There's also a convenience method for this on `CtModifiable`.

[code]

[2021-01-20 09:49] MaximoOliveira commented on #3763
Thank you!

[2021-01-20 09:49] #3763 closed

[2021-01-20 11:13] monperrus commented on #3762
Thanks for the report. Fixed.

This is due to the change in the doc infrastructure, see https://github.com/INRIA/spoon/issues/3759

[2021-01-20 11:13] monperrus commented on #3759
The job must handle both the Jekyll site in `docs` and the Javadoc, see #3762

[2021-01-20 11:13] #3762 closed

[2021-01-20 11:16] #3719 closed

[2021-01-20 11:42] slarse commented on #3719
Happy to help :)

[2021-01-20 13:41] monperrus commented on #2842
Done! just installed openjdk11 on executor sos-builder02, in /usr/lib/jvm/java-11-openjdk-amd64/

[2021-01-20 15:27] slarse commented on #2842
So I've been trying to get this working for an hour now, and I'm pretty sure you actually installed OpenJDK 10 into that path. I ran this Groovy script on the node:

[code]

And got this back:

[code]

Is it possible you made a mistake in installing the JDK?

[2021-01-21 14:03] slarse opened #3765 "bug: IllegalStateException in sniper printer"
We found that the sniper printer sometimes throws an `IllegalStateException` when running an experiment (see spoonlabs/sorald#337). I've managed to find a minimal example that reproduces the issue:

[code]

If you remove the field from the enclosing type (`long a`), and then try to sniper print, there's an `IllegalStateException` like so. Note that removing `long a` really has nothing to do with t

[2021-01-21 14:37] monperrus commented on #2842
Confirmed on the machine with `/usr/lib/jvm/java-11-openjdk-amd64/bin/java -version`

No. I did `aptitude install openjdk-11-jdk-headless`

Let me `aptitude update` and `aptitude full-upgrade`

[2021-01-21 14:38] monperrus commented on #2842
Did so, nothing changes.

[2021-01-21 14:41] monperrus commented on #2842
This is a known issue: https://askubuntu.com/questions/1037646/why-is-openjdk-10-packaged-as-openjdk-11

[2021-01-21 14:44] slarse commented on #2842
But it should be resolved? The top answer states that as of the 19th of April 2019, the version is correct. Have you updated the package registry (`apt update`, I think it is)?

[2021-01-21 14:55] monperrus commented on #2842
Problem fixed:

    # /usr/lib/jvm/java-11-openjdk-amd64/bin/java -version
    openjdk version "11.0.9.1" 2020-11-04

The fix was to change the update channel from `bionic` to `bionic-updates`. Sigh.

[2021-01-21 14:58] slarse commented on #2842
GREAT SUCCESS! :)

[2021-01-21 17:00] monperrus commented on #2842
Nice, thanks Simon for the debugging.

[2021-01-22 10:28] monperrus commented on #1908
Verification of Program Transformations with Inductive Refinement Types
http://dl.acm.org/citation.cfm?id=3409805

[2021-01-26 13:04] #3760 closed

[2021-01-26 19:04] NunoCastanho opened #3768 "How to tell if a CtInvocation is a super invocation"
Hello.

Is it possible to know if a CtInvocation object is an explicit invocation of super? Examples include `super()`, `super.m()`, `super(X)` and variations depending on the number of arguments.

Thanks.

[2021-01-27 09:58] slarse opened #3769 "bug: Getting the type declarations from type references doesn't work for types in named modules"
I'm having some trouble with modules in Spoon. The most prominent issues are related to links between type references and declarations. For example, for any type in the unnamed module, the following round-trip works fine:

[code]

However, if `someType` is declared in a module, then `someType.getReference().getTypeDeclaration()` returns `null`, which is very strange as the type in question is in t

[2021-01-27 10:02] MartinWitt opened #3770 "(Doc|Discussion): Document unmodifiable Collections"
### Problem
In spoon we use at some places unmodifiable Collections (and some strange homemade implementations), but only some of the methods document their return type properly . This leads to program failures in downstream code if you don't expect it. Example: https://github.com/INRIA/spoon/blob/eac3535a6ffaa30db1beb829f7363a6f49f50e79/src/main/java/spoon/support/reflect/reference/CtIntersection

[2021-01-27 10:29] slarse commented on #3770
I much prefer returning unmodifiable collections over returning copies. This lets the caller decide whether or not to incur the extra overhead required to safely modify the returned collection. Anecdotally, and biased by my preference for functional programming, I find that you typically don't want to directly modify returned collections anyway.

[2021-01-27 10:58] slarse commented on #3769
On further inspection, the classloader does not appear to be the problem, as that would only affect loading of classes on the classpath. Classes in the input source should not have to be loaded dynamically with the classloader to begin with.

[2021-01-27 12:36] slarse commented on #3769
Found the problem. The `PackageFactory.get` method searches for packages starting from `CtModule.getRootPackage()`. That method returns the root package of the _unnamed module_, which means that any other modules are never investigated.

[2021-01-27 13:12] slarse commented on #3769
This problem _very likely_ exists elsewhere. There are tons of invocations to `CtModel.getRootPackage()` throughout both production and test code. I'm thinking a lot of it is code that predates Java modules. There may be a lot of code that does not work for projects with explicit modules.

[2021-01-27 15:52] monperrus commented on #3770
Returning unmodifiable collections is good, it's part of the encapsulation design (one should call setBounds instead of changing the getBounds object). Documenting the contract is a very good idea.

[2021-01-27 19:58] andrewbwogi commented on #3768
Two cases need to be checked, whether the invocation is a non-implicit constructor call, or the invocation contains a super access:

[code]

[2021-01-28 09:51] NunoCastanho commented on #3768
Thanks!

[2021-01-28 09:52] NunoCastanho opened #3773 "Get type in an Array"
Hello.

Is it possible to obtain the type that is being kept in an array? I know that given a `CtTypeReference` we can know if it's an array, but can we get the type kept in it? For example, given a CtTypeReference for `int[]` could I be able to obtain that the type is `int`?

Thank you,
Nuno Castanho

[2021-01-28 10:19] udit-dasari opened #3774 "Discussion : Does Spoon provides any support for these features ?"
Hi, i and my team want to know more about the various features that Spoon may support, so we came up with some requirements for our project :

- Control flow analysis
- support for binaries
- will it be maintained in future
- lexeme related data
- Data Dependancy graph
- Incremental support
- Data flow analysis
- any other features ?
- GotoDef edges
- Reference edges
- filtering nodes based on ele

[2021-01-28 10:31] slarse commented on #3773
Hi Nuno,

If you know that a type reference is an array (for example by checking `isArray()`), then you can cast it to `CtArrayTypeReference` and get its _component type_.

[code]

[2021-01-28 13:15] slarse commented on #3765
The root cause seems to be wonky handling of the multi-declaration `public int b, c;`. If one removes, say, `public int d`;, then here's no crash anymore, but instead only the first field of the internal class is printed.

[2021-01-29 09:08] andrewbwogi commented on #3774
Hi @udit-dasari, the [documentation](https://spoon.gforge.inria.fr/index.html) provides a good overview of features in Spoon. The [Navigation and Query](https://spoon.gforge.inria.fr/filter.html) section describes many ways to query ASTs, including filtering based on the element type.

For control and data flow analysis there is the [spoon-control-flow](https://github.com/INRIA/spoon/tree/master/s

[2021-01-29 16:19] slarse opened #3775 "chore: CI failing because of logging dependencies missing at runtime"
We currently have a [ton of failures over on Jenkins](https://ci.inria.fr/sos/) due to some sl4j stuff not being available at runtime in the maven plugin. I have not been able to replicate it locally; it all works fine for me.

See also the discussion in #3755

I'll be trying to figure this out, but if anyone has any ideas that'd be great :)

[2021-01-29 16:49] monperrus commented on #3775
Indeed the same as the problem reported by @seintur

[2021-01-29 16:49] monperrus commented on #3775
One fix maybe to change the scope of logback to compile. But that goes against my current understanding of slf4j which is meant to work only with the API.

[2021-01-31 09:07] slarse commented on #3775
What's very odd is that I can't reproduce it. When I run the CI build script locally, everything works out fine. That makes me think that there isn't anything overtly wrong with the Maven config. I will try reproducing with a few different VMs this Monday.

[2021-01-31 11:02] NunoCastanho commented on #3773
Thanks!

[2021-01-31 11:02] #3773 closed

[2021-01-31 11:10] NunoCastanho opened #3777 "Query for depending classes"
Hello.

Is it possible to get the classes in a model that depend on another? For example, assuming we have a `Launcher` loaded with the following classes and we built its model, I'd like to query for the classes that depend on A. As a result, I'd get the class B.

[code]

Thank you!

[2021-01-31 16:35] seintur commented on #3775
ok don't have a solution yet, but I've done a couple of investigations on project Juliac. In this case, I'm using exec-maven-plugin for invoking Spoon. exec-maven-plugin:3.0.0 depends on slf4j-api 1.7.5, an older version than 1.7.30 that is used by Spoon. Whatever I'm trying to do, exec-maven-plugin constructs an URLClassLoader that contains his version of slf4j-api and not the one that comes with

[2021-01-31 17:51] seintur commented on #3775
follow up from my previous message. So it seems that adding slf4j-api:1.7.30 in the plugin dependencies (not the project) does the trick. The good news is that exec-maven-plugin is moving from 1.7.5 to 1.7.30 in their upcoming 3.0.1 release that is still in snapshot. So whenever 3.0.1 will be released, the trick will certainly no longer be needed.

[2021-02-01 07:52] slarse commented on #3775
Great! As Juliac was suffering from the same error as pretty much all the other builds (`java.lang.NoClassDefFoundError: org/slf4j/event/Level`), this should be applicable to the other projects as well. I'm still confused as to why none of these errors occur on my own machine.

While investigating this, I also found a major error in the `build.sh` script: it's trying to pull snapshots from the old

[2021-02-01 07:59] slarse commented on #3775
`spoon-maven-plugin` has the same problem, using the old snapshot repository.

[2021-02-01 09:34] danglotb opened #3778 "Question: performance of pretty print"
Hello,

I have a question about potential misusages of pretty print in Spoon, that lead to bad performance. Basically, I'm cloning a test class, I rename it and I duplicate a particular test method.

If I do 10 or 100 duplications, the printing is ok. However, If I go for 1k or more, it takes a lot of time to print.

Here, the snippet of code that I use to print:

[code]

This is my (simplified) p

[2021-02-01 16:43] andrewbwogi commented on #3777
Hi, you could search for occurrences of type A in every class:
[code]
More generally, e.g. if the queried class depends on C that depends on A, you'd have to get the declaration of all types connected to the queried class and look for an occurrence of A in each one of them.

[2021-02-02 07:39] slarse commented on #3777
This is a pretty straightforward static analysis job, that's relatively easy to do with Spoon. Here's a general solution for finding the direct dependents of all types in the model:

[code]

The `directDependents` will contain a mapping from a type `T` in the model, to all other types `R` in the model such that `R` directly references `T`. To get the transitive dependents, you'll have to traverse

[2021-02-02 10:23] NunoCastanho commented on #3777
Hello.

@slarse Thanks! I have resolved the issue in a different way given that the problem itself was slightly different. For instance, let's say:
- class A has method m()
- class B has methods m() and n()
- class B depends on A in method m() by calling A.m()
- class C has method m()
- class C depends on B in method m() by calling B.n()

My goal was to receive `B` when asking which classes depend

[2021-02-02 10:56] #3769 closed

[2021-02-02 11:02] monperrus commented on #3774
We all hope so. We've been able to maintain it for 16 years already.

[2021-02-02 11:52] slarse commented on #3777
@NunoCastanho Right, so the code I showed above will find compile dependence between classes, but it seems like you're after dataflow dependence. Then, you essentially need to do what I did with types above, but instead of using type declarations you need to use type member declarations, so the mapping would be something like `Map<CtTypeMember<?>, Set<CtTypeMember<?>>`.

With such a mapping, you c

[2021-02-02 14:05] NunoCastanho commented on #3777
@slarse Okay, thanks, I'll give it a shot for that dataflow dependence.

Regarding the launcher part, I'm loading the source code of the subproject `spring-boot-autoconfigure` in `spring-boot`  of a specific commit. The hardware I'm working on is a personal computer with 8GB RAM and with an i7 processor.

[2021-02-03 08:01] slarse commented on #3778
Hi!

I don't see anything overtly wrong about your printing code, printing types with `PrettyPrinter::printTypes()` shouldn't impose any particular overhead.

If your `process` method executes 1k times, then you'll have 1k new classes in the package. That's kind of a lot, and may simply take a long time to print. You could try timing the actual call to `prettyPrinter.printTypes(type)` and see if t

[2021-02-03 10:01] danglotb commented on #3778
Hello,

Thank you very much for your answer.

I did a little experiment a printed the time that takes Spoon to print the test classes, thus the number of duplications.

10 duplications
[code]

2001 duplications
[code]

It looks like that there is not only the number of duplications but also the test method duplicated itself.

`testCustomNestedSerializers`(2k duplication, 30s to print):
[code]

`te

[2021-02-03 10:17] slarse commented on #3778
Hi again,

First I just want to make sure that I understand what's going on. You take a test class T, duplicate a method M in it, insert the class into the original package and rename the class. You do that x amount of times. So, after running, you have x copies of T in the package, each with one method more than the original T. Is this correct? If this is the case, then printing any one of those

[2021-02-03 10:28] danglotb commented on #3778
Yes, but no. The method M is duplicated `x` times inside the same test class. For example, I take the test class `com.google.gson.functional.CustomTypeAdaptersTest`, and then I duplicate 2000 time the test method `testCustomNestedSerializers`, (add to the name of each duplication a suffix like `_x` where is is the index of the duplication:
`testCustomNestedSerializers_0`, `testCustomNestedSerializ

[2021-02-03 10:53] slarse commented on #3778
Right, then I get it. It was this part:

[code]

That made me think that each test class was duplicated, because you first clone the class, then add the clone to the package, and then _rename_ the class, so I thought you'd end up with a ton of test classes with different names.

But okay then, that running time increase still seems rather reasonable. Consider that `CustomTypeAdaptersTest` is aroun

[2021-02-03 10:59] danglotb commented on #3778
I'm convinced by your demonstration. Thank you very much!

I'm gonna try to hack this by not using Spoon to print but rather print one by one the test method using Java API and `CtMethod#toString()`.

Thank you for your answers, this is great! :smile:

[2021-02-03 10:59] #3778 closed

[2021-02-03 14:26] slarse commented on #3778
You're welcome!

[2021-02-05 18:53] jhonvve opened #3784 "Check if a CtClass compiles"
Hello!

How can we see if a particular CtClass has any compilation error or not?

[2021-02-06 16:21] andrewbwogi commented on #3784
Hi @jhonvve, you can use [templates](https://spoon.gforge.inria.fr/template_definition.html) to transform your code. They use static type-checking to make sure that your transformed code will compile if the original code compiles.

Another option is to write the pretty-printed CtClass to a file, say `SpoonedClass.java`, and compile it with a `JavaCompiler` from the Java library:
[code]

[2021-02-06 17:24] jhonvve commented on #3784
Thank you @andrewbwogi !

Do you know if it is possible to do this without having to write the pretty-printed CtClass to a file.

 If it possible to get a list of compilation error given a CtClass?

[2021-02-07 15:22] andrewbwogi commented on #3784
There is no ready mechanism in Spoon to determine if the CtClass will compile based on the AST alone.

[2021-02-07 21:51] nharrand commented on #3784
But you can get compilation error from JDT through the launcher.

[code]

You can add filters to check that the error's position correspond to your CtClass.

[2021-02-08 12:44] monperrus commented on #3784
If you have a default constructor and ctClass.newInstance() returns an object, it means it compiles.

[2021-02-08 12:59] jhonvve commented on #3784
Thank you!

[2021-02-08 12:59] #3784 closed

[2021-02-08 15:03] udit-dasari commented on #3774
Hi @andrewbwogi , is there any way i can :
1. Prevent spoon from accessing the JVM classpath and provide all the jars i want through launcher.getEnvironment().setSourceClassPath() only?
2. Get the properties of an element in the form of map (key = property, value = property's value) or something similar without needing to check like say if it's a method and then looking for properties isStatic(),

[2021-02-08 19:40] monperrus commented on #3740
Would you be able to propose a failing test case in a PR? Thanks!

[2021-02-09 09:32] slarse commented on #3775
I've been busy with other things but I'm getting back on this now. I was unable to spin up a VM because I couldn't find where to enable virtualization in BIOS, but now I finally found it. Well, some friendly person on a forum found it. It was placed under CPU Overclocking, because that's kind of the same thing as virtualization ...

@seintur Did you add that in the plugin dependencies of Juliac, o

[2021-02-09 09:42] seintur commented on #3775
In the plugin dependencies of exec-maven-plugin, just like:

<plugin>
	<groupId>org.codehaus.mojo</groupId>
	<artifactId>exec-maven-plugin</artifactId>
	<dependencies>
		<dependency>
			<groupId>org.slf4j</groupId>
			<artifactId>slf4j-api</artifactId>
			<version>1.7.30</version>
		</dependency>
	</dependencies>
</plugin>

[2021-02-09 09:56] slarse commented on #3775
In what context is the `exec-maven-plugin` used? As far as I can tell, none of the CI is using it.

I've now also failed to reproduce the error on Ubuntu 20 with JDK 8, the CI scripts just work fine for me locally. What was your exact configuration for triggering the error?

[2021-02-09 10:21] seintur commented on #3775
I'm using exec-maven-plugin to invoke the CLI of Juliac that uses Spoon as a lib.

[2021-02-09 11:02] slarse commented on #3775
Right, okay. Then that's a bit tailored to that specific invocation. I need to find something that works with [the CI build script](https://spoon.gforge.inria.fr/jenkins/build.sh). Only I can't get the CI build script to fail on my local machine.

After reading up on how slf4j works, I believe that our problem is a version mismatch between the API version and the logging framework it tries to bind

[2021-02-09 12:41] udit-dasari opened #3787 "Disconnected control-flow graph when building a CFG for a method with a switch case statement"
Hi, i'm using spoon-control-flow graph to build a cfg for a method which contains a switch case statement and the control flow graph i'm getting is disconnected (There is an edge missing).

Here is the function i'm building CFG for:

[code]

Code for building the CFG:

[code]

The generate graph:
![test](https://user-images.githubusercontent.com/76946379/107364604-a908d600-6b01-11eb-8452-11705f45f

[2021-02-09 12:55] monperrus opened #3788 "break the build if there is a Sonar violation that Sorald can fix"
See https://github.com/SpoonLabs/sorald/

Plus, we could have a Github PR suggestion with the Sorald fix.

[2021-02-09 12:56] slarse commented on #3788
I will have a look at this by the end of this week/start of next.

[2021-02-09 13:13] udit-dasari opened #3789 "Discussion : Prevent spoon from accessing the JVM class path"
Is there any way, i can prevent spoon parser from accessing the JVM classpath and provide necessary jars (rt.jar etc) in launcher.setSouceClassPath() ?

[2021-02-09 13:53] andrewbwogi commented on #3789
Try setting NoClasspath to false:
[code]

[2021-02-09 14:43] slarse opened #3790 "bug: NPE on duplicate package-info.java when ignoring duplicate types"
Spoon and/or JDT is not handling package-info.java files correctly. If multiple of them are found in a single project, there's a duplicate type crash:

[code]

With `Environment.setIgnoreDuplicateDeclarations(true)`, there's an NPE instead.

[code]

Looking into a fix.

[2021-02-09 14:48] slarse commented on #3790
I think the problem is when there are in fact duplicated package-info.java files in the same project. For example, say a multi-module project has the same package, and have a package-info.java in both of those. JDT does not appear to tolerate that.

So the bug here is probably only that we have an NPE when ignoring duplicates.

[2021-02-09 14:49] andrewbwogi commented on #3774
When `launcher.getEnvironment().setNoClasspath(false)` and `setSourceClasspath` are used together, only the argument to `setSourceClasspath` should be set as the classpath.

To get properties of an element through a single interface, you can use [getValueByRole](https://spoon.gforge.inria.fr/mvnsites/spoon-core/apidocs/spoon/reflect/declaration/CtElement.html#getValueByRole-spoon.reflect.path.CtRo

[2021-02-09 15:06] slarse commented on #3790
`package-info.java` appears to be parsed as an interface by JDT. That seems strange to me. Gotta do some reading here.

[2021-02-09 15:31] slarse commented on #3790
[Chapter 7.4.1 of the JLS](https://docs.oracle.com/javase/specs/jls/se15/html/jls-7.html#jls-7.4.1) says the following:

This has been unchanged [at least since Java 7](https://docs.oracle.com/javase/specs/jls/se7/html/jls-7.html#jls-7.4.1).

So, `package-info.java` simply serves to provide annotations and/or documentation for a single package, and the way I interpret the docs, it is indeed illega

[2021-02-09 20:38] iamKunalGupta commented on #3774
@andrewbwogi It is mentioned on the website that spoon uses either JVM or sourceClassPath to resolve, the NoClassPath mode merely prevents it from throwing exceptions in case a resolution is not found, it does not prevent spoon from using the classes currently loaded in the JVM:

https://spoon.gforge.inria.fr/launcher.html under `Resolution of elements and classpath`. Also it uses the `URLClassLoa

[2021-02-10 07:50] slarse commented on #3775
I've found that slf4j indeed does not do any dynamic loading.

That's why we get the `NoClassDefFoundError` when there's a version mismatch at runtime.

Here's what I think will be a solution:

1. Merge https://github.com/SpoonLabs/spoon-maven-plugin/pull/75 and make a release. This is necessary for the CI build script to pull snapshots of Spoon from the correct repository.
2. Add a binding for sl

[2021-02-10 08:07] slarse commented on #3775
Nope, I'm barking up the wrong tree here, it's not the binding that is the problem. Like @seintur noted long ago, it's definitely just the API version being picked up from some other library in the Jenkins CI.

We still need to build the snapshots instead of the beta version, though :)

[2021-02-10 09:58] slarse commented on #3775
I am at a complete loss here. Even explicitly adding the dependency to the spoon-maven-plugin like so:

[code]

It still fails when executing the plugin with this error:

[code]

@monperrus I don't know what to do here. Can you try purging all possible Maven caches on the Jenkins nodes? I don't have any other idea than that this is a caching issue.

[2021-02-10 10:06] slarse commented on #3775
Scratch that for the moment, I might have figured it out.

[2021-02-10 10:32] slarse commented on #3775
Scratch the scratch, I can't figure this output.

[2021-02-11 09:00] #3790 closed

[2021-02-11 15:13] slarse commented on #3775
It's not a caching issue, we tried removing the .m2 directories and it still fails.

https://ci.inria.fr/sos/job/Jimfs/1554/console

So something about Maven's dependency dependency resolution order is different on the Jenkins machines than on any of my own machines. I'll keep on debugging this whenever I can, **but if someone else can try to run the build script on their local machine and see if

[2021-02-12 02:06] sivakg2000 commented on #3718
@Twonki .. it's not working form me.

[2021-02-12 08:51] slarse commented on #3775
I believe that I finally have a solution!

I've reproduced the problem with the following system:

[code]

It's very similar to the Ubuntu 16 node on Jenkins, and the exact same compile failure occurs.

Now, I still don't know _exactly_ what the problem is and why the correct version of `slf4j-api` is missing at runtime, but I've found that simply upgrading Maven to version 3.6.3 solves the proble

[2021-02-12 09:15] slarse commented on #3775
It appears as if there were problems with setting the classpath in the version prior to 3.3.9: https://maven.apache.org/docs/3.3.9/release-notes.html

Perhaps 3.3.9 did not entirely fix the problem, and that's what we're experiencing here. In any case, 3.3.9 is more than 5 years old at this point, so using a newer version seems appropriate.

Anyway, here are the upgrade steps I performed:

[code]

[2021-02-12 09:29] andrewbwogi commented on #3774
@iamKunalGupta, it seems true that the JVM classpath is used even with `setSourceClasspath` and `setNoClasspath(false)` when the manually set classpath has a name that corresponds to a name in the JVM classpath. @udit-dasari, are you referring to this problem?

[2021-02-12 09:30] monperrus commented on #3775
excellent analysis!

upgraded maven on sos-builder01

maven is now:

[code]

I assume this has to be done on the Jenkins side

[2021-02-12 09:37] slarse commented on #3775
I think it's better to set it on the node itself, as it relates to system values that I don't think its customary for Jenkins to have to care about. I.e. it would make sense for a worker to be able to just assume that Maven is properly configured. But I'm not certain.

I temporarily set the correct values in the build script for jimfs, and it works! https://ci.inria.fr/sos/job/Jimfs/1558/console

[2021-02-12 09:50] monperrus commented on #3775
Oh nice, what an achievement!!

It depends, environment variables are user-specific anyway, so we would have to assume that Jenkins always uses the same Unix user. So I would suggest to put that in Jenkins.

We can assume that we would have `/opt/maven/bin/mvn` on all nodes.

[2021-02-12 10:01] slarse commented on #3775
I've configured `M2_HOME` and `PATH` for the Ubuntu 16 node in Jenkins, and it appears to work (this build passed fine: https://ci.inria.fr/sos/job/Joda%20Time/1608/console). Let's wait for all of the builds  to run tonight, and if they go green we can do the same upgrade for the Ubuntu 18 node and then set the environment variables globally instead of per-node.

[2021-02-12 10:02] slarse commented on #3775
But, yeah, I think the problem is finally solved, although it slightly annoys me that I didn't manage to find the root cause of the problem :)

[2021-02-12 10:23] monperrus commented on #3775
Well, classpath + Maven dependency resolution + outdated versions + cache is a toxic cocktail for finding root causes.

[2021-02-12 10:53] udit-dasari commented on #3774
@andrewbwogi, yes, even when i use `setSourceClasspath` and `setNoClasspath(false)` spoon is still able to access and load the JVM classpath, even if i don't pass a library in the `setSourceClasspath` the library is still being loaded if it is present in the JVM classpath

[2021-02-12 14:27] slarse opened #3794 "Discussion: Redesigning the sniper printer"
Hi!

Over the past few months, I've been working out kinks and bugs in the sniper printer quite frequently. It's a very cool piece of software that does some impressive things, but I have noted several problems with the design that, in my opinion, cannot be overcome with the current architecture. I'd therefore like to discuss a complete redesign.

For context, I'll first provide a brief descriptio

[2021-02-15 07:39] slarse commented on #3775
Seemingly the only casualty of the upgrade was the Spoon Snapshot Deployer. It appears as if the environment variables aren't respected when running Maven commands through the Jenkins Maven plugin (probably, it does not start a shell).

I fixed that by specifying a version of Maven in the plugin, which the plugin then automatically installs.

There is however still a `NoClassDefFoundError` in the

[2021-02-15 08:25] slarse commented on #3775
Okay, so I found the problem. Casper is pulling slf4j-api 1.7.5 from some other dependency, instead of 1.7.30 from Spoon. As `org.slf4j.event` was introduced with 1.7.15, that's where the crash comes from.

The root cause of these issues is that we're using semi-internal SLF4J APIs (notably, [org.slf4j.event.Level](http://www.slf4j.org/apidocs/org/slf4j/event/Level.html). As far as I can tell, the

[2021-02-15 12:02] andrewbwogi commented on #3787
I'll see if I can reproduce this.

[2021-02-15 14:51] monperrus commented on #3775
Yes, that's an excellent idea.

Indeed. Never expose others' private APIs in your own one :)

[2021-02-15 21:04] dya-tel commented on #3740
Nope, sorry. No ideas on how to reproduce the NPE "properly". I could probably try making a synthetic test where the reference doesn't have a declaration, but this doesn't seem like a good test to me.

Actually, I'm not entirely sure that this NPE is possible in normal conditions. But it seems suspicious to me that a declaration (which usually can be null for a lot of the tree elements) is used wi

[2021-02-16 10:23] slarse commented on #3745
Another flaky failure: https://github.com/INRIA/spoon/pull/3793/checks?check_run_id=1905209095

[code]

[2021-02-16 14:21] monperrus commented on #3268
Re-opening, this bug is still there, it has happened with Sorald on https://github.com/AddstarMC/Prism-Bukkit/pull/248/files

[2021-02-16 14:22] monperrus commented on #3268
@slarse 's #3372 was related to this

[2021-02-16 14:23] monperrus commented on #3268
@slarse thinks that this happens mostly in noclasspath mode, if you hit this problem, try the full classpath mode, incl. the Maven mode.

[2021-02-16 15:26] slarse commented on #3268
I'm putting this on my TODO list.

I think this is specifically related to it being in a catch clause, as was the case with #3372.

[2021-02-17 09:06] slarse opened #3797 "bug: ImportCleaner imports inherited static methods"
There's a bug in the ImportCleaner class, causing it to import static methods even though they are inherited. Minimal example:

[code]

[code]

Running this through the import cleaner will cause it to add `import static Base.getMeaning` to the compilation unit of `Derived`. I'm working on a fix.

[2021-02-17 09:50] slarse commented on #3797
This is related to spoonlabs/sorald#382

[2021-02-17 10:37] slarse commented on #3797
To be clear, it's not invalid to import an inherited static method, it's just pointless.

[2021-02-17 10:41] slarse commented on #3797
In general, it's not invalid to statically import an inherited method, it's just very pointless. In this particular case, however, it causes a compile error, as `Base` is defined in the default package, and method imports from the default package are not allowed.

[2021-02-18 08:04] slarse commented on #3788
I'm putting this on hold until we've got a 1.1 release of Sorald. I expect that we'll have that within the next few weeks, we just need to verify that the new Spoon element/Sonar violation matching heuristic is actually doing what it should.

[2021-02-18 08:42] slarse opened #3799 "bug: Package of unqualified type name in catch not marked as implicit"
Given a try/catch like so:

[code]
The package of the exception type is not marked as implicit. A side-effect of this is that the type name is printed fully qualified during pretty-printing, like so:

[code]

This is related to #3268, #3372, #3373

[2021-02-18 08:43] slarse commented on #3268
I've opened a new issue for this (#3799), it seems like an isolated issue for catch clauses in that the package for the exception type isn't marked implicit.

@monperrus you can close this issue again.

[2021-02-18 13:36] monperrus commented on #2869
FYI, we plan to make soon a major release 9.0.0, because there have been lots of commits since 8.3, and we have a breaking interface change, see discussion at https://github.com/INRIA/spoon/pull/3796

[2021-02-18 13:37] #3797 closed

[2021-02-18 13:38] monperrus commented on #3268
Superseded by #3799

[2021-02-18 13:38] #3268 closed

[2021-02-18 14:29] andrewbwogi commented on #3789
To bypass the JVM classpath when there is a name conflict with the manual classpath, a custom classloader can be set that looks for classes with the parent classloader last:
[code]
The classloader used here comes from a Stack Overflow [post](https://stackoverflow.com/a/5446671/14537150) and works but custom classloaders that extend `URLClassLoader` directly do not because there is a bug in `Standa

[2021-02-18 17:19] slarse commented on #2869
We have another minor breaking change in the works in #3793

[2021-02-18 20:35] iamKunalGupta commented on #3789
1. Never loading from the parent loader in the custom classloader and only loading via external classes manually provided to spoon should work?

2. Also another thing of interest would be how would spoon behave when java runtime jars are not provided? Will it not resolve symbols as expected or does spoon have some definitions of common java classes built in?

[2021-02-22 10:40] slarse commented on #3794
I've thought about maintaining an LL-AST in the background some more, and come to the following insights.

Deletions of elements should be very straightforward: simply delete the corresponding subtree in the LL-AST.

Insertions should be fairly straightforward. On an insertion, pretty-print from the root of the inserted subtree. It should be relatively straightforward to map the print actions to t

[2021-02-22 13:23] #3799 closed

[2021-02-22 13:37] jrfaller commented on #3794
Hi @slarse!

I'm coming here since it a better place to discuss than our long email thread.

First thanks for the analysis of prior art, it is clearly very handy to have a structure with everything in it such as the LL-AST.

Maybe a dumb question for starters but I am asking it anyway: why would it be so bad to have that directly in Spoon main's representation? They could be hidden to the user by

[2021-02-22 14:00] andrewbwogi commented on #3789
It works except for classes in `java.*`. System classloaders are not allowed to load them.

There are no built-in definitions. If Spoon can't find sources or binaries then `getDeclaration` and `getTypeDeclaration` return `null`.

[2021-02-22 14:20] slarse commented on #3794
Hi @jrfaller! :)

Just for the sake of not saying "the redesigned sniper printer", let's call it the LL-printer for further discussion :)

Not at all a dumb question. The thing is that users of Spoon operate directly on the metamodel, and so it's really hard to introduce something into the metamodel and keep it hidden from users. Other than that, I see two primary reasons for why we'd want at leas

[2021-02-22 14:42] jrfaller commented on #3794
Thanks for the insightful answer. I 100% agree with your proposal to use dedicated metadata, that will allow us to not mess the Spoon metamodel!

After having thought a little more on this I propose a simple three part metadata information relative to syntax:
- leading layout (layout appended before the node)
- trailing layout (layout appended after the node)
- separating layout (this one is inter

[2021-02-22 16:13] slarse commented on #3775
So, even with #3796 merged today, the Casper build still isn't passing in CI. Turns out Casper uses the old snapshot repository, so it's not actually pulling snapshots anymore (thus using the latest beta instead). The build will go green on the next beta release (so next Monday).

@monperrus would you like me to PR the new snapshot repository into Casper, or do we leave it at this?

[2021-02-22 17:13] monperrus commented on #3775
it would be nice of you :)

[2021-02-22 17:16] monperrus commented on #3794
FTR, sniper pretty-printing, aka high-fidelity pretty-printing, is a notoriously hard problem, see papers referred to in https://github.com/INRIA/spoon/issues/1284

[2021-02-23 11:01] jrfaller commented on #3794
Thanks for the pointers @monperrus !

[2021-02-23 12:34] slarse commented on #3794
Very hard indeed, but all more or less successful applications I can find do retain and transform formatting information. Most of the papers referenced in #1284 seem to do so. So, I very much believe that's the way to go!

That sounds like a reasonable way to go. If possible, it would be best to just have one of those, but as I mentioned with corner cases before, there'll likely be exceptions wher

[2021-02-23 16:36] lyriccoder commented on #3251
Hi guys. How can I make inline of the function?

 I found a way to to search for the folllowing data:

[code]
class Test {
    void targetMethodDeclaration() {
         int e = 5;
         int res = extractedMethodDeclaration(e);
         return res;
    }

    int extractedMethodDeclaration(int b) {
          int a = 0;
         ++a;
         return a;
    }
}
[code]
class Test {
    void targetM

[2021-02-23 16:48] jrfaller commented on #3794
This is funny because it was exactly the case where I thought it would simplify things. If we manage to get the information that the separating layout for the parameter list node is `, ` (granted, I'm not sure this node really exists in Spoon metamodel 😄 since you have a virtual node for this), then insertion or deletion of parameters is mindless, because as soon as the node has children we have t

[2021-02-24 07:36] slarse commented on #3794
I have a feeling that this will work great in _most_ cases, but where it doesn't it'll be all but impossible to get it to function like we want. Like your final example there. That's pretty much the case with the current sniper: it works great in most cases, but when it doesn't it's almost impossible to fix it.

And no, there's no AST node for parameter lists, it's just a list baked into the execu

[2021-02-24 07:40] slarse commented on #3794
But it also depends on what we make the separating layout. It would make some amount of sense to have the separating layout be just `,`, and then in the case of this:

[code]
we also have `lead(b) = _` and `lead(c) = \n____` (_ represents space)

[2021-02-24 08:09] slarse commented on #3794
Regardless, the first challenge is to even be able to extract the layout and "attach" it to the correct nodes. I'm looking at how we can adapt what's already there in the sniper.

[2021-02-24 09:41] lyriccoder opened #3805 "Function inlining"
Hi  SPOON contributors. How can I make inline of the function?

 I found a way to search for the folllowing data (so, I can find all those objects via your framework):

    CtMethod targetMethodDeclaration;
    CtMethod extractedMethodDeclaration;
    CtInvocation invocation;
    Launcher launcher

It will look like:

[code]

Is it possible to inline extractedMethodDeclaration into targetMethodDec

[2021-02-24 10:30] jrfaller commented on #3794
Yes I agree! I think that having the AST as a first step helps a lot.

Then I don't know exactly if we have to focus only on whitespaces or also to search for some symbols that are stripped in the AST (e.g. `;` or `,` or even keywords such as `class`). Thinking about this, maybe it would be interesting to have separate metadata for whitespace (AKA layout) and literals like they do in the LL-AST pa

[2021-02-24 11:34] slarse commented on #3745
More flaky failures due to failure to fetch dependencies:

https://github.com/INRIA/spoon/runs/1952662804

https://github.com/INRIA/spoon/runs/1952666563

https://github.com/INRIA/spoon/runs/1969387596

@monperrus I think we need to take the performance hit (see opening post) and disable connection pooling.

[2021-02-24 11:37] slarse opened #3806 "bug/chore: ParallelProcessor tests are flaky"
_Originally posted by @MartinWitt in https://github.com/INRIA/spoon/issues/3755#issuecomment-763401113_

This now just happened again, but in a different test: https://github.com/INRIA/spoon/runs/1969383888#step:5:12462

Perhaps we should disable this test on Windows until someone can dedicate some time to the Windows compatibility issues.

[2021-02-24 11:39] slarse commented on #3806
To be clear, we've had flaky failures in `compareWithSingleThreaded1` and `compareWithSingleThreaded3`. I'd suggest disabling all `compareWithSingleThreadedX` tests until someone can deal with this.

[2021-02-24 11:40] slarse commented on #3806
Actually, `compareWithSingleThreaded2` probably does not need to be disabled as it runs on a single thread.

[2021-02-24 12:25] slarse commented on #3806
Okay, now there was a failure on Ubuntu: https://github.com/INRIA/spoon/runs/1969811221?check_suite_focus=true#step:5:15517

So these tests are just flaky.

[2021-02-24 13:05] slarse commented on #3806
I'll try to have a look at what's causing the test failures tomorrow. I've no idea of what the parallel processing architecture looks like, so I may or may not be able to debug this with the little time I can spare to it.

[2021-02-24 16:10] slarse commented on #3775
I think we can safely close this issue now as Casper is finally passing as well: https://ci.inria.fr/sos/job/casper/1556/

For future reference: the core problem we faced here was the use of internal parts of `slf4j-api`. In the future, we should only ever use stuff that is part of the `slf4j` package. Switching to a newer Maven version almost fixed the problem, but that was likely just a fluke re

[2021-02-24 16:10] #3775 closed

[2021-02-24 16:24] monperrus opened #3809 "extraneous parentheses at pretty-printing"
We all know that Spoon is generous at putting parentheses, in particular for binary operators and cast expressions.

One way to solve this is to use the implicit information from CTElement to signal parenthesis to be written:

CtBinaryOperator.isImplicit() == true => no parentheses required
CtBinaryOperator.isImplicit() == false => parentheses required

See also the discussion about sniper at http

[2021-02-24 20:34] dya-tel opened #3810 "Discussion: Smoke testing"
Not a long time ago I was developing a static analyzer which used Spoon in a company. We had an utility called "self-tester", which ran our analyzer on a bunch of open-source projects and calculated the diff for the analyzer reports. Last time we decided to update Spoon, we ran into a bunch of problems while running this utility and couldn't update. For some of these problems I created issues (#37

[2021-02-24 21:24] slarse commented on #3810
Hi @dya-tel

We actually have a lot of smoke tests up and running! You can find the dashboard [right here](https://ci.inria.fr/sos/). They run once a day, so they don't slow down our integration process, but still give us a heads up pretty quickly if something goes wrong. For most of these we just [run this script](https://github.com/SpoonLabs/SpoonLabs.github.io/blob/main/jenkins/build.sh), which

[2021-02-24 21:42] slarse commented on #3809
Interesting idea. It might prove a bit troublesome, though, as whether or not parentheses need to be printed can change when the AST is modified. For example, consider expression:

[code]

So, if we write binary operators `BinOp(<OPERATOR>, <LEFT_HAND_OPERAND>, <RIGHT_HAND_OPERAND>, <IMPLICIT>) we have an expression like so:

[code]

However, now let's assume we modify this expression by making it

[2021-02-24 21:52] slarse commented on #3809
Just off the top of my head, I think it might be easier to analyze expressions when they are to be printed to determine a minimal amount of required parentheses. It should be pretty straightforward given a table of operator precedences.

[2021-02-24 22:02] dya-tel commented on #3810
Huh, had no idea.

Running tests from other projects which use Spoon is cool and all (as I understood it only the usual unit-tests are being run; I might be wrong), but that's probably not enough - I'm talking about making a separate module or something like that for "trying to destroy everything". I mean not relying on others' mostly synthetic unit tests, but "bombarding" the *real* models by our

[2021-02-25 08:25] slarse commented on #3810
Do you mean that we'd have some generic operations applicable to any project, or tailored operations for each considered project? If it's the former, do you have any ideas on how to make that happen? Would there be an oracle or would it just be "it doesn't crash" tests? If it's the latter, I'm afraid it may be too much work to maintain. Even maintaining the current smoke tests, which are mostly ru

[2021-02-25 08:53] dya-tel commented on #3810
This variant. Just a bunch of simple generic operations - something like "get all the methods in the model and run overload check for each pair, get declarations for everything, etc; if it doesn't crash, these operations are probably safe enough". It shouldn't need any maintenance (aside from updating the test projects from time to time and maybe adding more checks), but would probably be pretty s

[2021-02-26 08:04] woutersmeenk opened #3811 "Sniper printer code formatting problems"
I am testing Spoon on our project and there were a number of formatting changes (some with functional impact). I decided too check what happened when rewriting all elements in all files of our projects.

I used the following processor:
[code]

I checked the most important problems and made testcases for them.

The kind of problems:
- Brackets being removed/inserted
- Exception class names being fu

[2021-02-26 09:45] slarse commented on #3811
Hi @woutersmeenk,

Thank you for the bug report and test cases!

What you're presenting here is a worst-case scenario for the sniper printer. In general, the more elements that have been modified, the worse it will perform. When the sniper detects that an element has been modified, it will print it with the default printer, which has its own notion of how to print elements (explaining the addition

[2021-02-26 10:36] woutersmeenk commented on #3811
@slarse That seems reasonable. Thank you for working on this.

Changing everything is not an actual use case for me. I just wanted to check what can be handled by the sniper printer. Maybe this is not the right way to test it, but it is easy to test a lot of different cases in this way.

In the future we want to use this in our project to change some old API that have a lot of uses. The changes ca

[2021-02-26 11:08] slarse commented on #3811
I figured that, but I agree that it's a good way to show weaknesses. Regardless of how much a type is changed, the sniper should still produce structurally correct output, i.e. `parse(sniperPrint(ast)) == ast` (it's a little bit harder to compare than that due to Spoon's granularity, but it's the general idea). Your little trick here in changing source positions is a good way of stress testing tha

[2021-02-26 14:38] slarse commented on #3810
If we could find a way to define generic tests to run these "crunch" operations on arbitrary (real) projects, then I think it's a great idea. I'm sure it's possible to do somewhat generically, e.g. "find a method with at least one use and rename it", or something like that. Or even, "rename every method". We have the computing power for running such tests, we just don't have the manpower to mainta

[2021-02-26 15:11] slarse commented on #3806
Step one here is to improve the assertions in the tests to let us actually see what the "wrong" output is, the next time it happens.

[2021-02-26 15:17] MartinWitt commented on #3806
I hoped my documentation about what I was testing was enough. See https://github.com/INRIA/spoon/blob/eac3535a6ffaa30db1beb829f7363a6f49f50e79/src/test/java/spoon/test/processing/processors/ParallelProcessorTest.java#L80
More or less I test If the parallelprocessor visits the some number of elements as a normal processor.

[2021-02-26 15:28] slarse commented on #3806
@MartinWitt you misunderstand me, I didn't mean I don't understand _what's_ being tested, I meant that the assertion just says "nope". I want to see what the numbers are :)

[2021-02-26 15:30] slarse commented on #3806
I.e. this is the failure info:

[code]

But if we use Hamcrest matchers, we'll get the actual numbers! We'll see which counter is off (probably the parallel ones, but who knows), and we'll see by how much, and in which direction.

[2021-02-26 15:32] MartinWitt commented on #3806
Oh sry, yeah that would have been way better to output numbers and not a simple correct/wrong.
Looking at my old code I believe in `processingDone` https://github.com/INRIA/spoon/blob/eac3535a6ffaa30db1beb829f7363a6f49f50e79/src/main/java/spoon/processing/AbstractParallelProcessor.java#L136 is a `awaitTermination` missing. ProcessingDone is called after the last element was supplied(otherwise the

[2021-02-26 15:35] slarse commented on #3806
Very good info, thanks! I just added the new asserts, I intend to trigger CI a few times to see if they blow up (it happened _a lot_ yesterday).

[2021-02-26 16:01] slarse commented on #3806
Having looked over the code, I agree that the missing `awaitTermination` is very likely the cause of the problem.

All interrupts look fine to me. I scanned it with Sonar just to be sure, and it doesn't complain about unhandled interrupts.

[2021-02-27 15:29] I-Al-Istannen opened #3814 "Parse Javadoc contents and inline tags ({@link})"
## Preface - Usage Scenario
I am currently trying to write a less crappy version of a javadoc bot:
<img src="https://user-images.githubusercontent.com/20284688/109391368-ffa24c80-7916-11eb-9ca1-a1575c63fbe1.png" width="500"></img>

The current iteration parses the online HTML javadoc on-the-fly, extracts relevant fields (`throws`, `@param` tags, etc.) and then converts the whole thing to markdown.

[2021-02-28 14:14] rmkellogg commented on #3046
Did you ever get a resolution for this issue?  I am experiencing the same thing with version 8.4.0-beta-15.

[2021-02-28 18:03] andrewbwogi commented on #3805
If each element in a list of `InlineOpportunity` should represent a separate file, a rough implementation of inlining in assignment statements is:
[code]
To reset the model back to its original state, element clones are inserted into the model and deleted at the end of each loop and the stashed original element is put back. You get the prettyprint of the changed model by calling `toString` on it.

[2021-03-01 06:31] slarse commented on #3794
To do the printing "properly", we'll need other symbols as well, especially parentheses.

I still haven't had the time to start experimenting with this, but I expect to be able to toward the end of this week.

[2021-03-01 07:29] slarse commented on #3806
@MartinWitt Would you like to implement the `awaitTermination` fix? You spotted it so it's your contribution to make, if you want to. I'm fairly confident it will solve the issue, the only question is for how long to await termination.

[2021-03-02 16:52] andrewbwogi commented on #3814
Hi @I-Al-Istannen, a Spoon AST models only the syntax of a Java program. To have fully qualified names everywhere requires some analysis of the model and this is up to the user. You could for instance call `getPackage` on the `CtClass` that contains the Javadoc comment to complete a name in it.

[2021-03-04 02:40] dallinbeutler opened #3821 "using Spoon-maven-plugin with Lombok"
Hey, fairly new to Spoon here.
I'm using Lombok to generate constructors for me on this class:
[code]

I'm trying to use the maven plugin to add another layer of functions to the class,
but when I compile I get the error:
[code]

I'm assuming that this is because the `Launcher` doesn't know how to handle the all args constructor that would have been generated, but isn't, because this is source cod

[2021-03-04 08:49] slarse commented on #3809
I'm giving this a spin today.

[2021-03-04 10:23] slarse commented on #3809
So, this really isn't very difficult (I think). We don't need to mess with any implicitness of elements, as given an element we can determine if it needs to be parenthesized based only on its parent. If I'm not missing something, we must parenthesize an expression `e` with an operator in it iff:

1. The parent `p` is a unary operator.
2. The parent `p` is a binary operator with higher precedence t

[2021-03-04 11:26] I-Al-Istannen commented on #3814
Hey, I'd still need to parse the inline tags myself, if I didn't miss that. I see how qualifying them could be out of scope, but parsing the javadoc to a list of text fragments / inline tags might not be?

If you don't think that fits into spoon I'll write the parser myself and throw the javadoc source string at it and close this issue.

[2021-03-04 12:14] slarse commented on #3814
Hi @I-Al-Istannen

If I'm not misunderstanding you, then this feature exists. Assuming you've got a `CtComment` that you know is a `CtJavaDoc`, you can do something like this:

[code]

That'll give you all inline tags. Given a something like `{@link java.lang.Integer}`, the corresponding inline tag looks something like so.

[code]

The problem you'll face is that the `content` part is just the raw

[2021-03-05 19:26] I-Al-Istannen commented on #3814
Hm, I am pretty sure I tried that. Based on my experimentation that *does* work for the general comment, but the contents of tags are not parsed. I.e. the output of
[code]

Is:
[code]
But I can't seem to get the `{@link String}` from there. The tag provides a `getContent` method returning a String and the `getElements()`, `getDirectChildren()` and any other method that sounded AST-y just returns e

[2021-03-06 09:10] #3693 closed

[2021-03-06 17:06] andrewbwogi commented on #3814
If `ctMethod` is the method that has the Javadoc comment, try:
[code]
`list` should contain the `{@link String}` as a `JavadocInlineTag`.

[2021-03-07 15:23] andrewbwogi commented on #3821
Hello @dallinbeutler, I can take a look.

[2021-03-08 08:34] slarse commented on #3806
Aha, now we have proof for the theory, the parallel processors don't have time to finish: https://github.com/INRIA/spoon/runs/2054666431#step:5:15890

[2021-03-09 07:16] #3789 closed

[2021-03-09 07:54] monperrus commented on #3397
FTR, @algomaster99 is working on this.

[2021-03-09 09:10] algomaster99 opened #3827 "API function `replace` doesn't replace a class with a CtClass instance"
I am trying to execute the following piece of code.

[code]

where

`originalElement` is
[code]
and `uniqueParent` is
[code]

However, when I try to replace `originalElement` with `uniqueParent`, it doesn't work. I have tried the replace API with other elements such as `CtMethod` and it works there. I wanted to know if this is the intended behaviour with `CtClass` or is it supposed to be a bug?

[2021-03-09 11:05] slarse commented on #3827
Hi @algomaster99 ,

What exactly isn't working? Can you show a more complete example? In particular, how are the two classes created?

Classes are, let's say, a little bit "global" in the metamodel, so when manipulating them you have to be a careful with what you do. For one, you can't have two classes with the same qualified name in the same model (and if you find a way to make that work, it's mo

[2021-03-10 08:17] monperrus opened #3828 "Looking for Google Summer of Code GSOC students"
Hi all,

Spoon is part of Google Summer of Code, as a subproject of the [CASTOR Software Research Centre](https://www.castor.kth.se/).

If you'd like to be a Repairnator contributor as part of GSOC, drop a comment in this issue.

--Martin

[2021-03-10 12:25] slarse commented on #3809
@monperrus can you re-open this issue? :)

[2021-03-10 13:22] andrewbwogi commented on #3827
I think the problem here is that if you do `originalElement.replace(uniqueParent)`, `originalElement` will not hold the object referenced by `uniqueParent`. In general, this seems unavoidable because the original element could be replaced by an element of a different type.

If you want an element where the replacement has been made, you could use `originalElement.getParent()`. In this case, it wil

[2021-03-10 16:56] monperrus commented on #3809
done, I'll nominate you to get the "triage" permission in https://github.com/INRIA/spoon/issues/3620

[2021-03-10 19:11] slarse commented on #3809
Thanks!

[2021-03-10 20:53] algomaster99 commented on #3827
Thank you for your response, @slarse !

I have two files in my system. _Replaced `Already` with `OldKlass`_.

**prev.java**
[code]

**new.java**
[code]

I compared them and found that there is only one [operation](https://github.com/SpoonLabs/gumtree-spoon-ast-diff/blob/master/src/main/java/gumtree/spoon/diff/operations/Operation.java#L15) between them.

[code]

I fetched the [srcNode](https://git

[2021-03-11 04:48] ek08 commented on #3828
Hi Martin,

I am Ehtesham Khursheed a 2nd year undergrad from Jadavpur University with major in Electronics and Telecommunication engineering. I am quite proficient with the Java programming language but a still a naive with AST.

I would be grateful to you if you guide me to get started with this project :)

Thanks !!
Ehtesham Khursheed

[2021-03-11 06:20] monperrus commented on #3620
@slarse has been very active in the Spoon community with answering questions, fixing bugs, adding features, see https://github.com/INRIA/spoon/issues?q=sort%3Aupdated-desc+involves%3Aslarse+

In order to be even more effective, I nominate @slarse to be given the "Triage" Github role: `Can read and clone this repository. Can also manage issues and pull requests.` ([reference documentation](https://

[2021-03-11 07:21] slarse commented on #3827
It's a name collision, which can't be consolidated within a single model.

Ah, so you're using `AstComparator.compare(File, File)` in `gumtree-spoon`? That creates _two_ models, one for each input file. In general, combining models is pretty error prone. As different models have different factories, some things don't work correctly. Spoon isn't really designed for it. That being said, it's totally

[2021-03-11 07:48] cesarsotovalero opened #3831 "Dependency should have a test scope"
I noticed that the dependency `org.tukaani:xz:1.8`, located in `spoon-core`, has a (default) `compile` scope. However, it is only used in method `testLZMACompressionType` of class  `spoon.test.serializable.ModelStreamerTest`. Therefore, this dependency should have a `test` scope. By changing the scope of this dependency, the size of the `spoon-core` bundled artifact is reduced by [106 KB](https://

[2021-03-11 07:55] algomaster99 commented on #3827
@slarse

Yeah, right. I have two different models so " you can't have two classes with the same qualified name in the same model" shouldn't be an issue.

Considering the above example, nothing happens as of now. Neither a transformation nor an error is thrown.

Could you please elaborate? I would like to know.

If I try to replace an instance of `CtMethod` instead of a `CtClass`, it is successfull

[2021-03-11 08:22] cesarsotovalero opened #3833 "Integrate DepClean in the Spoon CI pipeline"
The purpose of the PR is to suggest integrating [DepClean](https://github.com/castor-software/depclean) in the Spoon CI pipeline. Having a dedicated DepClean job is useful to keep track of the status of the Spoon dependencies.

The DepClean plugin allows having a guard to ensure that unused dependencies are not added to the Spoon bundled artifact. For example, the build may fail if a PR adds at le

[2021-03-11 08:35] slarse commented on #3827
I just tried replacing a class from one model with a class from another model, and found no problems. It works as expected.

When you say "nothing happens", _where_ are you looking? This relates back to what @andrewbwogi said, you will only see the effects of replacing a class by looking at its parent (in this case, the parent is a package, but it could be another type as well in the general case)

[2021-03-11 08:56] algomaster99 commented on #3827
Did the body of the class got replaced? For example, if any methods or class variable declarations were added or not.

I prettyprinted the `originalElement` and checked if it changed or not. I expected the body of the class would change but it did not when I prettyprinted it.

[2021-03-11 09:32] slarse commented on #3827
I think you misunderstand what it means to replace a node: when running `lhs.replace(rhs)`, `lhs` is _not_ mutated. What happens is that `rhs` takes the place of `lhs` in the model, but if you inspect `lhs` in isolation, it will look the same as it did before calling `replace()`.

To illustrate, let's say I have one model `lhsModel` with a class `Klass` with a method `m()`. If we consider that the

[2021-03-11 10:15] algomaster99 commented on #3827
@slarse thank you for the elaborate explanation! It's crystal clear to me why I couldn't see any _difference_. Although if I may ask a bit about the semantics, why the effect isn't reflected in the replaced element?

[2021-03-11 12:41] slarse commented on #3827
The semantics of `original.replace(replacement)` are to _replace_ `original` with `replacement`, in the model of `original`. It's a simple substitution: take the element referenced by `replacement` and put it in the place in the model currently occupied by `original`. The way to think about it is that it is an operation on the _model_, rather than on the individual element the method is called upo

[2021-03-11 14:07] monperrus opened #3835 "add Spoon in Google OSS-Fuzz"
Reference: https://security.googleblog.com/2021/03/fuzzing-java-in-oss-fuzz.html

[2021-03-11 14:08] slarse opened #3836 "Remove/migrate all remaining Travis stuff"
As we're unlikely to ever return to Travis CI, references to Travis are confusing, e.g. the directory containing the CI scripts being called `chore/travis` and the `.travis.yml` config file being present. We should remove anything that is no longer necessary, and rename everything else appropriately.

In the process of removing the Travis CI traces, we should also ensure that we've migrated all fu

[2021-03-12 07:46] #3831 closed

[2021-03-12 07:59] monperrus commented on #3828
@Rohitesh-Kumar-Jain @ek08 Warm welcome! Thanks a lot for your nice introduction.

The next step will be for us to nominate students to Google (approx by May 17).

In the meantime, the best thing is to do is to get to know the community and the code with bug fixing:

- the bugs are reported as issues on Github https://github.com/INRIA/spoon/issues/
- we have the `bug` label https://github.com/INRI

[2021-03-12 08:00] saksham9656 commented on #3828
Hi Martin,
I am Saksham Gupta a first year BTech student from MAIT doing Electrical and Electronics Engineering(EEE). I am currently learning java language and I have a keen interest in open source projects.
I would be glad if you guide me to get started with this project and I would be happy to start learning and exploring more about open source project.
I will not promised you that I will do all

[2021-03-12 09:31] slarse opened #3837 "Discussion: Behavior on qualified name collisions"
After the discussion in #3827, I was intrigued by how we deal with name collisions on manipulating the AST. I've done some cursory investigations into this, and there's some truly odd behavior.

1. Creating a type or type member (e.g. with `Factory.createClass()` or `Factory.createMethod()`) that has a qualified name collision with some other element causes a silent overwrite of the original.
2. C

[2021-03-12 09:55] monperrus commented on #3837
Thanks for the analysis. I'm all for consistency and least confusion.

the case for 2.).

Would prefer the latter, to return the element, it may be more backward compatible.

[2021-03-12 09:58] slarse commented on #3837
Indeed, I think so to. To me, an exception is more "pure" in terms of design, but returning the existing value is more pragmatic given the current behavior.

[2021-03-12 14:42] slarse opened #3839 "CI output is very verbose"
It's absolutely full of "Download progress". I'm working on reducing overall verbosity and making it easier to find only the test output (which is typically what one wants to look at).

[2021-03-12 15:22] slarse opened #3840 "Cache Maven dependencies to speed up build process"
We spend almost 4 minutes just downloading dependencies in each build (about 1/3 of total build time). That's made worse by us disabling connection pooling to avoid transfer timeouts.

Caching the .m2 directory could significantly speed up the builds.

[2021-03-12 15:37] MartinWitt commented on #3840
Isn`t caching dependencies risky if we have stale or old ones? Assuming we update in a PR a dependency and use the new API.
I personally had a lot of problems with mavens version resolution in plugins if we don't specify every version number(which we should).
Have you tested your caching mechanism, because debugging caching problems in the CI is the most antifun thing I ever had?
But improving the

[2021-03-12 16:02] slarse commented on #3840
Haven't tested it yet, but I'm gonna try out https://github.com/actions/cache

Plan is to find a way to evict the cache by time (e.g. every day). That should give massive speedup at minimal risk of having stale dependencies.

If I can't evict the cache based on time, then I'd say it's too risky.

[2021-03-14 15:12] yashrajjain726 commented on #3828
Hi @monperrus .

I'm Yashraj, a learning enthusiast from Cv Raman Global University, Bhubaneshwar pursuing B.Tech in Computer Science. I am a Competitive Java Programmer and a Web Developer too. I have learned the concepts of Java on OOPs and I also practice Data Structures and Algorithms using Java.

I really like this project and would certainly devote my time to contribute to it. I have also co

[2021-03-16 09:57] #3840 closed

[2021-03-16 10:00] #3839 closed

[2021-03-16 12:04] #3833 closed

[2021-03-16 13:26] slarse commented on #3806
There's a slight complication here, in that the only reliable way to actually allow all processors to run to completion within an ExecutorService is to run with `ExecutorService.invokeAll()`. Using `awaitTermination` isn't really suitable, because, for how long should we wait? Regardless of the wait time we choose, I can always break it by sleeping for a while longer in any of the processors.

Wit

[2021-03-16 14:30] monperrus opened #3845 "Major Release Spoon 9.0.0"
Release to come, what a nice changelog, thanks a lot to all contributors!

# New features

* Print minimal amount of round brackets in sniper mode. (PR: #3823)
* Make sniper printer infer indentation style of compilation unit. (PR: #3717)
* Add CtModifiable#isTransient and related methods. (PR: #3670)
* Add support for pretty-printing Java 15 text blocks. (PR: #3664)
* spoon-smpl: Initial support

[2021-03-16 14:47] slarse commented on #3845
The following two bullet points should be under breaking changes:

* Consolidate a consistent behavior for CtElement#getParent. (PR: #3793)
    - Breaking because `CtElement#getParent(Filter)` no longer throws an exception
* Use self-defined logging level instead of org.slf4j.event.Level. (PR: #3796)
    - Breaking for all the same reasons that #3755 is breaking, but actually defines the current b

[2021-03-16 16:03] andrewbwogi commented on #3821
I think a new goal for a post-compilation phase can be added to Spoon-maven-plugin that uses `spoon-decompiler` to add class files as input resources.

In the meantime, have you considered using [delombok](https://projectlombok.org/features/delombok)? Spoon-maven-plugin adds to its input sources generated by other tools. It may be a safer option since bytecode can not always be decompiled to the c

[2021-03-17 10:55] Erarshad commented on #3828
Hi @monperrus.
This is Mohammad Arshad , I am passionate about the computer science.
Right now I'm in 3rd year of my degree out of 4 year program,
I did work as application and software intern in Doha Qatar ,
I have good understanding of compiler design , automata, operating system and other core subjects of computer science.
I use Java as my primary language,  I am doing practice on leetcode  and

[2021-03-17 13:15] monperrus commented on #3845
thanks @slarse updated the changelog

[2021-03-17 13:17] monperrus commented on #3620
Congrats @slarse you're now given the "Triage" rights!

[2021-03-17 13:18] slarse commented on #3620
@monperrus Thanks a lot!

[2021-03-17 15:58] surli commented on #3845
Since the change looks pretty important, does it need a new release of Spoon Maven Plugin, or is the maven plugin still works with that version?

[2021-03-17 20:02] algomaster99 commented on #3827
Closing this issue as my question is answered :)

[2021-03-17 20:02] #3827 closed

[2021-03-18 08:54] monperrus commented on #3845
I don't expect breakage in Spoon-maven-plugin. However, a release of it would be nice after this major of spoon-core, would you take care of this @surli? Thanks!

[2021-03-18 13:52] slarse commented on #3794
That expectancy was waaay off, got a bit bogged down with a paper deadline and work on Sorald :).

In any case, I've given this additional thought. The key functional goal that I'm looking for here is to be able to sniper-print an AST that's cobbled together from multiple sources (even multiple models). This essentially requires printing of any given node to be independent of its parent, which is

[2021-03-18 14:25] monperrus commented on #3845
Release done.

[2021-03-19 06:23] monperrus opened #3848 "Snapshot deployment job is broken (DepClean bytecode version)"
The snapshot deployment job on SOS is broken: https://ci.inria.fr/sos/job/Spoon-Snapshot-Deployer/3378/display/redirect

It seems it's due to the bytecode version of DepClean.

@cesarsotovalero WDYT?

[2021-03-19 07:48] slarse commented on #3848
We are deploying with Java 8, according to the error message the depclean plugin has been compiled with Java 11.

[2021-03-19 08:20] slarse commented on #3848
JDK11 is a requirement of depclean: https://github.com/castor-software/depclean#installing-and-building-from-source

So we can't use it in the deployment job.

[2021-03-19 08:47] monperrus commented on #3848
What about moving the deployment job to Java 11?

[2021-03-19 08:51] slarse commented on #3848
If we deploy with Java 11, Java 8 clients can't use the generated jars (they'll get the same error we're getting here). So, deploying with Java 11 effectively means abandoning Java 8 support, at least for the snapshots.

We really only have two options: Don't run Depclean on deploying, or deploy with Java 11, thus rendering deployed artifacts unusable to <11.

[2021-03-19 08:55] cesarsotovalero commented on #3848
This issue has been fixed in DepClean recently, see https://github.com/castor-software/depclean/issues/25

[This article](https://www.baeldung.com/java-lang-unsupportedclassversion) clarifies the issue and the solution.

Abandoning the support for clients that require Java 8 is not a good idea for Spoon IMHO. I had made a minor release of DepClean, so updating the plugin to version 2.0.1 should so

[2021-03-19 09:04] slarse commented on #3848
@cesarsotovalero Ah, so we just started using DepClean with the most unfortunate timing then :)

No worries! I'll keep a lookout for the new release and update the dependency when it hits central. Perhaps @renovate-bot will even do it for us?

[2021-03-19 10:31] slarse commented on #3848
It did! #3849

[2021-03-19 10:36] cesarsotovalero commented on #3848
It seems that renovate indexes new dependency versions before [Sonatype](https://search.maven.org/artifact/se.kth.castor/depclean-maven-plugin).

[2021-03-19 10:51] jrfaller commented on #3794
It seems a good idea!

[2021-03-19 11:04] monperrus commented on #3848
Jenkins build is back to normal : Spoon-Snapshot-Deployer
https://ci.inria.fr/sos/job/Spoon-Snapshot-Deployer/3379/display/redirect?page=changes

Thanks Simon & Cesar

[2021-03-19 13:22] slarse commented on #3848
I noticed that, too. It was however possible to access the Maven page with the direct url (https://search.maven.org/artifact/se.kth.castor/depclean-maven-plugin/2.0.1/maven-plugin), and the artifacts as well.

Then I'm closing this issue with the Triage powers invested in me!

[2021-03-19 13:22] #3848 closed

[2021-03-21 19:18] dallinbeutler commented on #3821
yeah, I couldn't figure out  how to get those steps to work with the maven plugin?  Lombok and maven are both trying to work from the same source, and I don't know how best to chain this stuff.

And yeah, I'm using delombok for now. I figured with our teams impending integration of Spring Boot weaving backend stuff it would be a good question to bring up now.

Thanks again for taking a look!

[2021-03-22 09:58] dhruvil-shah commented on #3828
Hi @monperrus
I'm Shah Dhruvil from Nirma University currently pursuing Computer Science and Engineering as a 2nd year student.
I have worked in java and well proficient in it.
I have also worked on Android development in java in past and also have hands-on on Web Technologies.
I would like to work with the community for summer and looking to contribute to the project.

Thanks and Regards
Dhruvil

[2021-03-22 19:02] dhruvil-shah commented on #3705
Hello sir,
I'm new to community and wanted to contribute as a part of Gsoc'21.
For the above issue we can use `if(pkg != null && !pkg.isUnnamedPackage())` for checking null as mentioned in one of the code.
For the `getSimpleName()` issue with defult one we can use `if(pkg!=null && pkg.isUnnamedPackage())` then just set it's corresponding name with `setSimpleName()`.

I'm not sure about the above a

[2021-03-23 08:57] slarse opened #3855 "bug: Sniper printer fails to prepend whitespace to CtModifiable added at start of non-empty collection"
If you add a type member at the top of a class, the sniper printer prints it on the same line as the header, just after the opening curly bracket. This happens only if the class is non-empty, with an empty class the newline and indentation is properly prepended to the type member.

This applies to all kinds of type members. Working on a fix.

[2021-03-23 09:38] slarse commented on #3855
The same bug affects local variables in statement lists. In fact, it affects any subtype of `CtModifiable` in a collection.

[2021-03-23 10:46] slarse opened #3857 "chore/bug: Sniper printer tests with literal newlines in assertions fail on Windows"
Not sure what's causing this, the sniper printer should respect the newline style used in the source file. See #3856 for an example.

[2021-03-24 07:44] #3806 closed

[2021-03-24 10:06] slarse commented on #3745
This appears to still be a problem:

[2021-03-24 10:13] slarse commented on #3794
For the record, we've decided to devote some amount of resources on this project, as sniper printing is a cornerstone of AST-based tools that need to go back to actual production source code.

I tried to get started a li'l bit but felt like it was more or less a fumble, so I'm going to take a step back and study related implementations more closely first. I'm currently focusing on the IntelliJ pla

[2021-03-24 11:08] surli commented on #3216
Note we got the same problem than last year just now: apparently maven.inria.fr is down and it's blocking XWiki build since Spoon declared the repository.

[2021-03-24 12:03] slarse commented on #3216
@surli We don't use maven.inria.fr anymore, we switched to OW2 nexus a few months back. So I'm guessing this is for an older version of Spoon? But I agree that it would be better for the snapshot repository to be optional. It's a bit of an annoyance even when working as expected, as Maven searches that repository for everything else as well.

I suppose I'm the one who's most down and dirty with th

[2021-03-24 12:04] slarse opened #3858 "doc/bug: `doc/faq.md` refers to the maven.inria.fr snapshot repo"
It should be updated with the new snapshot repository.

[2021-03-24 12:14] slarse commented on #3745
Actually, no, that was just `maven.inria.fr` being down again. We still have stuff there, apparently.

[2021-03-24 12:14] #3745 closed

[2021-03-24 12:29] slarse commented on #3759
I'm doing some infrastructure work at the moment so I'll pick up this one, too.

[2021-03-24 13:07] surli commented on #3216
Indeed we're still few version behind I need to upgrade but last time I tried we got issues.

Well back when I created this issue, the snapshot repo was used for revapi, if it's still the case then you can probably just declare it for a specific profile and use the profile in the CI, that's what we have at xwiki for example: https://github.com/xwiki/xwiki-commons/blob/master/pom.xml#L2846

[2021-03-24 13:24] slarse commented on #3216
Any idea why we don't have any XWiki builds on Jenkins? Seems like a significant client where we'll want to be alerted of regressions.

I have no knowledge of revapi, but if it's a separate project that needs snapshots, it can just declare the snapshot repository on its own? We don't have a build for revapi.

On our side of things, all [Jenkins jobs](https://ci.inria.fr/sos/) are supposed to use t

[2021-03-24 14:10] surli commented on #3216
XWiki is a huge project which takes several hours for us to build entirely, so I guess it's part of the reason :)
Now you could probably build a subpart of XWiki that uses Spoon as an integration test, we have some dedicated processors in here: https://github.com/xwiki/xwiki-commons/tree/master/xwiki-commons-tools/xwiki-commons-tool-spoon/xwiki-commons-tool-spoon-checks/src/main/java/org/xwiki/too

[2021-03-24 14:16] slarse commented on #3059
Fails due to the build using the maven.inria.fr snapshot repository.

We really need to remove all traces of it, it goes down way too often.

[2021-03-24 14:37] slarse commented on #3216
Ah, right. But even with a build time of several hours, it would be feasible to schedule such an undertaking something like once a week. The Jenkins nodes are mostly idle, only running each of the ~30-ish jobs once a day, most of which take only a few minutes.

Sure, so long as it's relatively straightforward. We don't really have the manpower to maintain anything complicated :)

Ah, I see!

[2021-03-24 16:10] slarse commented on #3759
It took me a while to familiarize myself with Jenkins, but now I've got it all mostly figured out. I've adapted the current deployment script to generate the new site, but I haven't written the deployment part yet.

@monperrus Should we deploy automatically to SpoonLabs/spoonlabs.github.io, or should we open pull requests whenever the website changes?

Also, I can't find that the Javadocs for prev

[2021-03-25 05:32] monperrus commented on #3216
Thanks @surli for the follow-up

That's already done since @slarse's https://github.com/INRIA/spoon/commit/ac06d79bd8b18185d9d3e6bfd246ff1f4f071c94

https://github.com/INRIA/spoon/pull/3860 finishes the job and closes this issue.

[2021-03-25 05:33] monperrus commented on #3216
Having the relevant part of XWiki's build process in Spoon's Jenkins is a great idea!

[2021-03-25 05:33] monperrus commented on #3759
that's great.

yes!

[2021-03-25 05:34] #3855 closed

[2021-03-25 06:42] monperrus commented on #1908
[PSIMiner: A Tool for Mining Rich Abstract Syntax Trees from Code](http://arxiv.org/pdf/2103.12778)
Tool: https://github.com/JetBrains-Research/psiminer

[2021-03-25 07:37] slarse commented on #3216
Not entirely. If I try to build Spoon from source, it will always look for all dependencies in both central and OW2 Nexus. [This is considered bad practice](https://blog.sonatype.com/2009/02/why-putting-repositories-in-your-poms-is-a-bad-idea), especially as we pull nothing from OW2. At the very least, that slows down build. A solution to this was presented by @surli in that we can just put the re

[2021-03-25 07:38] slarse commented on #3216
So, to be clear, the same problem still exists, just that it's OW2 Nexus now instead of maven.inria.fr.

[2021-03-25 08:19] monperrus commented on #3216
LGTM.

[2021-03-25 09:32] slarse commented on #3216
I will get on that once I've finished with the website.

[2021-03-25 13:48] slarse commented on #3759
@monperrus I've got everything working now in a simple GitHub Action workflow (simpler than Jenkins as we have the credentials at hand). Here's an [automatic update example on my own fork](https://github.com/slarse/SpoonLabs.github.io/commit/810b4c12c16b4bf7ea0c6a6e1e14848b59c23854). Note that the diff is quite large due to the switch in markdown processor (see #3859).

As the move from Travis to

[2021-03-25 14:15] monperrus commented on #3759
Thanks for the progress.

Done

[2021-03-26 07:18] slarse commented on #3759
FYI the new automation is ready for merge over at SpoonLabs/SpoonLabs.github.io#2

[2021-03-26 07:41] slarse commented on #3216
So, I think the best idea here is to just put the repository in a profile, and then build with breakage in the CI pipeline as it becomes apparent. I don't think I can reasonably preempt it, as I can't activate a profile that doesn't exist.

[2021-03-26 08:11] monperrus commented on #3653
The official Java 16 spec: https://docs.oracle.com/javase/specs/jls/se16/jls16.pdf

[2021-03-26 08:36] slarse commented on #3216
Now that I'm looking closer at this, I'm very uncertain why the snapshot repository is even declared in the parent pom. We pull nothing from it. To deploy to it, the entry in `<distributionManagement>` should be sufficient. It may be that a few of the Jenkins builds rely on it being declared in the parent pom, but I actually don't think so. Really, I think we can remove the snapshot repository ent

[2021-03-26 08:47] slarse commented on #3216
I figured it out, the extra checks for e.g. spoon-decompiler and the like, depend on the snapshot repository: https://github.com/INRIA/spoon/blob/master/chore/travis/ci-extra.sh

A profile works for handling that, I'll get on it.

[2021-03-26 23:50] nashid commented on #1303
Static slicing is a common use case, any plan to add this out of the box?

[2021-03-27 16:06] Rohitesh-Kumar-Jain commented on #3118
Hi @monperrus,

I am confused, is one supposed to rewrite an existing method as an inline method using lambda/anonymous classes inside another method??

[2021-03-29 10:59] slarse commented on #3794
Looking a little bit more at IntelliJ's PSI, [here's one very important reason why we can't adopt their precise methodology](https://plugins.jetbrains.com/docs/intellij/modifying-psi.html#maintaining-tree-structure-consistency)

[2021-03-29 12:23] jrfaller commented on #3794
It does not look useful in our use-case, indeed.

[2021-03-29 12:59] monperrus commented on #3118
No, the goal is to support writing templates with inline classes (which is not possible today), see #3516.

[2021-03-30 09:39] #3858 closed

[2021-03-30 10:21] monperrus commented on #3759
Closing then!

[2021-03-30 10:21] #3759 closed

[2021-03-30 10:22] monperrus commented on #3845
https://repo1.maven.org/maven2/fr/inria/gforge/spoon/spoon-core/9.0.0/

[2021-03-30 10:22] #3845 closed

[2021-03-30 10:28] monperrus opened #3867 "thesis: buildability of Spoon using Guix"
Guix is a distribution for reproducible builds:

* https://reproducible-builds.org/
* https://guix.gnu.org/

While there is some support for Java in Guix, it is an open question whether we can build Spoon in a bootstrappable way in Guix.

You would work on the buildability of Spoon using Guix. This could be a bachelor thesis / master thesis.

[2021-03-30 15:42] Rohitesh-Kumar-Jain commented on #3653
Going through the Java 16 specs, one of the possible changes, I identified is [JEP 392: Packaging Tool](https://openjdk.java.net/jeps/392).

jpackage tool is moved from jdk.incubator.jpackage to jdk.jpackage

[2021-03-30 16:51] Rohitesh-Kumar-Jain commented on #3828
Hi @nharrand, @orestisfl & @monperrus,

I would be glad if you may allow me to know what are your expectations from this project and what ideas will you be preferring for the project?

What I believe is, issues labelled with the roadmap are the primary issues for the Spoon, and proposals proposing to work on those ideas will get preference over other issues?

Also in the [roadmap](https://github.c

[2021-03-31 06:47] #3216 closed

[2021-04-02 10:05] cesarsotovalero opened #3870 "thesis: Leveraging HDD for debloating Java source code using Spoon"
**Description:** The problem of removing unnecessary code (aka software debloat)  is relevant and challenging [1].  Hierarchical Delta Debugging (HDD) is a useful technique for minimizing all failure-inducing inputs for more effective debugging [2].  HDD can be used to improve the debloating process [3]. It allows determining the set of instructions in a program that, after execution, satisfies a

[2021-04-04 08:58] Rohitesh-Kumar-Jain commented on #3828
Hello team!

I have submitted a draft proposal on the Castor GSoC portal, I would be glad if you may go through it :P

[2021-04-05 13:48] KishkinJ10 commented on #3870
hello sir , i am a beginner and i am participating in the GSoC 2021 , i have selected my project "Project Spoon", sir can you please provide me some references for the content to make a good proposal ??

[2021-04-05 15:01] KishkinJ10 commented on #3836
hello sir , i am a beginner and i am participating in the GSoC 2021 with Project Spoon , sir can you please brief me what are we going to do in this project ?? and how can i write timeline section in my proposal?

[2021-04-05 21:39] cesarsotovalero commented on #3870
Hi @KishkinJ10, for questions regarding GSoC, ask here https://github.com/INRIA/spoon/issues/3828

[2021-04-06 07:40] #3733 closed

[2021-04-06 12:27] KishkinJ10 commented on #3828
sir i am a beginner and i want to take part in the GSoC 2021 with Project Spoon and i am stuck in the proposal sir can you help me like what all i have to do in the projects as a beginner?

[2021-04-06 13:03] KishkinJ10 commented on #1268
i am a beginner can i work on this can i write this issue for my coding period in GSoC spoon project proposal?

[2021-04-06 13:05] KishkinJ10 commented on #2926
can i do this is my GSoC coding period ?? i am a beginner . sir can i fix these issues in my GSoC coding period??

[2021-04-06 13:08] KishkinJ10 commented on #1818
can i do this in my GSoC coding period please??

[2021-04-06 13:12] KishkinJ10 commented on #3118
Sir in GSoC coding period students have to fix issues and add some features ??

[2021-04-06 13:40] LakshyAAAgrawal commented on #3118
Hi Everyone,

This is a really interesting issue and I have tried to understand how to solve this. Kindly correct me if I am wrong in any of the following observations:
1. The spoon template support needs access to the source code of the template class to generate the templates.
2. Spoon can be informed about the location of the template source file using ```Launcher.addTemplateResource(..)```
3.

[2021-04-07 07:00] slarse opened #3872 "Update setup-java in GitHub Actions workflow to v2.0.0"
New release: https://github.com/actions/setup-java/releases/tag/v2.0.0

There's a breaking change in that we must now also specify the distribution to use (Zulu or Adopt).

[2021-04-07 08:15] monperrus commented on #3828
Dear all,

Thanks a lot your strong interest in Spoon!

**About the selection process**
We will nominate you based on the quality of your PRs merged to master.

**About the proposal**
Select one [feature request](https://github.com/INRIA/spoon/issues?q=is%3Aissue+is%3Aopen+label%3Afeature+sort%3Aupdated-desc) or [roadmap idea](https://github.com/INRIA/spoon/issues?q=is%3Aissue+is%3Aopen+label%3Aro

[2021-04-07 09:08] monperrus commented on #3870
added label mastersthesis

[2021-04-08 08:43] santos-samuel commented on #3821
This is actually something that troubled me in the past and i kinda followed @andrewbwogi suggestion by generating the project packages and then decompiling them with `spoon-decompiler`.
If it helps, i'll post the code i did to overcome this below:

`
launcher = new Launcher();
File projectDir = new File(projectPath);

// search for .jar files
String[] extensions = new String[]{"jar"};
Collection<

[2021-04-08 12:20] Rohitesh-Kumar-Jain commented on #1819
Hi @surli,

This link isn't working (404).

Is there any Jenkins job/or any other method that automatically generates badly tested methods?

[2021-04-08 12:31] monperrus commented on #1819
Running https://github.com/STAMP-project/pitest-descartes directly in command line.

[2021-04-08 14:58] Rohitesh-Kumar-Jain commented on #1819
@monperrus thanks, should I also update [this list](https://github.com/STAMP-project/descartes-experiments/blob/master/actionable-hints/spoon/index.md) after generating badly tested methods?

I tried running https://github.com/STAMP-project/pitest-descartes by first adding plugin in the pom.xml file and running the command `mvn clean package org.pitest:pitest-maven:mutationCoverage`, but it is gen

[2021-04-09 07:15] monperrus commented on #1819
This may be a bug in Descartes, to be fixed, see https://github.com/STAMP-project/pitest-descartes/issues/117

yes, feel free to PR on it regularly to keep track of your test improvements.

[2021-04-12 12:05] slarse commented on #3794
I've dug a bit deeper into the internals of the IntelliJ platform. As far as I understand, a refactoring works something like this:

1. Mutate the PSI. There are various ways to do this, one common way being to generate a PSI from a (text) code snippet and then inserting it somewhere.
2. For each modification, a change listener converts the updated PSI element to text and makes note of where the c

[2021-04-12 18:55] #3872 closed

[2021-04-13 06:59] slarse opened #3879 "Jenkins continuous integration (CI) jobs and configuration"
The Jenkins jobs running [over here](https://ci.inria.fr/sos/) test the latest snapshot of Spoon on a variety of projects, in a variety of ways. There are two general kinds of jobs:

* For projects that use Spoon
    - Inject the latest Spoon snapshot and run project's test suite
    - Uses the new [inject_spoon_snapshot.py script](https://spoon.gforge.inria.fr/jenkins/inject_spoon_snapshot.py)
*

[2021-04-13 09:09] slarse commented on #3794
The PSI (both the API and implementations of it) is part of the IntelliJ platform, and I don't know of any way to get only that part. I think we would need to vendor (include in Spoon) large parts of the IntelliJ platform. It should be possible to get only the Java-specific parts, as those are implemented [as a plugin](https://youtrack.jetbrains.com/issue/IDEA-195719), but I really think it would

[2021-04-13 09:12] slarse commented on #3794
To add to what I wrote above, all tools that I've seen that use the PSI have been created as plugins for IntelliJ, rather than standalone applications.

[2021-04-14 14:03] shuchi03 opened #3880 "NullPointerException when calling getParent().getParent() on CtInvocation"
I am calling getParent().getParent() on CtInvocation since I want to narrow down my searches and even though I am checking if getParent().getParent() is not null, I am still getting a nullpointerexception -

[code]

Can someone please help me to resolve this issue?

[2021-04-14 14:09] slarse commented on #3880
Looks like the crash occurs during pretty-printing. Could you provide a test case that reproduces this issue?

[2021-04-14 16:46] shuchi03 commented on #3880
I tried a lot to reproduce the issue, but I am not able to do that. I am working in a project, so when I produce the same code separately, it works fine. I found out that the issue is due to the following lines of the class in that project -

[code]

I am applying getParent().getParent() on enum1.toString(). The first getParent() returns collect.contains(enum1.toString()), but the second one retur

[2021-04-16 06:49] slarse commented on #3880
I don't think that error is related. It's caused by Spoon being unable to build a shadow class through runtime reflection, and so instead it just creates a placeholder class (essentially an empty class with the correct name) instead. That crash may or may not be a bug, I'd like to look at that as well. But as the fatal crash seems to be cause by a unary operator not having its kind set, I can't se

[2021-04-16 08:55] shuchi03 commented on #3880
I am sorry to say that I will not be able to send the whole source code because of company policy. But I can send the snippet of codes which I am analyzing.

The spoon code which I have written is as follows -

[code]

I have written this to find lines which uses setString and Enum.toString while creating a query using a hibernate session. I wanted to modify this to use setParameter and without En

[2021-04-16 08:59] slarse commented on #3880
I figured it was something like that, and I understand. I'll do my best to help based on the snippets and information you provided here, hopefully I can reproduce the problem! I'll get back to you once I've had a chance to look this over.

[2021-04-16 13:29] slarse commented on #3880
So, I've had some time to look this over now. The bad news is that I can't reproduce the crash. The good news is that I've an inkling as to what the problem might be. I think that it's here: https://github.com/INRIA/spoon/blob/e8a1596aa29d8d34f84087fb0dbce1d032b2259f/src/main/java/spoon/support/compiler/jdt/JDTTreeBuilderQuery.java#L244-L256

For some reason, this method is allowed to return null.

[2021-04-16 13:38] slarse commented on #3880
Follow-up to the previous comment: Most likely, the call to `getUnaryOperator` is from here: https://github.com/INRIA/spoon/blob/e8a1596aa29d8d34f84087fb0dbce1d032b2259f/src/main/java/spoon/support/compiler/jdt/JDTTreeBuilder.java#L1759

If you're able to determine that `getUnaryOperator()` does indeed return `null`, it'd be great if you could check the values of `unaryExpression.bits`, `ASTNode.O

[2021-04-16 14:01] slarse commented on #3880
Looks like the shiftwidth and mask changed recently. https://github.com/eclipse/eclipse.jdt.core/commit/9295bf84c9d#diff-ef63a9e47d7749fd5654358b0f66887df86d8ed7821efed9a8d87981017d3188R167-R168

It might be related.

[2021-04-16 14:27] shuchi03 commented on #3880
Thank you for looking into it. The answers to your questions -

- What version of spoon-core are you using? -> ** latest one (9.0.0)**

- What version of org.eclipse.jdt.core are you using? -> **3.25.0.v20210223-0522**

- What JDK (distribution and version) are you using? **OpenJDK15U-jdk_x64_windows_hotspot_15.0.1_9**

I added break points in the lines that you mentioned. But while debugging, it

[2021-04-18 06:33] sourabhbawage opened #3882 "Exception during the spoonify of the target project."
I have been trying to use a very simple Processor that would create an instance field, if a custom annotation is found.
Reference: https://github.com/SpoonLabs/spoon-maven-plugin

[code]
`@MyStr` is a custom annotation that can be used at the class level and spoon would generate the same class with new field.

[code]

Packaged this processor in a jar and added as a dependency.

[code]
`Failed to e

[2021-04-18 15:01] sourabhbawage commented on #3882
I was able to fix this by adding `<noClasspath>true</noClasspath>` in `<configuration>` hoping it helps someone.

[2021-04-18 15:01] #3882 closed

[2021-04-19 12:09] slarse commented on #3880
Bummer, I thought I was onto something.

Well, `null` is _passed_ to that method (i.e. `o == null`). We can see that from the original stack trace you supplied, here:

[code]

I'm trying to figure out how it can be that `o` is `null`, and the only thing I could think of was the part I outlined before. But if that's not the source of this error, then I'll have to dive back in and see if I can find

[2021-04-19 12:25] slarse commented on #3788
We're making progress on this! There's a new GitHub Action (https://github.com/SpoonLabs/sorald-buildbreaker) that simply runs Sorald on a project and breaks the build if it finds a repairable violation.

Before we can adopt this in Spoon, we need ratcheting (see SpoonLabs/sorald-buildbreaker#8)

[2021-04-19 13:35] monperrus commented on #3574
Olmar: manipulating C and C++ abstract syntax trees in Ocaml
* paper: http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=0E8120A68C2220B62D3A12A666172F72?doi=10.1.1.141.530&rep=rep1&type=pdf
* code: https://github.com/angavrilov/olmar
* based on [elkhound](https://people.eecs.berkeley.edu/~necula/Papers/elkhound_cc04.pdf)

[2021-04-19 13:39] shuchi03 commented on #3880
yes Sure. Let me know if you need any more information. Thank you very much.

[2021-04-20 07:09] slarse opened #3884 "Add missing addXAt(int, CtElement<?>)-like methods for ordered collections to public API"
In the diff minimization project currently headed by @algomaster99, we have a need to make insertions at specific indices in list-like collections. Many Spoon metamodel elements support this through the `addX(int, CtELement)` methods (such as `CtStatementList.addStatement(int, CtStatement)`), but `CtInvocation` curiously only has a `addArgument(CtExpression<?>)`.

I propose adding `CtAbstractInvoc

[2021-04-20 08:22] monperrus commented on #3884
Great idea.

[2021-04-20 08:35] slarse commented on #3884
Actually, by extension, this should apply to _all_ ordered collections in the Spoon metamodel, for which it makes sense to expose an `addX(int, CtElement)` without needlessly exposing internals. This should at the very least apply to all collections that are ordered by design in the Java Language Specification, and it would make sense to apply this treatment everywhere there is a `setXs(List)` met

[2021-04-20 08:58] monperrus commented on #3884
Yes, very much!

[2021-04-20 08:59] monperrus commented on #3884
Also we can write an architectural contract to verify we have strict consistency in the API, see one of the coolest test class https://github.com/INRIA/spoon/blob/master/src/test/java/spoon/test/architecture/SpoonArchitectureEnforcerTest.java

[2021-04-20 10:19] slarse commented on #3884
I will get to work, then! I'll update the opening post with the progress, we'll use this issue to keep track of this whole endeavor.

Right, that's nice. We do already have an inconsistency in the naming scheme though, e.g. `CtType.addTypeMemberAt` (`addX`) vs `CtStatementList.addStatement` (`addXAt`). Any thoughts on which to adopt? They both have pros and cons. I prefer the first one as its more

[2021-04-20 15:57] algomaster99 commented on #3884
I prefer this one as well. But renaming the function from `addStatement` to `atStatementAt` might break the projects who are using this API. So maybe this change should be included in a new release of Spoon.

[2021-04-21 06:06] slarse commented on #3884
We don't want to break backwards compatibility, so we won't rename any existing methods. At most, we'll duplicate a method (e.g. add `addStatementAt`, while still keeping `addStatement`). I'm only thinking about how to move forward.

[2021-04-22 07:10] monperrus commented on #3857
progress made with https://github.com/INRIA/spoon/pull/3881

[2021-04-22 07:16] slarse commented on #3857
Oh, not only progress, this is entirely fixed. Completely forgot that this issue existed.

For future reference, the problem was that on checkout, Git converted LF line endings to CRLF line endings (`core.autocrlf` feature). As the sniper printer is expected to honor the _actual_ line endings (which in the eyes of the tests are LF), and not the system default, this caused the tests to fail as the

[2021-04-22 07:16] #3857 closed

[2021-04-22 10:27] Rohitesh-Kumar-Jain commented on #1818
Hi @oscarlvp, @surli & @monperrus

I feel analysis of methods present in spoon.compiler, spoon.experimental, spoon.javadoc.internal, spoon.legacy, spoon.metamodel and spoon.pattern directories are missing from this list.

As this list is outdated, I have tried to run Descartes on few subsets of tests, [here's the pit report](https://github.com/Rohitesh-Kumar-Jain/Descartes_Pit_Reports) generated a

[2021-04-22 22:59] FloweyTheFlower420 opened #3886 "Rename imported class name (refactoring)"
For example you can rename:
[code]
Becomes:
[code]

Does this exist?

[2021-04-24 14:06] andrewbwogi commented on #3886
Hi @FloweyTheFlower420, you can do it this way:

[code]

[2021-04-24 21:58] FloweyTheFlower420 commented on #3886
Could method calls and fields be remapped in the same/similar way?
for example
[code]

[2021-04-26 10:45] #3687 closed

[2021-04-26 10:45] monperrus commented on #3688
Closed per https://github.com/INRIA/spoon/pull/3888

[2021-04-26 10:45] #3688 closed

[2021-04-26 11:45] monperrus opened #3890 "continuous delivery CD pipeline for releases"
Requirements
  * [x] a new script for normal releases (shell or python) (spec below)
  * [x] add CI job to handle changes in the release spec https://github.com/SpoonLabs/spoon-deploy/pull/6

Normal release is everything which is not a beta

[2021-04-26 16:05] andrewbwogi commented on #3886
Sure, it follows the same pattern of gathering elements and modifying those of interest:

[code]

[2021-04-26 16:28] jakobbraun opened #3891 "License link is broken"
The projects pom specifies as a license link: http://www.cecill.info/licences/Licence_CeCILL-C_V1-en.txt
This page is, however not reachable. (timeout)
The correct value seems to be http://cecill.info/licences/Licence_CeCILL-C_V1-en.txt (without `www`).

[2021-04-27 02:58] FloweyTheFlower420 commented on #3886
Ah great, now I can finish my remapping tool, ty!

[2021-04-27 02:58] #3886 closed

[2021-04-28 21:40] algomaster99 opened #3894 "Add method to insert type parameters at particular indices"
As addressed in the issue [here](https://github.com/INRIA/spoon/issues/3884#issuecomment-823092037), `diffmin` requires methods for inserting `CtElement`s at particular indices in collections. One such collection, of type parameters, is derived using `CtClass.getFormalCtTypeParameters()`. This issue is a request for a method that would allow us to insert a type parameter at a particular index.

Li

[2021-04-28 21:55] algomaster99 opened #3895 "Add method to insert parameters at particular indices"
As addressed in the issue [here](https://github.com/INRIA/spoon/issues/3884#issuecomment-823092037), `diffmin` requires methods for inserting `CtElement`s at particular indices in collections. One such collection is of parameters. This issue is a request for a method that would allow us to insert a parameter at a particular index.

Like https://github.com/INRIA/spoon/pull/3885, the method can be c

[2021-04-29 06:18] slarse commented on #3894
Thanks for the feature request. I'm just going to incorporate this into #3884 so we keep track of all of these related features.

[2021-04-29 06:18] #3894 closed

[2021-04-29 06:20] slarse commented on #3895
Again, thanks for the feature request, to keep better track of it all I'll incorporate it into #3884 :)

[2021-04-29 06:20] #3895 closed

[2021-04-29 10:52] #3891 closed

[2021-04-30 07:07] andrewbwogi opened #3898 "Problems with compiling code snippets"
There are two problems.

1. It is not possible to compile snippets added to a class in an unnamed package.

2. If a snippet only contains a comment it can produce the wrong code when it is compiled.

There is a failing test case for each problem in #3897. I'll try to fix this.

[2021-04-30 07:30] Rohitesh-Kumar-Jain commented on #1818
Hi @monperrus,

I have run Descartes on Spoon. Here's my [report generated](https://github.com/Rohitesh-Kumar-Jain/Descartes_on_Spoon) after running.

I have reached the first milestone, I would be glad if someone lets me know what I am supposed to do after this?

[2021-04-30 08:35] imjhonny opened #3899 "Feedback about Spoon's dependency management"
Hello, we built a [tool to identify bloated dependencies](https://github.com/castor-software/depclean) on Java dev trees.

DepClean was used on Spoon's codebase and built a visual rendering of all the project's dependencies.

We would love it if you could take 7min of your time to look at this rendering and provide feedback.

If you are interested you can go to [this link](https://haqc929te3d.type

[2021-04-30 08:37] monperrus commented on #1818
Great milestone, congrats!

The next step is to pick one pseudo-tested method and to write a test to better specify it (or to
add an assertion in an existing test).

Once the test is written, you run descartes again and the method should not be pseudo-tested anymore.

[2021-05-02 00:07] gchaperon opened #3901 "Prevent logging?"
Is it currently possible to prevent logging completely?

I am looking at the source and it seems to me that it is not possible, since only valid names defined in [`spoon.support.Level`](https://github.com/INRIA/spoon/blob/fecec810886819c09ffc4955faeb4f50f64e07a3/src/main/java/spoon/support/Level.java#L14) are allowd here
https://github.com/INRIA/spoon/blob/fecec810886819c09ffc4955faeb4f50f64e07a3/

[2021-05-02 08:40] slarse commented on #3901
Hi @gchaperon,

I see no reason not to offer that. I'd say it's rather unexpected to find that you can set logging levels, but none of them allow you to disable logging entirely.

Care to do a PR? :)

[2021-05-03 04:25] gchaperon opened #3903 "Infinite loop in buildModel"
Hi!
I am trying to process a file but the library gets stuck when trying to build the model.
The file that I am trying to process is [this one](https://pastebin.com/dmkqHTbN)

The code I am using is below:
[code]

Using the debugger I managed to see that buildModel is stuck in an infinite loop here:
https://github.com/INRIA/spoon/blob/fecec810886819c09ffc4955faeb4f50f64e07a3/src/main/java/spoon/su

[2021-05-03 07:23] slarse commented on #3903
Hi @gchaperon,

That's perfectly valid Java. I haven't seen it written like that before, but `T.Entry<K, V>` erases just fine to `Map.Entry`, so there's no type problem.

I can also reproduce the bug. The problem is that JDT resolves `T` as a qualified type reference, but Spoon does not appear to handle the case where that's a type parameter reference. In other words, this is a bug!

[2021-05-03 10:09] monperrus commented on #3901
In theory, the logging can be entirely disabled via slf4j (by configuring logback in logback.xml)

[2021-05-03 11:09] slarse commented on #3901
Ah, yes, that is true. But as we have an API for setting the logging level, wouldn't it also make sense to add an `OFF` level? It wouldn't be much effort at all, just adding the level to `Level` and then patching up the switch statement that deals with logging in `StandardEnvironment`.

[2021-05-03 11:37] monperrus commented on #3901
yes it would!

[2021-05-03 11:50] slarse commented on #3901
Let's put it on the TODO list then :)

@gchaperon Would you like to try your hand at a PR for this feature?

[2021-05-03 11:56] slarse commented on #3903
Here's a minimal piece of code that reproduces the bug:

[code]

[2021-05-03 16:08] gchaperon commented on #3901
hi, ya sure, i can try
looking more in detail I have a question.
i see that [this](https://github.com/INRIA/spoon/blob/fecec810886819c09ffc4955faeb4f50f64e07a3/src/main/java/spoon/support/StandardEnvironment.java#L276) method is only used internally, so the `setLevel` config on `StandardEnvironment` only applies to the logging produced by that class. I think this is somewhat confusing for the user

[2021-05-04 08:40] slarse opened #3906 "Enforce Javadoc comment quality"
Poking around in the metamodel interfaces, I've noticed that many of them lack proper documentation of parameters and return types.

I think we should enforce that public methods and constructors are properly documented. Checkstyle can do this with the `JavadocMethod` module. The problem is that it raises ~2600 errors when activated on the public scope alone, so obviously this needs to be introduc

[2021-05-04 14:55] monperrus commented on #3906
:+1: In Spoon, we love high-quality documentation, esp. in the API.

[2021-05-05 09:25] #3903 closed

[2021-05-05 13:05] slarse opened #3909 "Automate updating generated content in README"
Such as the list of contributors.

[2021-05-05 14:28] slarse opened #3911 "bug(sniper): Round parenthesis of type cast aren't matched to corresponding token"
When sinper printing an expression that contains a type cast inside of round brackets (i.e. round brackets enclosing the type cast's own round brackets), the sniper printer can insert weird spacing. So, for example, something that should be printed like so:

[code]

Instead gets printed like so:

[code]

The reason for this is that the token corresponding to the type cast's opening parenthesis isn

[2021-05-06 16:03] tiwatsuka opened #3913 "getTypeReference(TypeReference) returns unexpected result when a type has multiple parameters"
# Abstract
`getTypeReference(TypeReference)` in `spoon.support.compiler.jdt.ReferenceBuilder` returns unexpected result when a type has multiple parameters. It can cause exception when building a model.

# Cause of the problem and mitigation

https://github.com/INRIA/spoon/blob/c3ed4be2a825588c8253418caa4905336c4e985f/src/main/java/spoon/support/compiler/jdt/ReferenceBuilder.java#L660

When a type

[2021-05-07 10:42] shuchi03 commented on #3880
Hi,
I wanted to know if you had any luck recreating the issue and finding a bug. If you need any more information, kindly let me know.
Thank you.

[2021-05-07 13:02] slarse commented on #3880
Hi @shuchi03,

Unfortunately, I've not been able to reproduce the problem, it just doesn't appear for me. While it would be easy to avoid the NPE, that doesn't solve the problem that the operator kind is missing for some reason.

There are some more things I can investigate, I've just been very busy with other responsibilities lately and haven't had the time to. It's unfortunately very time consum

[2021-05-07 15:07] shuchi03 commented on #3880
Okay. No worries. You can investigate whenever you have less responsibilities. Meanwhile, I will check if some other way can be applied to check such statements. Thank you.

[2021-05-07 16:40] slarse commented on #3880
I've put this on my Monday TODO list. An unsolved mystery does not jive well with me, so I want to dive back in :)

I'll try to figure out what additional information you can provide me with to fix it. In the meantime, have a nice weekend!

[2021-05-08 18:06] algomaster99 commented on #3911
Why is `(` (just before the `d` in `double`) getting matched with another opening parenthesis (just before the `3`)? It should anyway be programmed to match with a closing parenthesis, right?

Also, does this issue affect the behaviour [here](https://github.com/SpoonLabs/diffmin/pull/51#discussion_r627698088) as well?

[2021-05-10 06:22] slarse commented on #3911
Because the cast isn't correctly split into source fragments.

Not sure what you mean by that, the opening parenthesis should match an opening parenthesis.

That's very much possible!

[2021-05-10 06:39] algomaster99 commented on #3911
My intuition of parsing such things is that the program would try to find pairs of `(` and `)`. This will help in checking if the brackets are in order and there aren't any extra or missing tokens. So I expected that opening parenthesis would match with a closing one just to create that pair as defined above.

[2021-05-10 06:52] slarse commented on #3911
Oh, this is not a parsing problem, we already know that the parentheses are balanced. Rather, it's a failure in the sniper printer to match a token to be printed to a token from the original source code, as the latter is part of a composite source fragment (the entire `(double)` symbol) rather than being split into `(`, `double` and `)`.

[2021-05-10 13:02] slarse opened #3917 "Simply qualified type reference in catcher get marked as fully qualified when multiple types are specified"
When a try-catch has a catcher with a single type, it properly gets marked as simply qualified (i.e. package is implicit):

[code]

However, when specifying multiple types in the  catcher, like so:

[code]

then the types become fully qualified on parsing, i.e. the packages are not marked implicit. This is a big problem for sniper printing, as the sniper ends up printing e.g. `java.lang.Exception`

[2021-05-10 15:43] andrewbwogi commented on #3913
Hi @tiwatsuka, can you give an example of how you are using `ReferenceBuilder` and what the unexpected result is? Perhaps the code that is causing an exception when you build the model?

[2021-05-10 16:29] slarse commented on #3880
You mean that they were executed? If that's the case, could you debug to line 1759 of `JDTTreeBuilder` and evaluate the expression `getUnaryOperator((unaryExpression.bits & ASTNode.OperatorMASK) >> ASTNode.OperatorSHIFT)`?

Also, what are the values of:

* `unaryExpression.bits`
* `ASTNode.OperatorMASK`
* `ASTNode.OperatorSHIFT`

[2021-05-10 16:47] shuchi03 commented on #3880
Yes, Those lines are being implemented. I am very sorry I missed them in the previous posts. The values are -

- `getUnaryOperator((unaryExpression.bits & ASTNode.OperatorMASK) >> ASTNode.OperatorSHIFT)` : **NOT**
- `unaryExpression.bits` : **-2147482939**
- `ASTNode.OperatorMASK` : **4032**
- `ASTNode.OperatorSHIFT` : **6**

[2021-05-11 06:45] slarse commented on #3880
All of those values check out. Unless that's some other operator being created (i.e. not the one causing the crash), I don't see any problem.

I'm sorry to say that debugging this without having a reproducible scenario is proving beyond my skills. If you can figure out when and how the operator's operator kind becomes `null` (i.e. where does the , then maybe I can do something.

[2021-05-11 10:19] shuchi03 commented on #3880
Thank you for the reply. I will try to figure it out and will let you know if I find something.

[2021-05-11 12:52] #3788 closed

[2021-05-11 13:02] #3917 closed, assigned to nobody

[2021-05-11 13:51] slarse opened #3919 "Migrate test suite to JUnit5"
We currently have a little bit of JUnit5 (such as [VariableTest](https://github.com/INRIA/spoon/blob/639dccff96b2818b64f2d9af61339445aab77d18/src/test/java/spoon/test/variable/VariableTest.java)), but mostly JUnit4 in the test suite. I think it's worth our while to start migrating entirely to JUnit5. Off the top of my head, here are some benefits that come with JUnit5:

* Much better support for [

[2021-05-11 21:29] ningvin opened #3920 "Question regarding use of type variable in class CtType"
I recently started playing around with Spoon and stumbled over the fact that class `CtType` is generic over the type variable `T`:
[code]

The type variable seems to propagate to a lot of classes in the hierarchy, e.g. all classes extending `CtTypedElement`.

However I am not seeing any obvious uses of the type variable, apart from the methods `CtType.getActualClass()` (which is deprecated) and `C

[2021-05-12 08:32] #3906 closed

[2021-05-12 09:10] monperrus commented on #3890
FYI, CD of gumtree-spoon is also still Travis-based;

[2021-05-12 09:18] slarse commented on #3890
I've got this on next week's TODO list.

[2021-05-12 13:44] slarse opened #3922 "Improve usability of the ci-checkstyle-javadoc.sh script for local use"
The script currently just runs in CI mode, and reports the number of errors. We need to make it possible to also show errors, and to run it locally on the current working tree. In its current state, it's very difficult to a) figure out _what_ to fix when it fails a build, and b) using it locally to actually improve the docs rather than just not make them worse!

I'll fix this ASAP.

[2021-05-12 14:52] slarse opened #3923 "Improve quality of Spoon's API documentation"
A lot of the documentation of the public API is missing documentation for things like parameters and return types (think `@param` and `@return` tags). In my opinion, the most glaring omissions of these details are in the metamodel docs, found in the subpackages of [`spoon.reflect`](https://github.com/INRIA/spoon/tree/master/src/main/java/spoon/reflect).

For example, at the time of writing this, [

[2021-05-12 14:52] slarse commented on #1876
Also see #3923

[2021-05-14 01:01] FloweyTheFlower420 opened #3925 "Set qualified name of CtTypeReference to a string"
How would I do that?

[2021-05-14 09:41] andrewbwogi commented on #3920
Hello @ningvin, you can also use generic typing to restrict how `CtType` objects are used. You could for instance statically verify that a method is invoked with a particular parameterized `CtType` object as an argument:

[code]

[2021-05-14 12:57] sok82 opened #3926 "Bug?? Not resolving CtExecutableReference type and declared type depending on environment (Docker and local Spring Boot)"
Good day.

I encountered very strange issue using Spoon analysis library in my Java project.
I get different parsing results when running same code, that uses Spoon Launcher in different environments

- 1 Environment - Spring Boot Project that is run locally from Intellij IDEA
- 2 Environment - Same Spring Boot project that is run in a Docker Container

In locally run Spring Boot project - it's al

[2021-05-14 19:50] sok82 commented on #3926
I enabled Spoon Launcher logging by setting it to 'ALL' and here what I got in Docker environment
[code]
Yes, it cannot be found in that type(cause it is defined in parent spring CRUDRepository type), but i see no reason to set type to null

And again I cannot understand why in local environment type is resolved correctly

[2021-05-15 08:03] sok82 commented on #3926
Next try.
I added directory containing all necessary jars into classpath but in logs I got

[code]

[2021-05-15 17:21] sok82 commented on #3926
Made another try with setting InputClassloader like this
[code]
where `existingDirs` contains path to directory with all necessary libs in a form of *.jars.

In logs I see that input classloader was set (classpath is initialized which is done by StandardEnvironment when I set InputClassloader)

spoon.support.StandardEnvironment@400e5d30[errorCount=0,processingStopped=false,prettyPrintingMode=FULLY

[2021-05-15 18:07] sok82 commented on #3926
At last I found a solution
1. Create classloader with a parent classloader from Spoon Launcher
2. Directly include each *.jar file into classloader URL classpath
3. Set this classloader as an InputClassLoader

[code]

I strongly advice you to put this in docs for those like me are struggling with using spoon packaged in a jar application (for example Spring Boot)

[2021-05-15 18:07] #3926 closed

[2021-05-16 09:17] andrewbwogi commented on #3925
To change the qualified name of a `CtTypeReference`, you set its package:
[code]
If the simple name of `ctTypeReference` is `"MyType"`, then it will now print `"my.pkg.MyType"`. Is this what you mean?

[2021-05-17 08:17] slarse opened #3929 "Flaky test failure on MavenLauncher MavenLauncherTest.multiModulesProjectTest"
Had a flaky failure on this test (failed, but restarting the workflow caused it to pass): https://github.com/INRIA/spoon/pull/3924/checks?check_run_id=2598716911#step:10:480

Error:

[code]

[2021-05-17 09:12] ningvin commented on #3920
Thanks for your answer @andrewbwogi :)

Yes, you are absolutely right: if I know the exact type at compile-time this can be very useful.

I am still a bit confused however when it comes to handling potentially unknown types at runtime, where I have to use type wildcards:

[code]

The above works fine and for a lot of things the type wildcards are not relevant.

But let's assume I want to change th

[2021-05-17 09:38] slarse commented on #3920
I think this is something of a sore spot in Spoon, but it's really hard or perhaps impossible to "fix"

First off, the type variable in `CtType` represents the concrete type being modeled. So, for example, `CtType<String>` says that you've got a model of the `String` type. This is evident for example when looking at the (though deprecated) `CtType.getActualClass()`, which returns `Class<T>`.

Ther

[2021-05-17 13:37] monperrus commented on #3118
Thanks for the analysis.

For in-line templates, the whole source code of the transformations containing the inline templates has to be passed to `addTemplateResource` (as opposed to only the template classes).

[2021-05-17 13:41] ningvin commented on #3920
Thanks a lot @slarse , this makes things a lot more clear for me.

I did not really pay attention to the fact that the return type of `Factory.createTypeReference()` is actually generic and I haven't really worked with wildcard captures before. Seems like I need to brush up on my Java Generics knowledge :)

[2021-05-17 13:41] #3920 closed

[2021-05-17 14:31] slarse commented on #3920
You're welcome! Feel free to open a new issue, or re-open this one, if you have further questions on this.

This probably applies to a lot of Java devs. Spoon is a somewhat rough introduction to wildcards as they're used so heavily, and they are complex to be sure. There's even a [SonarSource rule discouraging their use in return types](https://rules.sonarsource.com/java/type/Code%20Smell/RSPEC-14

[2021-05-17 15:16] monperrus commented on #3759
@slarse what about deleting the Jenkins job https://ci.inria.fr/sos/job/Website%20Deployer/?

[2021-05-17 16:25] shuchi03 commented on #3880
So I was debugging and I found out that in the below code -
[code]
Its getting operator as 2 which is not in the switch cases. Thus, it is getting an null from this code -

![image](https://user-images.githubusercontent.com/10210774/118507454-273ecf00-b726-11eb-8a83-c5042eb8e93f.png)

and it is setting the kind as null. But the strangest thing is when I try to see this line -

`getUnaryOperator((u

[2021-05-17 17:13] slarse commented on #3759
@monperrus Yep, I think we're comfortable enough with the GHA one now that the old deployer is just baggage. Will delete tomorrow morning.

[2021-05-17 20:29] #3925 closed

[2021-05-18 00:54] FloweyTheFlower420 opened #3931 "Write CtModel to string buffer"
^

[2021-05-18 06:13] slarse commented on #3759
Job deleted.

[2021-05-18 08:02] slarse commented on #3880
@shuchi03 Nice detective work, now we have something to work with! Looks like my original suspicion in https://github.com/INRIA/spoon/issues/3880#issuecomment-821178859 was correct after all (I am redeemed!!).

First, of all, I don't think the `com.sun.jdi.InvocationException` is anything to worry about. It's most likely being thrown when the debugger is trying to evaluate the `toString()` method

[2021-05-18 09:10] monperrus commented on #3759
Thanks.

[2021-05-18 09:10] #3922 closed

[2021-05-18 09:13] monperrus commented on #3899
Gave feedback!

[2021-05-18 09:13] #3899 closed

[2021-05-18 09:24] monperrus commented on #3828
Big kudos to @Rohitesh-Kumar-Jain for being selected by GSOC to work on Spoon this summer :)

Welcome @Rohitesh-Kumar-Jain!

[2021-05-18 09:57] Rohitesh-Kumar-Jain commented on #3828
I am really excited to work on Spoon this summer, really glad that got a chance.

I will prioritize GSoC the most in the summertime.

[2021-05-19 02:58] Rohitesh-Kumar-Jain commented on #3828
Hello team,

I would be glad, if someone may suggest what should I be looking at, in this period so that I can contribute in full swing in the coming weeks.

Should I go through the whole [Spoon documentation](https://spoon.gforge.inria.fr/)?

I also want you to suggest to me what should I do, so that I am able to brush up on the skills required for the program in the best way : )

Feel free to su

[2021-05-19 11:18] slarse commented on #3836
@KishkinJ10 sorry, I missed this comment. Hope you found your way to the GSoC issue #3828.

Closing this as #3834 removed the final traces of Travis.

[2021-05-19 11:18] #3836 closed

[2021-05-19 12:27] algomaster99 commented on #3884
@slarse I think we can close this issue now. But before that, just check the sub-tasks define in issue description.

[2021-05-19 15:25] Rohitesh-Kumar-Jain commented on #3919
Hi @slarse,

Thanks for opening this issue, this seems a really good task that I can start in this community bonding phase.

[2021-05-19 15:37] slarse commented on #3919
Hi @Rohitesh-Kumar-Jain,

Absolutely! I hope the instructions should be sufficient, but let me know if you need any help.

Something that I think I forgot to write in the OP is that you should do one test class per PR, to keep the PRs focused and easy to review :)

[2021-05-20 07:02] slarse commented on #3926
Hi @sok82,

Thanks for the detailed summary of your findings, and sorry about the slowpoke response to your troubles.

You should _not_ have to set a custom classloader just to resolve types. General classpath resolution is [explained here under `Resolution of elements and classpath`](https://spoon.gforge.inria.fr/launcher.html). There are a few ways to get the correct classpath, I'll walk through

[2021-05-20 07:25] algomaster99 commented on #3884
I think I just found one. Insertion of `CtType` in compilation unit.

[2021-05-20 11:29] slarse opened #3933 "Setup GitHub-native Dependabot"
Since a while back, Dependabot has been integrated into GitHub and can be activated by adding a `dependabot.yml` file to the `.github` directory. As far as I can tell, Spoon still uses the Dependabot Preview GitHub App, which will be [removed as of August 23d 2021](https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/upgrading-from-dependab

[2021-05-20 12:09] andrewbwogi commented on #3931
To write the entire program to a `StringBuffer`, you can create a `CtCompilationUnit` for every `CtType` and print it:
[code]

[2021-05-20 16:46] #3898 closed

[2021-05-20 17:19] FloweyTheFlower420 commented on #3931
what is `set`?

[2021-05-20 19:30] #3933 closed

[2021-05-21 02:12] #3931 closed

[2021-05-21 02:17] FloweyTheFlower420 opened #3937 "Extra dot in type name"
So I wrote some code that basically remaps some files
`SourceAnalysis.java`
[code]
`Utils.java`
[code]
`MethodSignature.java`
[code]

So the internal string buffer is:
[code]

But the output is:
[code]
Why is there an extra dot??

[2021-05-21 06:19] slarse commented on #3937
I had a very quick browse through your code, so I may be wrong, but it looks like you're including a dot in the simple name of the type. Try changing `remapRef` like so:

[code]

[2021-05-21 13:50] FloweyTheFlower420 commented on #3937
could i also simplify the qualified names for the type names because they were imported?
[code]
I want the `com.floweytf.TestArg` to become just `TestArg` (because it already has been imported)

[2021-05-21 14:54] slarse opened #3940 "Sniper: Deletion in for-loop header is not detected by `ChangeCollector` (and thus not printed correctly)"
So, when deleting an element in a for-loop header, the deletion isn't registered in the `ChangeCollector` because no listener callback is called, and therefore the loop isn't printed correctly. For example, given this for loop:

[code]

deleting the update `i++` correctly removes it from the model, but the sniper still prints the exact same thing as the input.

[2021-05-21 14:57] slarse commented on #3940
I'm guessing this is caused by the `forInit` and `forUpdate` lists not being model lists.

[2021-05-21 15:09] slarse commented on #3940
Okay it's because the change listener isn't called in `setForUpdate` and `setForInit` when emptying the list.

[2021-05-21 15:40] algomaster99 opened #3942 "Add `CtElement.getCompilationUnit` method to the public API"
Currently, we have to retrieve the `CtCompilationUnit` of an element, `CtType` in my particular case, using the factory methods defined.
[code]

I propose we add a public API to directly get the `CtCompilationUnit`. It can be a part of the `CtElement` as each element belongs to some compilation unit.

Reference: https://github.com/SpoonLabs/diffmin/pull/65#discussion_r636910498

[2021-05-21 16:06] LakshyAAAgrawal commented on #3118
Sir,

Could you please clarify what is the actionable point to close this issue? As per my understanding, a documentation task is remaining to clarify point number 1 and 3 from my previous comment in the spoon docs. Kindly let me know if there is any other task remaining.

[2021-05-21 23:20] djaekim commented on #3150
Hi, is there a work around for case as shown below?

https://github.com/apache/kafka/search?q=StreamsUpgradeToCooperativeRebalanceTest

There are multiple StreamsUpgradeToCooperativeRebalanceTest.java in different folder.

Thank you in advance

[2021-05-23 09:14] andrewbwogi commented on #3942
There have been several issues opened about `CtCompilationUnit` lately. It is quite hidden in the library for such a common entity, it would be good to make it more prominent. You can already do `ctElement.getPosition().getCompilationUnit()`, so directly exposing `getCompilationUnit` in `CtElement` seems harmless.

Note that in general, it is not the case that each `CtElement` belongs to some comp

[2021-05-23 12:50] slarse commented on #3942
I'd say it's the opposite. In general, it's the case that each `CtElement` belongs to a compilation unit, but there are exceptions (such as the one you mentioned). Just like in general, each element has a parent, but there are exceptions.

I wouldn't involve `SourcePosition` into this, that just represents the original state of the element as it was during parsing. Elements without a position can

[2021-05-23 20:22] algomaster99 commented on #3942
@andrewbwogi

Apart from Simon's explanation, I want to point out a minor detail. This returns the [`CompilationUnit`](https://github.com/INRIA/spoon/blob/2cd3e86f47ecae546db6842d2341d906aa00b58b/src/main/java/spoon/reflect/cu/CompilationUnit.java#L17) which has been deprecated. @slarse why was this interface created in the first place when it is exactly same as [`CtCompilationUnit`](https://githu

[2021-05-24 06:32] slarse commented on #3942
`CompilationUnit` is the original class, and it was not a `CtElement`. `CtCompilationUnit`, which is a `CtElement`, effectively replaced `CompilationUnit` a couple of years back, and the `CompilationUnit` interface was kept only for backwards compatibility. See #2702.

Yes, see my code snippet.

The source position must be immutable. Otherwise it does not make sense. It's fine if the CU of the sou

[2021-05-24 08:19] algomaster99 commented on #3942
Is it because it tells where the CtElement originated from? And that should not change even if the compilation unit is changed.

Your code snippet internally uses the factory methods which use source position to get the compilation unit. Especially `getOrCreate(CtType)` does that. See [here](https://github.com/INRIA/spoon/blob/2cd3e86f47ecae546db6842d2341d906aa00b58b/src/main/java/spoon/reflect/fa

[2021-05-24 08:35] slarse commented on #3942
Oh, woopsie. Actually, that might be considered a bug in `getOrCreate`.

I'm not sure what you mean by "if `null` is passed". The method I proposed doesn't take any arguments. It just retrieves the CU the receiver belongs to.

Even if it did take an argument, there is no "unnamed type" in Java's language model. Spoon is designed to reflect the semantics of Java, and an unnamed type simply does not

[2021-05-24 08:46] algomaster99 commented on #3942
Oh, okay. I will open a ticket for this. But don't propose a solution yet. I am assuming it is not urgent so it can wait. I will submit a PR for that soon. 😅

I meant this snippet only.

[code]

I will explain its purpose under the next blockquote. It is not very significant thought.

I was just trying to make `getOrCreate` in the `CompilationUnitFactory` adhere more to its name and just force it

[2021-05-24 08:56] #3940 closed

[2021-05-24 09:08] slarse commented on #3942
See my edit to that comment.

I disagree with that design philosophy. If input is unreasonable for the requested action, it's better to let the caller know that by throwing (or as is often the case returning `null`, although I dislike that in general) than to do something that has no purpose or makes no sense.

[2021-05-24 09:14] algomaster99 commented on #3942
Yes, I saw. I agree with it. But should we open an issue so that we may come back later?

Sounds good. My philosophy came from how Django implements `get_or_create`. But of course, there are cases when it throws an exception too.

[2021-05-24 15:28] djaekim opened #3948 "bug: Exception in thread "main" spoon.compiler.ModelBuildingException: The type package-info is already defined"
Exception in thread "main" spoon.compiler.ModelBuildingException: The type package-info is already defined

	at spoon.support.compiler.jdt.JDTBasedSpoonCompiler.reportProblem(JDTBasedSpoonCompiler.java:600)
	at spoon.support.compiler.jdt.TreeBuilderRequestor.acceptResult(TreeBuilderRequestor.java:29)
	at spoon.support.compiler.jdt.TreeBuilderCompiler.buildUnits(TreeBuilderCompiler.java:87)
	at spo

[2021-05-24 20:37] djaekim commented on #3948
It was a silly error on my part. Please ignore this issue, thank you!

[2021-05-24 20:37] #3948 closed

[2021-05-25 02:25] djaekim opened #3950 "Bug: Exception in thread "main" java.lang.NullPointerException: Cannot read field "compoundName" because "memberType.binding" is null"
[code]

I run into this exception at `launcher_test.buildModel();`

[2021-05-25 02:34] djaekim opened #3951 "Bug: Not allowed javaletter or keyword in identifier found"
[code]

Occurs for https://github.com/apache/ignite/commit/b1529fbd7d42e3f3a5500a217a2b8b21acbb4189

[2021-05-25 06:11] slarse commented on #3948
May I ask what the silly error was? Perhaps we can provide a better error message.

[2021-05-25 06:16] slarse commented on #3950
Thanks for the bug report!

Could you share the project you're trying to build a model for?

[2021-05-25 06:25] slarse commented on #3951
Thanks for the bug report. This may be related to #3913.

[2021-05-25 10:32] djaekim opened #3952 "Bug: Exception in thread "main" java.lang.RuntimeException: Invalid package name $packageName"
[code]

Occured for Apache Camel@aa9aa3575e1

[2021-05-25 10:35] djaekim commented on #3950
I encountered this exception in:
- Flink@21c44688e9
- androidx@b5ae05804ed
- bazel@024deb5826
- quarkus@997d827693
- springboot@ae24d66af7
- vespa@f77660fde6

[2021-05-25 10:47] djaekim commented on #3948
Thank you for the quick response!

I had 3 `buildModel` for instrumenting different folders. I only set  `setIgnoreDuplicateDeclarations`, on 2/3 modules.

[2021-05-25 10:56] slarse commented on #3948
Ah, I see. Were there actually duplicated `package-info.java` files? I.e. there were duplicated packages across those directories containing `package-info.java` files?

In any case, I think the error message isn't great, it would better read something like `the type <TYPE> is already defined in package <PACKAGE>`. `package-info` also isn't a type, so that makes it even more confusing.

[2021-05-25 11:13] slarse commented on #3950
Cool, thanks, problem is reproducible for me. I'm pretty sure this is a duplicate of #3572.

I also think that this is related to ignoring duplicate declarations, because when doing so, it's possible for type bindings to be null. The fix for this bug is trivial, what's going to be tricky is to create a minimal test case.

[2021-05-25 11:14] slarse commented on #3572
FYI this cropped up again in #3950. I'll start working on a fix this afternoon.

[2021-05-25 12:10] monperrus opened #3953 "write an architectural test to check that change listeners are all called appropriately"
We need to discuss, define and implement a contract about when change listeners should be called.

follow-up of https://github.com/INRIA/spoon/issues/3940

[2021-05-25 13:22] monperrus commented on #3919
Super useful transformation, thanks for the link

[2021-05-25 14:36] djaekim opened #3954 "Bug: Exception in thread "main" java.lang.IllegalStateException: Module should be known"
[code]

This occurs for https://github.com/facebook/buck/commit/b3b2934165, when use `launcher.getEnvironment().setComplianceLevel(9); // Java 9`

[2021-05-26 13:44] slarse commented on #3950
Determined that this is caused by the type binding of a nested type being null when a type binding must be searched for. The whole searching for type bindings is explained in some detail in #3709

[2021-05-26 14:46] slarse commented on #3937
Sure, just call `typeRef.setSimplyQualified(true)` on any type reference you want to set to simply qualified. If you want to do that dynamically for a given type, and we for a moment pretend like star imports aren't a thing, you could do something like this:

[code]

If it's just about printing, you can also use the auto-importer by setting `Environment.setAutoImports(true)` for the pretty printer

[2021-05-26 16:42] andrewbwogi commented on #3952
Hi @djaekim, I can't reproduce this problem. Can you share how you set up the `Launcher` before you build the model?

[2021-05-26 17:23] djaekim commented on #3952
Hi, it is shown below:

[code]

I was able to reproduce this now: `Exception in thread "main" java.lang.RuntimeException: Invalid package name $`

[2021-05-27 11:47] andrewbwogi commented on #3952
I get the same error. I'll check out why it happens.

[2021-05-27 11:47] andrewbwogi commented on #3954
The same exception occurs for me. Thanks for the bug report @djaekim!

[2021-05-28 02:29] Rohitesh-Kumar-Jain commented on #3919
Hi @slarse,

I have one question what is [spoon-pom](https://github.com/INRIA/spoon/blob/master/spoon-pom/pom.xml) is for, and what is [pom](https://github.com/INRIA/spoon/blob/master/pom.xml) is for.

I am actually trying to replace ```@Rule ``` with ```@ExtendWith``` in this [Class](https://github.com/INRIA/spoon/blob/master/src/test/java/spoon/reflect/reference/CtTypeReferenceTest.java), for th

[2021-05-28 06:22] slarse commented on #3919
Hi @Rohitesh-Kumar-Jain,

`spoon-pom` is the parent pom-file for the Spoon modules. If you have a look in e.g. the `spoon-core` pom file, you'll see that it declares the `spoon-pom/pom.xml` file as its parent.

We typically put test dependencies into `spoon-pom/pom.xml` so they are available to all inheriting pom-files.

[2021-05-28 06:54] rossidaniel93 opened #3963 "Spoon adds package's fully-qualified name to enum"
Hi,
In my original code, I have an interface declaration as below, that declares an enum called DRAG_STATUS:

[code]

In `MainActivity.java` i have this piece of code:

[code]

When Spoon fixes the application, this is the result:

[code]

but at compile time, I have this error:
[code]

Is this an intended behaviour?

Thanks

[2021-05-28 07:14] slarse commented on #3951
I've figured out why this happens. When a generic type is instantiated in a try-with-resources, and it's not actually a closeable resource, JDT resolves it as a `ProblemReferenceBinding` with a compound name that includes the entire declaration (e.g. `Type<K,V>`) instead of a `PrameterizedTypeBinding`. It therefore fails the JLS identifier check.

[2021-05-28 07:36] slarse commented on #3963
Hi!

If Spoon can't resolve the package of a type, it will guess that it's defined in the package in which it is used. This applies to using Spoon in noclasspath mode. The default settings of the pretty-printer is then to print fully qualified paths. Obviously, that combination of strategies did not work out here. How exactly are you using Spoon, and which resources are you providing to it? Could

[2021-05-28 08:58] slarse opened #3965 "Refactor `ReferenceBuilder.getTypeReference(TypeBinding, boolean)`"
I'm currently trying to fix a bug in `ReferenceBuilder.getTypeReference(TypeBinding, boolean)` related to #3951, and it's just too complex a method. It's 250 lines long and incredibly complicated. I need to refactor the method before I can fix the bug, or I'll just make it even worse.

[2021-05-28 09:19] slarse commented on #3965
I'm going to do this in several PRs because the method is just that complex. It's a key component of Spoon, too, so I think it deserves some attention :)

[2021-05-28 11:51] Rohitesh-Kumar-Jain opened #3967 "track progress of @Rohitesh-Kumar-Jain - GSoC 2021 student"
Hi all,

This issue is for keeping track of my deliverables and work in the Google Summer of Code, also this issue can be used for communication between mentors/org members and the student.

Org members feel free to drop suggestions and feedback regarding the GSoC program : )

## Timeline

Here's a link to the [official GSoC timeline](https://summerofcode.withgoogle.com/how-it-works/#timeline).

|

[2021-05-28 13:39] shuchi03 commented on #3880
Thank you for your time. I will also try to reproduce it. Thank you so much for helping me till this point. I will let you know if I have something to share.

[2021-05-31 08:50] #3572 closed

[2021-05-31 08:50] #3950 closed

[2021-05-31 09:46] slarse commented on #3913
I'm looking into this.

[2021-05-31 10:14] sok82 commented on #3926
Hi @slarse.

Thanks a lot for your comments.

Fortunately I managed to fix all that was necessary by myself - the way that I described above with custom classloader.

I'm sure, that solution that you provided suits some 'standard'  scenario, but not my case.
I'm planning to analyze multiple projects, so I just can't be always sure that there would be a pom.xml file. At the same time most of the pr

[2021-05-31 10:53] slarse commented on #3926
Then I would use `setSourceClasspath`. It looks to me like your custom classloader just uses the `URLClassLoader` with paths to the JARs, which is equivalent to just setting the classpath for Spoon's default loader (which is `URLClassLoader`).

This is a safety measure, it doesn't find the classpath for you. It's just to ensure that all types are actually available. If you require all types to be

[2021-05-31 12:43] slarse commented on #3913
I tinkered with this a little bit before lunch and found minimal test input to reproduce it:

[code]

There are a few important details to trigger the behavior:

1. There has to be some form of error with the constructor invocation, such that the proper binding is not resolved (e.g. constructor does not exist or is not on the classpath). In the above example, there's no constructor that takes para

[2021-05-31 15:29] slarse commented on #3653
Having a quick look at the release notes, it seems like there are only 2 new stable features and 1 new preview feature that require extensions in Spoon. IMO preview features are not worth supporting, though.

### Stable features

* Records ([JEP 395](https://openjdk.java.net/jeps/395))
    - We need a new `CtRecord` interface to model it
    - Note: This is pure syntactical sugar, it just generate

[2021-05-31 19:11] sok82 commented on #3926
Thanks for clarification @slarse.

Now I see where I lost context and what I could do wrong.

I don't like playing with classloaders also) This seems like some magic for me sometimes - need to keep fingers crossed..
So when I have free time I'll try to use your advice - maybe I missed something when I was struggling with this before.

Thanks a lot and have a nice coding

[2021-05-31 20:18] slarse commented on #3926
You're welcome, hope it all works out to your liking!

[2021-06-01 05:44] #3913 closed

[2021-06-01 06:17] slarse commented on #3913
This is now tfixed, thanks for reporting it @tiwatsuka

[2021-06-01 08:57] monperrus commented on #1908
FYI
Automatic task-based parallelization of C++ applications by source-to-source transformations
http://arxiv.org/pdf/2105.10726

[2021-06-02 06:09] #3951 closed

[2021-06-02 12:49] andrewbwogi commented on #3952
The problem comes from a resource file with a .java extension but containing some non-Java syntax:

https://github.com/apache/camel/blob/eacc108d2702ffecc3316dfc4fb8fbac4b760d69/archetypes/camel-archetype-api-component/src/main/resources/archetype-resources/__artifactId__-component/src/main/java/__name__Component.java#L23

It is perhaps a template from which syntactically correct programs are gene

[2021-06-02 13:55] slarse commented on #3952
@andrewbwogi nice find!

@djaekim This highlights a general problem: adding the root of a source code repository as an input resource to Spoon is pretty error prone. It will try to parse _anything_ with a `.java` extension, regardless of where it finds it. Spoon will do everything it can to make sense of the situation, but sometimes the underlying JDT compiler just comes back with absolute nonsens

[2021-06-02 13:58] slarse commented on #3952
To be clear, this isn't something that we can really fix.

We should however try to provide a better error message, pinpointing the location (at the very least the source file) of where the bad name occurs.

[2021-06-02 14:18] djaekim commented on #3952
Thank you

Thank you the suggestions and time in investigating this issue. Yes, it's impossible to do anything in this case. I am trying to analyze the entire repository to recursively obtain all source code called within test code, so functionality such as "setIgnoreDuplicateDeclarations" is definitely helpful in my case

[2021-06-02 14:30] slarse commented on #3952
One thing that comes to mind here is that we could add some form of "ignore errors mode", where Spoon will just drop any compilation units that it can't parse. That is to say, encounter a crash when parsing some file? Don't include anything from that compilation unit in the model.

@monperrus Any thoughts on adding such a liberal parsing mode to Spoon? It would sure help e.g. Sorald as well, as in

[2021-06-02 16:24] slarse commented on #1846
I want to resurrect this discussion. When type parameters are used in the return type only, it gives an illusion of type safety that often does not exist because of type erasure. Using the type parameter directly as the return type is _kind of_ innocuous as it's semantically equivalent to just casting. Using the type parameter inside of a generic in the return value is _very bad_ because of type e

[2021-06-03 10:13] monperrus commented on #3638
FYI, about architectural tests in CI:

Architecture violations detection and visualization in the continuous integration pipeline (SPE 2021)
https://onlinelibrary.wiley.com/doi/10.1002/spe.3004?af=R

[2021-06-03 12:54] monperrus commented on #3952
To some extent, this was the core design idea when we introduced noclasspath. So it may be a bug of the noclasspath lenient try/catch block.

Otherwise, if we stretch too much the concept of `noclasspath`, we can introduce and document a new mode `allow_invalid`.

[2021-06-03 12:59] monperrus commented on #1846
Thanks a lot @slarse for the essay.

For sake of backward compatibility, we probably won't change the existing methods.

However, better documentation and new improved versions of API methods are very welcome.

[2021-06-03 14:13] slarse commented on #3952
I've had a look and it seems to me like all we need to do for allowing errors is to wrap these unit compilation traversals in try/catches (perhaps even just the first one is sufficient):

https://github.com/INRIA/spoon/blob/10959bf91f014961be75dc5ef301fe9b41f602e8/src/main/java/spoon/support/compiler/jdt/JDTBasedSpoonCompiler.java#L435-L442

We'll catch any exception, log a warning, and then keep

[2021-06-04 07:33] Rohitesh-Kumar-Jain commented on #3967
Hi @nharrand, @monperrus and @slarse.

I wanted to ask what is the best approach to write tests for Spoon. (I wanted to ask what steps should I follow ?)

Currently, like for writing test for [NameFilter](https://github.com/INRIA/spoon/blob/2fff4c50266f79bc06b961e3b01ca6c6e0fcc1ab/src/main/java/spoon/legacy/NameFilter.java) class. My approach was to first try to read the class itself and tried to

[2021-06-04 07:58] monperrus commented on #3952
Agree.

[2021-06-04 08:32] slarse commented on #3967
Just to clarify, Descartes is not meant to measure line coverage. It _does_ measure line coverage, but its purpose is to measure test strength through extreme mutation testing. Its the mutation testing that takes time, while standard code coverage metrics are very quick to compute.

To just get code coverage (line and branch), all you need to do is to run Spoon's test suite and then generate a cov

[2021-06-04 08:36] slarse commented on #3967
To clarify the purpose of code coverage and Descartes:

With standard code coverage metrics (line and branch), we can find _untested_ code. If code is not covered, it's definitely not being tested.

With Descartes, we can find untested code as well, but more importantly we can find _poorly tested_ code. That is to say, code where we have coverage, but mutating the code does not cause any tests to

[2021-06-04 08:55] Rohitesh-Kumar-Jain commented on #3967
Thanks for clarifying the purpose of the code coverage and the mutation testing : )

So this means that perfect testing means 100% code coverage and that coverage should be tested by Descartes for checking their strength?

[2021-06-04 08:57] Rohitesh-Kumar-Jain commented on #3967
Thanks for sharing, I wasn't aware of this.

[2021-06-04 09:21] slarse commented on #3967
Short answer: no.

Long answer: This is a very complex topic with a lot of different views. But right off the bat, I can tell you that there is no such thing as perfect testing. At best we can speak in relative terms: X is better than Y.

When it comes to code coverage, it's generally accepted that higher coverage is better than lower coverage. The problem that spawns from that is that developers

[2021-06-04 11:41] Rohitesh-Kumar-Jain commented on #3967
Thanks, I have got the point, will keep this in mind : )

[2021-06-04 13:40] algomaster99 opened #3977 "Two ways to specify a path for an element makes it ambiguous"
There are two `CtPath`s possible to identify a statement in a body which I think is confusing. In my opinion, there should be one-to-one mapping from a `CtPath` to a `CtElement`. Consider the following example:

[code]

Two paths are possible for `int b =2;`:
1. `#containedType[name=Test]#method[signature=helloWorld()]#body#statement[name=b]`.
2. `#containedType[name=Test]#method[signature=helloWo

[2021-06-04 13:50] slarse commented on #3977
[code]

Path nr. 1 gives `int b =  2`, path nr. 2 gives `int c = 3`

[2021-06-04 21:47] algomaster99 commented on #3977
[code]

I created a model of this file and deleted the `int a = 1` using:
[code]

After that `new CtPathStringBuilder().fromString("#containedType[name=Test]#method[signature=helloWorld()]#body#statement[index=0]").evaluateOn(prevPackage)` and `new CtPathStringBuilder().fromString("#containedType[name=Test]#method[signature=helloWorld()]#body#statement[index=1]").evaluateOn(prevPackage)` were retu

[2021-06-05 08:02] k4n5ha0 opened #3979 "spoon will support cross files dataflow？"
hi，pls tell me，did spoon will support cross files  dataflow？i find some sec sast lib. but they don't support cross files  dataflow.

[2021-06-05 17:13] slarse commented on #3977
@algomaster99 Given your original piece of code, if the first statement is removed, the wrong element is resolved using index, but the correct element is resolved using name.

[2021-06-05 17:17] algomaster99 commented on #3977
I was not able to reproduce that. During the runtime, I deleted `int a = 1` and tried to evaluate elements using `index` like I have written in my previous comment. It works well.

[2021-06-05 17:22] slarse commented on #3977
I'll try to make it more clear. This path:

[code]

Evaluated on the _original model_ yields `int b = 2`, but on the _modified model_ it yields `int c = 3`. Modifying the model invalidates the path.

This path:

[code]

Evaluated on the _original model_ yields `int b = 2`, and on the _modified model_ it _still_ yelds `int b = 2`. It is therefore more resilient to changes in the model.

[2021-06-05 17:45] algomaster99 commented on #3977
Yeah, this is exactly what is happening which is a good thing for `diffmin`. It is considering the shift in indices but I agree this may not be favourable everywhere.

[2021-06-06 07:27] andrewbwogi commented on #3952
There are two tasks then:

1. Print the file name of the failing compilation unit in an error message.
2. Create a new non-default mode `allow_invalid` that catches any exception and resumes modeling.

It would be good to have an exception specific to syntax problems so that other exceptions can be handled separately. I can investigte this further.

[2021-06-06 08:30] slarse commented on #3952
Yes, with the logger.

I've already done the implementation but I don't think we want to add this as a classpath-related mode. It's not a a mutually exclusive concept to either `classpath` or `noclasspath` modes, rather it's orthogonal to them, and so shoving it into those classpath-related modes doesn't really make sense. For example, you can have a fully resolved classpath and still have a parsi

[2021-06-07 09:18] monperrus commented on #3967
Fully agree. High coverage with strong assertions means good testing. Jacoco is responsible for checking the former, Descartes is responsible for checking the latter.

[2021-06-08 16:07] monperrus commented on #1918
FYI, a paper on that topic "Semantic Patches for Adaptation of JavaScript Programs to Evolving Libraries." https://cs.au.dk/~amoeller/papers/jsfix/paper.pdf

[2021-06-09 07:24] monperrus commented on #1908
[How Our Engineering Team Used Python's AST to Patch 100,000s of Lines of Code](https://engineering.soroco.com/abstract-syntax-tree-for-patching-code-and-assessing-code-quality/)

[2021-06-09 15:08] andrewbwogi commented on #3979
Hi @k4n5ha0, [spoon-dataflow](https://github.com/INRIA/spoon/tree/master/spoon-dataflow) is a prototype and does not support interprocedural analysis except for small methods like getters and setters. It is not clear from test cases if this is supported across files. I can look it up if it is sufficient functionality for your requirements.

This package has not been updated for some time, I think

[2021-06-10 06:36] slarse opened #3984 "About test method contracts: should we be dogmatic about them?"
There is a (afaik unwritten) rule in Spoon that tests should start with an inline comment specifying the contract of the test. A lot of the time, this is useful as tests often recreate complex states to reproduce some bug under some incredibly specific circumstances. However, there are times when these comments are incredibly redundant.

For example, have a look at this test (a logically identical

[2021-06-10 09:39] andrewbwogi commented on #3984
This seems like a governance issue. It's easier to require comments on all tests than manually deciding for each test whether it's complex enough to warrant a comment. I agree with you that duplication is bad but if small examples as yours are not very frequent, I think it's worth the price. Then we should rather elevate test contracts from unwritten rules to requirements automatically checked.

T

[2021-06-10 11:26] slarse commented on #3984
To me, this is the only feasible argument. Making things easier for maintainers is a completely valid argument. But this precludes that the contract comments are a good idea in general, and of this I am not convinced. Note also that only about half of the tests in Spoon even have contract comments, and so an architecture test at this point seems infeasible.

I have three arguments for why it's bet

[2021-06-10 11:32] slarse commented on #3984
Just for the record, I'm not saying I'm right. This is just my opinion, I'm open to be convinced otherwise.

At the very least, the end result of this discussion will be that we actually add the conclusion to the contributing guidelines. That way, we have something to reference when reviewing pull requests that don't follow whatever we agree on here!

[2021-06-10 13:21] slarse commented on #3984
Changed the title as I fell like it's not about _if_ we should specify the test contract, but _how_.

[2021-06-10 13:35] k4n5ha0 commented on #3979
thx!

[2021-06-10 13:35] #3979 closed

[2021-06-11 06:52] monperrus commented on #3942
This can be see as a derived property, a helper API method, so it's a good idea. The key design is what to return when there no CU: return Null, a NoCompilationUnit fake object or throw an exception

[2021-06-11 07:11] slarse commented on #3942
@monperrus The only reasonable return value for `CtElement.getCompilationUnit()` is the `CtCompilationUnit` that the element currently belongs to. This may or may not be the compilation unit from which it was parsed.

However, all current ways of getting the compilation unit of an element return the compilation unit from which the element was originally parsed. I think it's fine if when the CU has

[2021-06-11 07:17] monperrus commented on #3984
We want to have strong and meaningful contracts as much as possible. I'd say that the number of quality of specified contracts we have in the code base is already much higher than the average in good projects.

In the best possible way. If it works with the method name only, fine. But in some cases

1. It's not human readable
2. The method name encourages short contracts while real world contracts

[2021-06-11 07:19] andrewbwogi commented on #3984
A central problem concerns duplication. I'd even say that there is no duplication here except in a shallow or accidental sense. The reason is that code and comments belong to separate categories of language that are essentially different, namely the formal and the conceptual. The former is adapted for machines, the latter entirely for humans. The fact that a line of code sometimes mimics the conce

[2021-06-11 07:27] monperrus commented on #3942
Fully agree.

The question I'm asking is about the behavior when no ancestor has a compilation unit.

[2021-06-11 07:42] slarse commented on #3942
Yes, I got that, and that is indeed a key question. I would say either throw an exception, or the null object. But not `null` itself :). For clients, I think throwing an exception is the best solution, because an element not in any way being associated with a compilation unit only happens if you have created an element at runtime and not associated it with some preexisting element. It's an excepti

[2021-06-11 08:36] slarse commented on #3984
@monperrus

That depends on how you write it. If it's `testGetReferenceFromParameterizedBindingIsReferenceWithExpectedTypeParameters`, then perhaps not. If it's instead written `getReference_fromParameterizedBinding_isReferenceWithExpectedTypeParameters`, I find it perfectly human readable, and a contract `// contract: getReference returns a reference with the expected type parameters when passed

[2021-06-11 09:11] slarse commented on #3984
My suggestion for the contributing guidelines is as follows:

And then we add an example of each. This will make it easier to contribute. And for me, less painful to review a well-written and clear test :)

I don't think this in any way will add maintainer workload, because maintainers must still inspect the tests and verify the contracts. Thus, deciding whether the existing method name is suffici

[2021-06-13 15:59] andrewbwogi commented on #3984
I grant that the method name can replace the contract comment if it can be made short. But here it looks like the method name is doing something it was not designed for. The natural language contract is easier to read and aesthetically more pleasing to me.

[2021-06-14 09:45] slarse commented on #3984
@andrewbwogi Just an FYI my answer here is somewhat unrelated to the issue, as the conclusion of this issue is to not require a contract when it's obviously redundant. But I find the discussion interesting so here goes.

I see no reason why a test method name should be short. As long as it doesn't break the line limit, it's fine to me.

Not so. The whole point of naming a procedure is to communica

[2021-06-14 10:04] slarse commented on #3942
Not quite sure what you mean with `replace` and `insert`, but I don't think there's any need to extend or modify the API for mutating compilation units. We have mutators inside of `CtCompilationUnit`, which is sufficient. Changing the compilation unit of a type is such a rare use case that I don't think it's warranted to add additional helpers for this.

Let's focus this issue on `CtElement.getCom

[2021-06-14 13:30] Rohitesh-Kumar-Jain commented on #3967
Hi,

[Substitutuion.java](https://github.com/INRIA/spoon/blob/master/src/main/java/spoon/template/Substitution.java), is big and a poorly tested class with mutation coverage of only 42% and test strength of 65%.

<img width="755" alt="Screenshot 2021-06-14 at 6 47 07 PM" src="https://user-images.githubusercontent.com/62026125/121898363-ee077800-cd40-11eb-8742-120bd5dc1ce2.png">

It's a big class a

[2021-06-14 14:12] Rohitesh-Kumar-Jain commented on #3967
I was aiming to improve the strength of this overloaded function `insertAllSuperInterfaces`, but I am unable to its existing tests, how to find those tests?

<img width="1400" alt="Screenshot 2021-06-14 at 7 37 21 PM" src="https://user-images.githubusercontent.com/62026125/121905871-31b1b000-cd48-11eb-86bc-e9603da70c2f.png">

[2021-06-14 20:08] algomaster99 commented on #3942
We would need to change the compilation unit of a specific element only when that element is inserted or put as replacement in a different model, right? This is why I thought we would need to take care of updating compilation units in `replace` and `insert` APIs.

Prior to that, we need to figure out a way to update the compilation units too. Otherwise, the current solution will compel us to be de

[2021-06-15 15:00] Rohitesh-Kumar-Jain commented on #3967
@monperrus, @slarse & @nharrand

I have a question, we have a method called `insertAllfields` in a class called [`Substitution`](https://github.com/INRIA/spoon/blob/master/src/main/java/spoon/template/Substitution.java), that method isn't being used anywhere, plus the visibility of the substitution constructor is private, so how can I test that method?

![Screenshot 2021-06-15 at 8 28 54 PM](https

[2021-06-15 15:22] slarse commented on #3967
@Rohitesh-Kumar-Jain The method is static. You don't need to, even should not, instantiate the class to use the method. Simply call the method directly on the class (i.e. `Substitution.insertAllFields(someType, someTemplate)`).

[2021-06-16 08:23] slarse commented on #3890
By next week I of course meant next month when Travis CI has already stopped working.

Looking at this right now. It's of course possible to just port the CD script to some other platform, but while we're at it, we may want to consider simplifying the CD process. The script is fairly complex and fragile. One example of extreme fragility is that it relies on the version number in `pom.xml` being on

[2021-06-16 09:12] slarse commented on #3177
Revisiting this topic.

The amount of issues are steadily increasing here, and there are ~17-18 stale pull requests.

I think automatically closing both issues and pull requests is a good idea. The contributing guidelines say that issues and PRs that haven't seen activity in 3 months are closed automatically, but this is not actually enforced.

**For pull requests**, I suggest that Probot notifies

[2021-06-19 08:42] Ahmedfir opened #3997 "Reproduceable BUG: spoon.reflect.declaration.CtMethod#clone : statement invoking method with a string concatenation expression as argument"
How to reproduce?

1. Check-out the project Lang-1 (fixed version).
2. create a `Launcher launcher = new Launcher();`.
3. set a diff-only printer to the launcher  `launcher.getEnvironment().setPrettyPrinterCreator(() -> new SniperJavaPrettyPrinter(launcher.getEnvironment()));`
2. load the test class `FastDateParserTest` and clone the method `testSdfAndFdp` and add it to the class as `testSdfAndFdp

[2021-06-19 11:42] Ahmedfir commented on #3997
It was a classpath issue. Passing the compiled source code as classpath to the launcher fixed the issue. (usually, and for this example the *.class files are somewhere under the target/ folder).

Sorry for disturbing...

[2021-06-19 14:27] slarse commented on #3997
Hi @Ahmedfir,

We don't get disturbed, we're always happy to get feedback from users! It's much better when users take the time to reach out to us than stay silent about issues.

If I understand correctly, you provided a single test class as input to Spoon from some project? That can indeed cause problems, as Spoon has to "guess" a bunch of things when running in noclasspath mode (see [the usage d

[2021-06-19 14:29] slarse commented on #3997
I'm just gonna reopen this until we've determined whether this actually is a user error, which I'm not convinced it is (even if different usage solved the problem, may still be a noclasspath bug).

[2021-06-19 15:08] Ahmedfir commented on #3997
Thank you for your quick answer and for your understanding!

You're right, I passed only 1 test class.
I am also not sure if it does have anything to do with the classpath... By the way, it's not only the cast that was dropped but also the variable: this disappeared `((FastDateParser)fdp).`.

To get the project that I am working on, you need to install [defects4j](https://github.com/rjust/defects4

[2021-06-19 16:18] Ahmedfir commented on #3997
I have a question (I am not sure if it's related to this issue or not, so I can open a new issue if you want...):

Is there a way to append the classes to the classpath of the ClassLoader or the only existing feature currently is `launcher.getEnvironment().setSourceClasspath("myClassPath");` ?

Because once I pass the classes using this method, the parser is not able to load classes, it used to be

[2021-06-21 06:54] slarse commented on #3965
I'm satisfied with the refactoring of this method now. The next phase is to break `ReferenceBuilder` into smaller classes.

[2021-06-21 06:54] #3965 closed

[2021-06-21 18:26] moisesventura opened #4001 "Inner classes reference fails with pretty print"
A class defines two inner classes:

`   public static class ByReference extends WFSALMCAPS implements Structure.ByReference {}

    public static class ByValue extends WFSALMCAPS implements Structure.ByValue {}`

If spoon processes with PRETTY_PRINTING_MODE.FULLYQUALIFIED the references to the inner classes are correct:

`public class WFSALMCAPS extends com.ardan1.xfs.Structure<com.ardan1.xfs.gene

[2021-06-22 06:50] slarse commented on #4001
Hi @moisesventura,

Thanks for the bug report. It appears as if the declaring type on type arguments is marked implicit at some point when running with auto-import.

Here's a minimal test input to reproduce the problem when running with auto-imports enabled:

[code]

With auto-import enabled, this gets pretty-printed like so:

[code]
This causes a compile error as the reference to `Type.Nested` in

[2021-06-22 13:50] gluckzhang opened #4002 "The annotation @xxx is disallowed for this location at ..."
Hello :)

I am using Spoon to generate configuration files for [ChaosMachine](https://github.com/KTH/royal-chaos/tree/master/chaosmachine) which analyzes the resilience of try-catch blocks in Java. What I would like to annotate is catch blocks, for example:

[code]

The issue is when using the latest version of Spoon, I get the following warning message and the configuration file is not successful

[2021-06-23 16:36] shuchi03 commented on #3880
I am really sorry to inform you that my senior colleague also tried to reproduce the issue, but he couldn't. So he modified the files which were causing the issue by removing the unary operator.

[2021-06-24 00:42] eoliphan opened #4003 "Is there a way to remove modules from a MavenLauncher config?"
Hi, I'm using Spoon to help with the modernization of some legacy code.  One of of the core projects is a nightmarish maven project, that has 3 subprojects, etc of which have their own subprojects.  The overall project produces multiple war files, etc etc.  In any case, after turning Spoon loose on it, I've discovered that there are some duplicate classes, that don't cause problems for normal buil

[2021-06-24 08:00] slarse commented on #4003
Hi @eoliphan,

You're right that the `SpoonPom` offers no way to remove modules, but there you can provide `MavenLauncher` with a profile filter regex pattern, which only includes modules declared in profiles that match the regex. If it's possible to alter the core pom file that declares the modules to do so in different profiles (as appropriate to avoid duplication), that might be an option.

Ano

[2021-06-24 08:57] slarse commented on #3880
Ah, that's a super unsatisfying end to this saga, but it's totally understandable. It seems to me like this problem requires incredibly specific circumstances to appear. I'm sorry we couldn't resolve it.

Hopefully the problem resurfaces in a more easily reproducible scenario at some point.

As this problem wasn't actually solved, we'll leave this issue open for future reference. Thanks for your t

[2021-06-24 22:18] eoliphan commented on #4003
Yeah, i got around it temporarily with ignoring duplicate defs, but to your point it's probably not going to work for some of the more sophisticated stuff i need to do.  I can't really mess with the pom files themselves and given the complexity, i'd like to avoid adding stuff manually if i can.  I'm going to give the regex filter a whirl.  Thanks!

[2021-06-25 08:55] andrewbwogi commented on #4002
Hello @gluckzhang, I get the same problem. I'll check what is going on.

[2021-06-25 08:58] gluckzhang commented on #4002
Thanks @andrewbwogi !

[2021-06-27 09:18] algomaster99 commented on #3884
@slarse Found one more - `addCaseAt`. But I think it's specific to my use case as it doesn't really matter at what index a case is inserted unless someone wants the cases to have fall-through.

[2021-06-28 06:39] slarse commented on #3884
The order of case statements is semantically important, and so I think it's well within reason for Spoon to support insertion of case statements at specific indices.